<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>my_keep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,366},{155,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,169}}</string>
                <key>sourceSize</key>
                <string>{155,169}</string>
            </dict>
            <key>other_keep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,523},{155,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,169}}</string>
                <key>sourceSize</key>
                <string>{155,169}</string>
            </dict>
            <key>plus_down1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{307,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,126}}</string>
                <key>sourceSize</key>
                <string>{307,126}</string>
            </dict>
            <key>tree_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,366},{190,170}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{190,170}}</string>
                <key>sourceSize</key>
                <string>{200,188}</string>
            </dict>
            <key>tree_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{204,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,197}}</string>
                <key>sourceSize</key>
                <string>{204,197}</string>
            </dict>
            <key>tree_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,184},{196,180}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,201},{196,170}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{196,170}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_3_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{194,174}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{194,174}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_3_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{203,179}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,179}}</string>
                <key>sourceSize</key>
                <string>{203,183}</string>
            </dict>
            <key>tree_3_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,201},{192,170}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,170}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>tree_4_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{202,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,197}}</string>
                <key>sourceSize</key>
                <string>{202,197}</string>
            </dict>
            <key>tree_4_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,2},{200,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>region_only5.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad162a62f63a69fc6e73cd7660550169:6/6$</string>
            <key>textureFileName</key>
            <string>region_only5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
