<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1485},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>1_11x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2032,2002},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>3_35x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1562},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>4_32x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,1272},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>Icon_brotherClub_122x124.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,358},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{122,124}</string>
            </dict>
            <key>VS_78x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1200},{78,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>activity_title_552x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1716},{552,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,42}}</string>
                <key>sourceSize</key>
                <string>{552,42}</string>
            </dict>
            <key>alliance_flag_base_84x89.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1957},{84,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>alliance_flag_body_106x126_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,710},{104,100}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{104,100}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>alliance_flag_body_106x126_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1250},{54,124}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,124}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>alliance_join_tips_79x83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,1956},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>alliance_stage_lock_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1643},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>alliance_title_gem_bg_154x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,1086},{154,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,20}}</string>
                <key>sourceSize</key>
                <string>{154,20}</string>
            </dict>
            <key>back_ground_122x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,1272},{122,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,24}}</string>
                <key>sourceSize</key>
                <string>{122,24}</string>
            </dict>
            <key>back_ground_15x43.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,970},{15,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,43}}</string>
                <key>sourceSize</key>
                <string>{15,43}</string>
            </dict>
            <key>back_ground_256x207.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,1450},{256,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,205}}</string>
                <key>sourceSize</key>
                <string>{256,207}</string>
            </dict>
            <key>back_ground_320x146.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,816},{320,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,146}</string>
            </dict>
            <key>back_ground_540x70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,1046},{540,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,70}}</string>
                <key>sourceSize</key>
                <string>{540,70}</string>
            </dict>
            <key>back_ground_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,991},{960,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,334}}</string>
                <key>sourceSize</key>
                <string>{960,334}</string>
            </dict>
            <key>back_ground_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,991},{960,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,334}}</string>
                <key>sourceSize</key>
                <string>{960,334}</string>
            </dict>
            <key>back_ground_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,4},{960,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,334}}</string>
                <key>sourceSize</key>
                <string>{960,334}</string>
            </dict>
            <key>back_ground_red_254x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,2002},{254,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,42}}</string>
                <key>sourceSize</key>
                <string>{254,42}</string>
            </dict>
            <key>back_ground_replay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,488},{634,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{634,474}}</string>
                <key>sourceSize</key>
                <string>{638,474}</string>
            </dict>
            <key>background_768x152.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,991},{768,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,152}}</string>
                <key>sourceSize</key>
                <string>{768,152}</string>
            </dict>
            <key>bar_color_410x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,74},{408,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{408,36}}</string>
                <key>sourceSize</key>
                <string>{410,40}</string>
            </dict>
            <key>blueDragon_egg_176x192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1760},{176,190}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,190}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>bottom_bg_768x136.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,990},{768,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,136}}</string>
                <key>sourceSize</key>
                <string>{768,136}</string>
            </dict>
            <key>box_148x148.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,1086},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>box_62X98.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1046},{62,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,98}}</string>
                <key>sourceSize</key>
                <string>{62,98}</string>
            </dict>
            <key>button_blue_pressed_232x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,1310},{232,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,64}}</string>
                <key>sourceSize</key>
                <string>{232,64}</string>
            </dict>
            <key>button_red_normal_232x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,1380},{232,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,64}}</string>
                <key>sourceSize</key>
                <string>{232,64}</string>
            </dict>
            <key>button_red_pressed_232x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,4},{232,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,64}}</string>
                <key>sourceSize</key>
                <string>{232,64}</string>
            </dict>
            <key>button_wareHouseUI_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1322},{49,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,146}}</string>
                <key>sourceSize</key>
                <string>{49,146}</string>
            </dict>
            <key>button_wareHouseUI_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1474},{49,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,146}}</string>
                <key>sourceSize</key>
                <string>{49,146}</string>
            </dict>
            <key>chat_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,1114},{640,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,56}}</string>
                <key>sourceSize</key>
                <string>{640,56}</string>
            </dict>
            <key>citizen_num_bg_170x714.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,990},{170,714}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,714}}</string>
                <key>sourceSize</key>
                <string>{170,714}</string>
            </dict>
            <key>common_bg_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{647,981}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,981}}</string>
                <key>sourceSize</key>
                <string>{647,981}</string>
            </dict>
            <key>dragon_eggs_68x80.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,1114},{66,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>dragon_strength_27x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1450},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,29}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>dragon_tab_buttons_light_172x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,358},{172,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,54}}</string>
                <key>sourceSize</key>
                <string>{172,54}</string>
            </dict>
            <key>dragon_tab_buttons_normal_172x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,418},{172,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,54}}</string>
                <key>sourceSize</key>
                <string>{172,54}</string>
            </dict>
            <key>draon_garrison_btn_d_82x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1957},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>draon_garrison_btn_n_82x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1957},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>drgon_process_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1716},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>drop_down_box_bottom_572x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,968},{572,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,16}}</string>
                <key>sourceSize</key>
                <string>{572,16}</string>
            </dict>
            <key>emoji_page_8x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,1114},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>fight_62x70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,1046},{62,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{62,70}</string>
            </dict>
            <key>flag_en_83x83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1957},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>flag_zh_83x83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1956},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>flag_zh_Hant_83x83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,1956},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>fte_icon_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1284},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{50,32}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>gacha_disk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,50},{302,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{302,300}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>goldKill_icon_76x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1957},{74,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>grass_80x80_.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,1028},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>greenDragon_egg_176x192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,528},{176,180}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{176,180}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,990},{720,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,91}}</string>
                <key>sourceSize</key>
                <string>{720,91}</string>
            </dict>
            <key>hide_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1626},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>hide_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1688},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>hide_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1603},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>i_icon_24x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1677},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>icon_attack_76x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1956},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>icon_current_position_8x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2032,2032},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>icon_wall_83x103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1957},{83,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,103}}</string>
                <key>sourceSize</key>
                <string>{83,103}</string>
            </dict>
            <key>make_eq_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,46},{452,436}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{452,436}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>map_alliance_icon_81x98.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,924},{81,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,98}}</string>
                <key>sourceSize</key>
                <string>{81,98}</string>
            </dict>
            <key>map_back_99x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,1956},{99,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{99,88}</string>
            </dict>
            <key>map_city_81x102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,816},{81,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,102}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>player_VIP_bg_110x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,1840},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>player_btn_down_314x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1957},{314,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,86}</string>
            </dict>
            <key>player_btn_up_314x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1957},{314,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,86}</string>
            </dict>
            <key>process_bg_394x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1310},{394,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,40}}</string>
                <key>sourceSize</key>
                <string>{394,40}</string>
            </dict>
            <key>process_bg_village_collect_326x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,4},{326,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,40}}</string>
                <key>sourceSize</key>
                <string>{326,40}</string>
            </dict>
            <key>process_color_village_collect_326x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,1046},{322,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{322,34}}</string>
                <key>sourceSize</key>
                <string>{326,40}</string>
            </dict>
            <key>progress_bar_272x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,1956},{272,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,40}}</string>
                <key>sourceSize</key>
                <string>{272,40}</string>
            </dict>
            <key>progress_bar_410x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,488},{404,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{404,34}}</string>
                <key>sourceSize</key>
                <string>{410,40}</string>
            </dict>
            <key>progress_bar_458x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1250},{458,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,40}}</string>
                <key>sourceSize</key>
                <string>{458,40}</string>
            </dict>
            <key>progress_bar_458x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,4},{454,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{454,36}}</string>
                <key>sourceSize</key>
                <string>{458,40}</string>
            </dict>
            <key>rectangle_terrain_box_216x282.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,528},{216,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,282}}</string>
                <key>sourceSize</key>
                <string>{216,282}</string>
            </dict>
            <key>redDragon_egg_176x192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,304},{176,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,192}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>report_saved_button_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,1670},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>rhombus_iceField_83x61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,1956},{83,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,61}}</string>
                <key>sourceSize</key>
                <string>{83,61}</string>
            </dict>
            <key>shrie_power_bg_146x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1240},{146,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,26}}</string>
                <key>sourceSize</key>
                <string>{146,26}</string>
            </dict>
            <key>silverKill_icon_76x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,1760},{74,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{74,66}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>slider_bg_554x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,1200},{554,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,24}}</string>
                <key>sourceSize</key>
                <string>{554,24}</string>
            </dict>
            <key>slider_progress_538x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,970},{538,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,14}}</string>
                <key>sourceSize</key>
                <string>{538,14}</string>
            </dict>
            <key>store_item_content_black_s_588x186.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1765},{550,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,186}}</string>
                <key>sourceSize</key>
                <string>{550,186}</string>
            </dict>
            <key>store_item_content_red_s_588x186.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,1764},{550,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,186}}</string>
                <key>sourceSize</key>
                <string>{550,186}</string>
            </dict>
            <key>store_npc_2_171x130.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1114},{171,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,130}}</string>
                <key>sourceSize</key>
                <string>{171,130}</string>
            </dict>
            <key>tab_background_40x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1516},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>tab_background_578x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,990},{578,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,50}}</string>
                <key>sourceSize</key>
                <string>{578,50}</string>
            </dict>
            <key>tab_background_640x106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,1114},{640,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,106}}</string>
                <key>sourceSize</key>
                <string>{640,106}</string>
            </dict>
            <key>title_blue_430x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,50},{430,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,30}}</string>
                <key>sourceSize</key>
                <string>{430,30}</string>
            </dict>
            <key>tmp_btn_shrine_72x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,1592},{72,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>tmp_btn_shrine_74x90.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,710},{74,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>tmp_monster_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1957},{84,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,56}}</string>
                <key>sourceSize</key>
                <string>{84,56}</string>
            </dict>
            <key>top_bg_768x116.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,990},{768,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,116}}</string>
                <key>sourceSize</key>
                <string>{768,116}</string>
            </dict>
            <key>world_crown_circle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,74},{194,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,224}}</string>
                <key>sourceSize</key>
                <string>{194,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_pvr0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0dc3494beafbfd05114d1a38aee2522:1/3$</string>
            <key>textureFileName</key>
            <string>ui_pvr0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
