<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5_23x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2020},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>Icon_empireRise_91x117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,558},{91,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,117}}</string>
                <key>sourceSize</key>
                <string>{91,117}</string>
            </dict>
            <key>activity_bg_612x198.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,358},{612,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,198}}</string>
                <key>sourceSize</key>
                <string>{612,198}</string>
            </dict>
            <key>alliance_event_type_green_222x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1750},{222,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,30}}</string>
                <key>sourceSize</key>
                <string>{222,30}</string>
            </dict>
            <key>alliance_flag_box_119x139.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1334},{119,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,139}}</string>
                <key>sourceSize</key>
                <string>{119,139}</string>
            </dict>
            <key>alliance_flag_setting_panel_370x264.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1512},{370,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,264}}</string>
                <key>sourceSize</key>
                <string>{370,264}</string>
            </dict>
            <key>alliance_flag_shadow_113x79.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1404},{113,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,79}}</string>
                <key>sourceSize</key>
                <string>{113,79}</string>
            </dict>
            <key>alliance_flag_type_48x46_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1405},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_flag_type_48x46_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1924},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_flag_type_48x46_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1924},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>back_ground_134x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1750},{134,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,30}}</string>
                <key>sourceSize</key>
                <string>{134,30}</string>
            </dict>
            <key>back_ground_42x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,884},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>back_ground_520x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,358},{520,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,48}}</string>
                <key>sourceSize</key>
                <string>{520,48}</string>
            </dict>
            <key>back_ground_619x270.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,79},{619,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,270}}</string>
                <key>sourceSize</key>
                <string>{619,270}</string>
            </dict>
            <key>back_ground_619x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,355},{619,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,52}}</string>
                <key>sourceSize</key>
                <string>{619,52}</string>
            </dict>
            <key>background3_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,4},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>battery_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1214},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>battle_bg_desert_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,562},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>battle_bg_grass_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,843},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>battle_bg_iceField_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,413},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>box_132x132_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1786},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>box_gacha_senior_136x136_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1888},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>box_gacha_senior_136x136_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1888},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>bronzeKill_icon_76x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1978},{66,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{66,64}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>button_blue_normal_232x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1334},{232,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,64}}</string>
                <key>sourceSize</key>
                <string>{232,64}</string>
            </dict>
            <key>button_normal_28x210.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1644},{28,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,210}}</string>
                <key>sourceSize</key>
                <string>{28,210}</string>
            </dict>
            <key>button_pressed_28x210.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1271},{28,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,210}}</string>
                <key>sourceSize</key>
                <string>{28,210}</string>
            </dict>
            <key>dragon_animate_bg_624x606.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,57},{624,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,606}}</string>
                <key>sourceSize</key>
                <string>{624,606}</string>
            </dict>
            <key>dragon_lv_bg_270x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1214},{270,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,30}}</string>
                <key>sourceSize</key>
                <string>{270,30}</string>
            </dict>
            <key>dragon_star_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1978},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>dragon_title_bg_534x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,977},{534,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,46}}</string>
                <key>sourceSize</key>
                <string>{534,46}</string>
            </dict>
            <key>drop_down_box_content_562x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,695},{562,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,58}}</string>
                <key>sourceSize</key>
                <string>{562,58}</string>
            </dict>
            <key>exclamation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,1271},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>eyrie_584x547.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,1485},{580,547}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{580,547}}</string>
                <key>sourceSize</key>
                <string>{584,547}</string>
            </dict>
            <key>fte_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{668,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{668,348}}</string>
                <key>sourceSize</key>
                <string>{672,348}</string>
            </dict>
            <key>gacha_disk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1644},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>gacha_line_16x564_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1490},{16,562}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,562}}</string>
                <key>sourceSize</key>
                <string>{16,564}</string>
            </dict>
            <key>gacha_line_16x564_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,785},{16,560}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,560}}</string>
                <key>sourceSize</key>
                <string>{16,564}</string>
            </dict>
            <key>gacha_line_20x568_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,669},{20,564}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,564}}</string>
                <key>sourceSize</key>
                <string>{20,568}</string>
            </dict>
            <key>gacha_line_20x568_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,759},{20,562}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,562}}</string>
                <key>sourceSize</key>
                <string>{20,568}</string>
            </dict>
            <key>gem_logo_592x139_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,887},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>gem_logo_592x139_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,887},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>gem_logo_592x139_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,887},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>green_title_639x69.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,4},{639,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,69}}</string>
                <key>sourceSize</key>
                <string>{639,69}</string>
            </dict>
            <key>home_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,932},{39,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>hourglass_30x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1924},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>icon_box_grey_66x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1281},{56,46}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{56,46}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>icon_box_light_66x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1343},{56,46}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{56,46}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>icon_box_open_66x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1978},{66,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>icon_current_position.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,669},{52,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{52,80}</string>
            </dict>
            <key>player_levelup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1512},{532,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,364}}</string>
                <key>sourceSize</key>
                <string>{532,364}</string>
            </dict>
            <key>player_name_bg_168x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1678},{168,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,30}}</string>
                <key>sourceSize</key>
                <string>{168,30}</string>
            </dict>
            <key>player_operate_n_116x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,1404},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>progress_bar_272x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1214},{266,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{266,34}}</string>
                <key>sourceSize</key>
                <string>{272,40}</string>
            </dict>
            <key>progress_bar_364x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1678},{364,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,40}}</string>
                <key>sourceSize</key>
                <string>{364,40}</string>
            </dict>
            <key>progress_bar_364x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1214},{360,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{360,34}}</string>
                <key>sourceSize</key>
                <string>{364,40}</string>
            </dict>
            <key>progress_bar_364x40_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1254},{360,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{360,34}}</string>
                <key>sourceSize</key>
                <string>{364,40}</string>
            </dict>
            <key>progress_bar_yellow_364x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1294},{360,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{360,34}}</string>
                <key>sourceSize</key>
                <string>{364,40}</string>
            </dict>
            <key>progress_bg_116x89.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,1359},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>quest_icon_27x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1457},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>report_back_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,681},{584,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,92}}</string>
                <key>sourceSize</key>
                <string>{584,92}</string>
            </dict>
            <key>server_item_568x130.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,887},{568,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,130}}</string>
                <key>sourceSize</key>
                <string>{568,130}</string>
            </dict>
            <key>slider_bg_461x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,530},{461,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,24}}</string>
                <key>sourceSize</key>
                <string>{461,24}</string>
            </dict>
            <key>slider_progress_445x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,79},{445,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,14}}</string>
                <key>sourceSize</key>
                <string>{445,14}</string>
            </dict>
            <key>soldier_title_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1214},{276,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,26}}</string>
                <key>sourceSize</key>
                <string>{276,26}</string>
            </dict>
            <key>soldier_title_defence.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1214},{276,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,26}}</string>
                <key>sourceSize</key>
                <string>{276,26}</string>
            </dict>
            <key>store_item_black_610x514.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,694},{610,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,514}}</string>
                <key>sourceSize</key>
                <string>{610,514}</string>
            </dict>
            <key>store_item_red_610x514.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1124},{610,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,514}}</string>
                <key>sourceSize</key>
                <string>{610,514}</string>
            </dict>
            <key>tab_event_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,4},{638,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,47}}</string>
                <key>sourceSize</key>
                <string>{638,47}</string>
            </dict>
            <key>title_blue_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,807},{558,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,34}}</string>
                <key>sourceSize</key>
                <string>{558,34}</string>
            </dict>
            <key>title_green_292X32.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1214},{292,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,32}}</string>
                <key>sourceSize</key>
                <string>{292,32}</string>
            </dict>
            <key>title_green_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,847},{558,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,34}}</string>
                <key>sourceSize</key>
                <string>{558,34}</string>
            </dict>
            <key>title_grey_482x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,997},{482,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,30}}</string>
                <key>sourceSize</key>
                <string>{482,30}</string>
            </dict>
            <key>title_grey_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,1485},{558,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,34}}</string>
                <key>sourceSize</key>
                <string>{558,34}</string>
            </dict>
            <key>title_purple_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,1485},{558,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,34}}</string>
                <key>sourceSize</key>
                <string>{558,34}</string>
            </dict>
            <key>title_red_166x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1714},{166,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,30}}</string>
                <key>sourceSize</key>
                <string>{166,30}</string>
            </dict>
            <key>title_red_292X32.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1214},{292,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,32}}</string>
                <key>sourceSize</key>
                <string>{292,32}</string>
            </dict>
            <key>upgrade_resources_background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1517},{520,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,46}}</string>
                <key>sourceSize</key>
                <string>{520,46}</string>
            </dict>
            <key>upgrade_resources_background_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1517},{520,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,46}}</string>
                <key>sourceSize</key>
                <string>{520,46}</string>
            </dict>
            <key>upgrade_resources_background_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,755},{520,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,46}}</string>
                <key>sourceSize</key>
                <string>{520,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_pvr1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0dc3494beafbfd05114d1a38aee2522:2/3$</string>
            <key>textureFileName</key>
            <string>ui_pvr1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
