<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left_background_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,952}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,952}}</string>
                <key>sourceSize</key>
                <string>{1024,952}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jpg_png9.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2cbf2a44075d13670255a2eaa7305ef:10/13$</string>
            <key>textureFileName</key>
            <string>jpg_png9.png</string>
        </dict>
    </dict>
</plist>
