<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>right_background_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,952}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,952}}</string>
                <key>sourceSize</key>
                <string>{1024,952}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jpg_png5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d536f45c79da002f3e3778bf38d292e4:e456224e7272a820921a1f4c92e22abf:1cb6e99aa93f3c3f3e98d25cc52cffd8$</string>
            <key>textureFileName</key>
            <string>jpg_png5.png</string>
        </dict>
    </dict>
</plist>
