<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_ground_vip_608x164.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,0},{608,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,164}}</string>
                <key>sourceSize</key>
                <string>{608,164}</string>
            </dict>
            <key>background_550x170.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,800},{550,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,170}}</string>
                <key>sourceSize</key>
                <string>{550,170}</string>
            </dict>
            <key>pve_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{800,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,800}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jpg_png15.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:104103f0ca5058c1f1b717d4f4c6bea9:16/17$</string>
            <key>textureFileName</key>
            <string>jpg_png15.png</string>
        </dict>
    </dict>
</plist>
