<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>can_level_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{22,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,42}}</string>
                <key>sourceSize</key>
                <string>{22,42}</string>
            </dict>
            <key>can_not_level_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,52},{22,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,42}}</string>
                <key>sourceSize</key>
                <string>{22,42}</string>
            </dict>
            <key>level_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,100},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,119},{5,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,13}}</string>
                <key>sourceSize</key>
                <string>{5,13}</string>
            </dict>
            <key>level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,4},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,23},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,100},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>level_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,42},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>level_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,61},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>level_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,80},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>level_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,99},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>level_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,4},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level0.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e40400239361d98b4f3dcad314f4f7e:1/1$</string>
            <key>textureFileName</key>
            <string>level0.png</string>
        </dict>
    </dict>
</plist>
