<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Stars_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,657},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>activity_check_bg_55x51.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,634},{53,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
            <key>alliance_flag_button_1_h_92x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,258},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>alliance_flag_button_1_n_92x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,258},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>back_ground_258x90.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,352},{258,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,90}}</string>
                <key>sourceSize</key>
                <string>{258,90}</string>
            </dict>
            <key>back_ground_342x228.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,4},{342,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,228}}</string>
                <key>sourceSize</key>
                <string>{342,228}</string>
            </dict>
            <key>back_ground_398x97.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,616},{398,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,97}}</string>
                <key>sourceSize</key>
                <string>{398,97}</string>
            </dict>
            <key>background_500x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,126},{500,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,84}}</string>
                <key>sourceSize</key>
                <string>{500,84}</string>
            </dict>
            <key>battle_33x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,983},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>box_136x136_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,634},{132,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{132,132}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>box_buff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,352},{136,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,160}}</string>
                <key>sourceSize</key>
                <string>{136,160}</string>
            </dict>
            <key>brown_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,843},{130,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1}}</string>
                <key>sourceSize</key>
                <string>{130,1}</string>
            </dict>
            <key>cancel_39x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,983},{37,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>chat_bubble_bottom_484x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,126},{484,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,12}}</string>
                <key>sourceSize</key>
                <string>{484,14}</string>
            </dict>
            <key>chat_bubble_header_484x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,352},{484,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,38}}</string>
                <key>sourceSize</key>
                <string>{484,38}</string>
            </dict>
            <key>chat_bubble_middle_484x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,352},{484,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,20}}</string>
                <key>sourceSize</key>
                <string>{484,20}</string>
            </dict>
            <key>dark_blue_btn_down_176x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,843},{176,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,44}}</string>
                <key>sourceSize</key>
                <string>{176,44}</string>
            </dict>
            <key>dragon_load_eq_37x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,983},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>dragon_lv_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,614},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>dragon_tab_buttons_normal_172x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,843},{172,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,54}}</string>
                <key>sourceSize</key>
                <string>{172,54}</string>
            </dict>
            <key>green_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,352},{130,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1}}</string>
                <key>sourceSize</key>
                <string>{130,1}</string>
            </dict>
            <key>grey_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,177},{130,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1}}</string>
                <key>sourceSize</key>
                <string>{130,1}</string>
            </dict>
            <key>icon_current_position.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,691},{52,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{52,80}</string>
            </dict>
            <key>icon_v_37x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,983},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>line_4x45.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,126},{4,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,45}}</string>
                <key>sourceSize</key>
                <string>{4,45}</string>
            </dict>
            <key>line_624x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,4},{624,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,4}}</string>
                <key>sourceSize</key>
                <string>{624,4}</string>
            </dict>
            <key>mission_progress_bar_bg_348x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,983},{342,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{342,36}}</string>
                <key>sourceSize</key>
                <string>{348,40}</string>
            </dict>
            <key>mission_progress_bar_content_348x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,494},{342,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{342,36}}</string>
                <key>sourceSize</key>
                <string>{348,40}</string>
            </dict>
            <key>npc_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,258},{446,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,512}}</string>
                <key>sourceSize</key>
                <string>{446,512}</string>
            </dict>
            <key>power_background_red_146x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,691},{146,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,26}}</string>
                <key>sourceSize</key>
                <string>{146,26}</string>
            </dict>
            <key>progress_bar_dragon_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,352},{275,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,9}}</string>
                <key>sourceSize</key>
                <string>{275,9}</string>
            </dict>
            <key>quest_btn_down_386x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,634},{382,56}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{382,56}}</string>
                <key>sourceSize</key>
                <string>{386,62}</string>
            </dict>
            <key>quest_btn_up_386x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,634},{382,56}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{382,56}}</string>
                <key>sourceSize</key>
                <string>{386,62}</string>
            </dict>
            <key>red_btn_down_256x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,352},{256,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,40}}</string>
                <key>sourceSize</key>
                <string>{256,40}</string>
            </dict>
            <key>red_btn_up_256x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,352},{256,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,40}}</string>
                <key>sourceSize</key>
                <string>{256,40}</string>
            </dict>
            <key>res_bg_37x41.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,983},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>setting_help_64x65.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,772},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>setting_music_65x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,772},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>store_buy_icon_332x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,843},{174,28}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,38},{174,28}}</string>
                <key>sourceSize</key>
                <string>{322,76}</string>
            </dict>
            <key>strong_vs_arrow_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,983},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>tab_btn_up_110x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,776},{110,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{110,58}</string>
            </dict>
            <key>technology_line_normal_72x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,616},{72,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,12}}</string>
                <key>sourceSize</key>
                <string>{72,12}</string>
            </dict>
            <key>tips_bg_content_1_640x140.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,126},{640,126}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{640,126}}</string>
                <key>sourceSize</key>
                <string>{640,140}</string>
            </dict>
            <key>tips_bg_content_640x140.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,126},{640,126}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{640,126}}</string>
                <key>sourceSize</key>
                <string>{640,140}</string>
            </dict>
            <key>title_red_634x134.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,843},{634,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,134}}</string>
                <key>sourceSize</key>
                <string>{634,134}</string>
            </dict>
            <key>top_bg_768x116.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{768,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,116}}</string>
                <key>sourceSize</key>
                <string>{768,116}</string>
            </dict>
            <key>village_manage_66x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,777},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>vip_bg_110x124.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,776},{61,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,85}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>vip_bg_disable_110x124.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,776},{61,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,85}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>wrong_41x45.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,983},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>yellow_btn_down_134x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,494},{134,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,56}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>yellow_btn_up_134x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,494},{134,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,56}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>yellow_btn_up_148x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,776},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>yellow_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,177},{130,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1}}</string>
                <key>sourceSize</key>
                <string>{130,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9126ce94a6c57d11fb1bf91258ce60eb:2/10$</string>
            <key>textureFileName</key>
            <string>ui_png1.png</string>
        </dict>
    </dict>
</plist>
