<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alliance_join_tips_title_571x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,787},{571,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,66}}</string>
                <key>sourceSize</key>
                <string>{571,66}</string>
            </dict>
            <key>alliance_title_gem_bg_154x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,572},{154,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,20}}</string>
                <key>sourceSize</key>
                <string>{154,20}</string>
            </dict>
            <key>back_ground_588x346.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,4},{588,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,346}}</string>
                <key>sourceSize</key>
                <string>{588,346}</string>
            </dict>
            <key>background_446x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,136},{446,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,40}}</string>
                <key>sourceSize</key>
                <string>{446,40}</string>
            </dict>
            <key>background_578X278.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,136},{578,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,278}}</string>
                <key>sourceSize</key>
                <string>{578,278}</string>
            </dict>
            <key>box_426X126.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,420},{426,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,126}}</string>
                <key>sourceSize</key>
                <string>{426,126}</string>
            </dict>
            <key>brown_btn_up_34x165.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,594},{34,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,165}}</string>
                <key>sourceSize</key>
                <string>{34,165}</string>
            </dict>
            <key>dragon_tab_buttons_light_172x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,420},{172,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,54}}</string>
                <key>sourceSize</key>
                <string>{172,54}</string>
            </dict>
            <key>drop_down_box_bottom_572x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,765},{572,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,16}}</string>
                <key>sourceSize</key>
                <string>{572,16}</string>
            </dict>
            <key>green_btn_down_154x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,598},{154,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,39}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
            <key>green_btn_up_154x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,598},{154,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,39}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
            <key>green_btn_up_252x77.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,765},{252,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,77}}</string>
                <key>sourceSize</key>
                <string>{252,77}</string>
            </dict>
            <key>grey_btn_252x77.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,765},{252,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,77}}</string>
                <key>sourceSize</key>
                <string>{252,77}</string>
            </dict>
            <key>grey_btn_252x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,765},{252,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,78}}</string>
                <key>sourceSize</key>
                <string>{252,78}</string>
            </dict>
            <key>input_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,598},{422,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,40}}</string>
                <key>sourceSize</key>
                <string>{422,40}</string>
            </dict>
            <key>line_624x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,72},{624,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,58}}</string>
                <key>sourceSize</key>
                <string>{624,58}</string>
            </dict>
            <key>purple_btn_down_154x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,598},{154,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,39}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
            <key>purple_btn_down_252x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,765},{252,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,78}}</string>
                <key>sourceSize</key>
                <string>{252,78}</string>
            </dict>
            <key>purple_btn_up_154x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,598},{154,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,39}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
            <key>pve_background_568x151.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,859},{568,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,151}}</string>
                <key>sourceSize</key>
                <string>{568,151}</string>
            </dict>
            <key>slider_progress_445x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,745},{445,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,14}}</string>
                <key>sourceSize</key>
                <string>{445,14}</string>
            </dict>
            <key>store_logo_box_592x141.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,598},{592,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,141}}</string>
                <key>sourceSize</key>
                <string>{592,141}</string>
            </dict>
            <key>store_more_red_button_n_584x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,4},{584,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,34}}</string>
                <key>sourceSize</key>
                <string>{584,34}</string>
            </dict>
            <key>title_blue_600x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,420},{600,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,56}}</string>
                <key>sourceSize</key>
                <string>{600,56}</string>
            </dict>
            <key>tmp_back_ground_104x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,420},{104,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,24}}</string>
                <key>sourceSize</key>
                <string>{104,24}</string>
            </dict>
            <key>tmp_background_624x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{624,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,62}}</string>
                <key>sourceSize</key>
                <string>{624,62}</string>
            </dict>
            <key>tmp_battle_btn_up_296x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,552},{296,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,40}}</string>
                <key>sourceSize</key>
                <string>{296,40}</string>
            </dict>
            <key>tmp_brown_btn_up_36x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,530},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>yellow_btn_down_154x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,598},{154,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,39}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
            <key>yellow_btn_up_154x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,598},{154,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,39}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ccdf5353cb4ccf47c73a2ce1788878f:9faba4778be0b106ce5e91bdd4642e1f:39442dfca8f6c7372ed050ea490c4ab9$</string>
            <key>textureFileName</key>
            <string>ui_png4.png</string>
        </dict>
    </dict>
</plist>
