<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_11x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,943},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>VIP_10_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,973},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>back_ground_130x166.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,581},{130,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,166}}</string>
                <key>sourceSize</key>
                <string>{130,166}</string>
            </dict>
            <key>back_ground_166x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,853},{166,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,84}}</string>
                <key>sourceSize</key>
                <string>{166,84}</string>
            </dict>
            <key>back_ground_284x128.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,102},{284,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,128}}</string>
                <key>sourceSize</key>
                <string>{284,128}</string>
            </dict>
            <key>back_ground_83x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,884},{83,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,32}}</string>
                <key>sourceSize</key>
                <string>{83,32}</string>
            </dict>
            <key>background_330x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,497},{330,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,78}}</string>
                <key>sourceSize</key>
                <string>{330,78}</string>
            </dict>
            <key>box_136x136.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,884},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>box_136x136_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,236},{122,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{122,120}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>box_620x628.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,176},{620,628}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,628}}</string>
                <key>sourceSize</key>
                <string>{620,628}</string>
            </dict>
            <key>box_buff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,884},{136,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,160}}</string>
                <key>sourceSize</key>
                <string>{136,160}</string>
            </dict>
            <key>dragon_info_bg_290x92.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,4},{290,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,92}}</string>
                <key>sourceSize</key>
                <string>{290,92}</string>
            </dict>
            <key>flag_bg_130x168.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,717},{130,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,166}}</string>
                <key>sourceSize</key>
                <string>{130,166}</string>
            </dict>
            <key>green_title_639x69.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,101},{639,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,69}}</string>
                <key>sourceSize</key>
                <string>{639,69}</string>
            </dict>
            <key>head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{720,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,91}}</string>
                <key>sourceSize</key>
                <string>{720,91}</string>
            </dict>
            <key>player_btn_up_314x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,177},{314,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,86}</string>
            </dict>
            <key>purple_btn_up_148x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,943},{148,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,76}}</string>
                <key>sourceSize</key>
                <string>{148,76}</string>
            </dict>
            <key>recommend_misson_bg_438x158.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,581},{438,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,158}}</string>
                <key>sourceSize</key>
                <string>{438,158}</string>
            </dict>
            <key>rectangle_terrain_box_216x282.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,802},{216,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,282}}</string>
                <key>sourceSize</key>
                <string>{216,282}</string>
            </dict>
            <key>redDragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,362},{113,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,122}}</string>
                <key>sourceSize</key>
                <string>{113,128}</string>
            </dict>
            <key>setting_rank_p_75x70.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,101},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>store_buy_button_n_332x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,802},{322,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,76}}</string>
                <key>sourceSize</key>
                <string>{322,76}</string>
            </dict>
            <key>upgrade_resources_background_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,497},{520,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,46}}</string>
                <key>sourceSize</key>
                <string>{520,46}</string>
            </dict>
            <key>yellow_btn_down_252x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,236},{252,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,78}}</string>
                <key>sourceSize</key>
                <string>{252,78}</string>
            </dict>
            <key>yellow_btn_up_252x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,236},{252,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,78}}</string>
                <key>sourceSize</key>
                <string>{252,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ccdf5353cb4ccf47c73a2ce1788878f:9faba4778be0b106ce5e91bdd4642e1f:39442dfca8f6c7372ed050ea490c4ab9$</string>
            <key>textureFileName</key>
            <string>ui_png2.png</string>
        </dict>
    </dict>
</plist>
