<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP_10_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,529},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>alliance_join_tips_title_571x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,4},{571,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,66}}</string>
                <key>sourceSize</key>
                <string>{571,66}</string>
            </dict>
            <key>back_ground_130x166.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,168},{130,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,166}}</string>
                <key>sourceSize</key>
                <string>{130,166}</string>
            </dict>
            <key>back_ground_568x28_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,992},{568,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,28}}</string>
                <key>sourceSize</key>
                <string>{568,28}</string>
            </dict>
            <key>back_ground_588x346.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,638},{588,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,346}}</string>
                <key>sourceSize</key>
                <string>{588,346}</string>
            </dict>
            <key>back_ground_83x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,440},{83,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,32}}</string>
                <key>sourceSize</key>
                <string>{83,32}</string>
            </dict>
            <key>back_ground_pve.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,581},{246,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,51}}</string>
                <key>sourceSize</key>
                <string>{246,51}</string>
            </dict>
            <key>background_318x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,4},{318,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,38}}</string>
                <key>sourceSize</key>
                <string>{318,38}</string>
            </dict>
            <key>battery_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,973},{44,46}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{44,46}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>box_620x628.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{620,628}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,628}}</string>
                <key>sourceSize</key>
                <string>{620,628}</string>
            </dict>
            <key>box_gacha_senior_136x136_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,440},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>crown_brass_46x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,973},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>dragon_skill_lock_34x46.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,973},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>dragon_tab_buttons_light_172x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,48},{172,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,54}}</string>
                <key>sourceSize</key>
                <string>{172,54}</string>
            </dict>
            <key>dragon_tab_buttons_normal_172x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,108},{172,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,54}}</string>
                <key>sourceSize</key>
                <string>{172,54}</string>
            </dict>
            <key>flag_bg_130x168.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,304},{130,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,166}}</string>
                <key>sourceSize</key>
                <string>{130,166}</string>
            </dict>
            <key>grey_btn_252x77.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,890},{252,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,77}}</string>
                <key>sourceSize</key>
                <string>{252,77}</string>
            </dict>
            <key>grey_btn_252x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,638},{252,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,78}}</string>
                <key>sourceSize</key>
                <string>{252,78}</string>
            </dict>
            <key>grey_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,168},{130,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1}}</string>
                <key>sourceSize</key>
                <string>{130,1}</string>
            </dict>
            <key>mission_progress_bar_box_348x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,638},{348,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,40}}</string>
                <key>sourceSize</key>
                <string>{348,40}</string>
            </dict>
            <key>player_name_bg_168x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,990},{168,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,30}}</string>
                <key>sourceSize</key>
                <string>{168,30}</string>
            </dict>
            <key>purple_btn_down_252x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,722},{252,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,78}}</string>
                <key>sourceSize</key>
                <string>{252,78}</string>
            </dict>
            <key>purple_btn_up_252x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,806},{252,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,78}}</string>
                <key>sourceSize</key>
                <string>{252,78}</string>
            </dict>
            <key>quest_btn_down_386x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,638},{382,56}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{382,56}}</string>
                <key>sourceSize</key>
                <string>{386,62}</string>
            </dict>
            <key>quest_btn_up_386x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,638},{382,56}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{382,56}}</string>
                <key>sourceSize</key>
                <string>{386,62}</string>
            </dict>
            <key>report_back_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,48},{584,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,92}}</string>
                <key>sourceSize</key>
                <string>{584,92}</string>
            </dict>
            <key>store_more_red_button_n_584x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,48},{584,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,34}}</string>
                <key>sourceSize</key>
                <string>{584,34}</string>
            </dict>
            <key>yellow_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,304},{130,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1}}</string>
                <key>sourceSize</key>
                <string>{130,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afee8da81e83e99716ce83b35357e60e:4/10$</string>
            <key>textureFileName</key>
            <string>ui_png3.png</string>
        </dict>
    </dict>
</plist>
