<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CheckBoxButtonOff_100x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,923},{96,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,56}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>alliacne_search_29x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,180},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>alliance_flag_box_119x139.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,718},{119,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,139}}</string>
                <key>sourceSize</key>
                <string>{119,139}</string>
            </dict>
            <key>back_ground_43x43_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,254},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>back_ground_540x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,480},{540,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,64}}</string>
                <key>sourceSize</key>
                <string>{540,64}</string>
            </dict>
            <key>back_ground_608X98.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,412},{608,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,98}}</string>
                <key>sourceSize</key>
                <string>{608,98}</string>
            </dict>
            <key>back_ground_608x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,412},{608,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,22}}</string>
                <key>sourceSize</key>
                <string>{608,22}</string>
            </dict>
            <key>back_ground_608x350.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,412},{608,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,350}}</string>
                <key>sourceSize</key>
                <string>{608,350}</string>
            </dict>
            <key>back_ground_608x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,412},{608,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,62}}</string>
                <key>sourceSize</key>
                <string>{608,62}</string>
            </dict>
            <key>background_74x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,923},{74,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,28}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>background_768x152.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{768,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,152}}</string>
                <key>sourceSize</key>
                <string>{768,152}</string>
            </dict>
            <key>bottom_bg_768x136.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,162},{768,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,136}}</string>
                <key>sourceSize</key>
                <string>{768,136}</string>
            </dict>
            <key>bottom_icon_package_66x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,304},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>broadsideDialog_104x144.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,304},{102,128}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{102,128}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>buff_68x68.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,180},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>button_normal_28x210.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,412},{28,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,210}}</string>
                <key>sourceSize</key>
                <string>{28,210}</string>
            </dict>
            <key>button_pressed_28x210.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,446},{28,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,210}}</string>
                <key>sourceSize</key>
                <string>{28,210}</string>
            </dict>
            <key>centerDialog_100x144.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,480},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,144}</string>
            </dict>
            <key>chat_shield_62x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,254},{44,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{44,54}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>citizen_num_bg_170x714.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,304},{170,714}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,714}}</string>
                <key>sourceSize</key>
                <string>{170,714}</string>
            </dict>
            <key>dark_blue_btn_up_176x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,843},{176,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,44}}</string>
                <key>sourceSize</key>
                <string>{176,44}</string>
            </dict>
            <key>dividing_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,4},{402,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,2}}</string>
                <key>sourceSize</key>
                <string>{402,2}</string>
            </dict>
            <key>dragon_eggs_68x80.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,940},{66,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>dragon_strength_27x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,219},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,29}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>fte_label_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,412},{370,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,68}}</string>
                <key>sourceSize</key>
                <string>{370,68}</string>
            </dict>
            <key>hourglass_30x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,376},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>icon_check_24x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,376},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>icon_current_position_8x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1011},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>icon_my_alliance_position_4x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1011},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>line_624x102.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,304},{624,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,102}}</string>
                <key>sourceSize</key>
                <string>{624,102}</string>
            </dict>
            <key>report_saved_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,788},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>report_saved_button_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,864},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>tab_btn_down_140x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,586},{140,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,60}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>tab_btn_up_140x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,652},{140,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,60}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>tmp_btn_shrine_74x90.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,843},{74,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>tmp_button_battle_down_234x82.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,4},{234,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,82}}</string>
                <key>sourceSize</key>
                <string>{234,82}</string>
            </dict>
            <key>tmp_button_battle_up_234x82.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,92},{234,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,82}}</string>
                <key>sourceSize</key>
                <string>{234,82}</string>
            </dict>
            <key>vip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,180},{118,125}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{118,125}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>vip_lv_bar_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1003},{26,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,2}}</string>
                <key>sourceSize</key>
                <string>{26,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac537ac0fdfe6b0a97b60481a3e403d5:f0bcf7720d86dba7f3865b178166948c:39442dfca8f6c7372ed050ea490c4ab9$</string>
            <key>textureFileName</key>
            <string>ui_png0.png</string>
        </dict>
    </dict>
</plist>
