<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_ground_540x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{540,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,64}}</string>
                <key>sourceSize</key>
                <string>{540,64}</string>
            </dict>
            <key>back_ground_548x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{548,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,40}}</string>
                <key>sourceSize</key>
                <string>{548,40}</string>
            </dict>
            <key>back_ground_548x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{548,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,40}}</string>
                <key>sourceSize</key>
                <string>{548,40}</string>
            </dict>
            <key>background1_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background2_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>chat_bubble_header_484x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,492},{484,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,38}}</string>
                <key>sourceSize</key>
                <string>{484,38}</string>
            </dict>
            <key>dark_blue_btn_down_534x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{534,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,44}}</string>
                <key>sourceSize</key>
                <string>{534,44}</string>
            </dict>
            <key>dark_blue_btn_up_534x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{534,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,44}}</string>
                <key>sourceSize</key>
                <string>{534,44}</string>
            </dict>
            <key>faq_item_box_548x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{548,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,72}}</string>
                <key>sourceSize</key>
                <string>{548,72}</string>
            </dict>
            <key>upgrade_resources_background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{520,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,46}}</string>
                <key>sourceSize</key>
                <string>{520,46}</string>
            </dict>
            <key>upgrade_resources_background_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{520,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,46}}</string>
                <key>sourceSize</key>
                <string>{520,46}</string>
            </dict>
            <key>upgrade_resources_background_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{520,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,46}}</string>
                <key>sourceSize</key>
                <string>{520,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png_bg1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f596d170f76c6327d818fe8a75e6ca0d:f66066d51b3c4e19341c93368e9144cd:9a2174e34ea38be37bee97ea5e73e611$</string>
            <key>textureFileName</key>
            <string>ui_png_bg1.png</string>
        </dict>
    </dict>
</plist>
