<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_35x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,329},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>5_23x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,991},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>VIP_2_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,4},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_3_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,42},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_5_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,80},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_6_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,118},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>alliance_evnets_title_548x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,170},{548,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,50}}</string>
                <key>sourceSize</key>
                <string>{548,50}</string>
            </dict>
            <key>alliance_invitation_62x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,452},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>back_ground_548x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,808},{548,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,40}}</string>
                <key>sourceSize</key>
                <string>{548,40}</string>
            </dict>
            <key>back_ground_548x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,854},{548,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,40}}</string>
                <key>sourceSize</key>
                <string>{548,40}</string>
            </dict>
            <key>back_ground_568X128.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,140},{568,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,128}}</string>
                <key>sourceSize</key>
                <string>{568,128}</string>
            </dict>
            <key>back_ground_568x110.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,400},{568,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,110}}</string>
                <key>sourceSize</key>
                <string>{568,110}</string>
            </dict>
            <key>back_ground_568x118.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,452},{568,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,118}}</string>
                <key>sourceSize</key>
                <string>{568,118}</string>
            </dict>
            <key>back_ground_568x16_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,452},{568,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,16}}</string>
                <key>sourceSize</key>
                <string>{568,16}</string>
            </dict>
            <key>back_ground_568x80_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,516},{568,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,80}}</string>
                <key>sourceSize</key>
                <string>{568,80}</string>
            </dict>
            <key>background_568x120.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,274},{568,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,120}}</string>
                <key>sourceSize</key>
                <string>{568,120}</string>
            </dict>
            <key>blueDragon_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,514},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bottom_icon_package_77x67.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,928},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>box_104x104_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,724},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>box_136x136_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,900},{122,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{122,120}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>box_148x148.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,4},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>box_gacha_senior_136x136_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,886},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>can_not_level_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,998},{22,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,42}}</string>
                <key>sourceSize</key>
                <string>{22,42}</string>
            </dict>
            <key>cancel_39x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,815},{37,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>crown_gold_46x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,896},{42,36}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>dragon_load_eq_37x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,606},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>drop_down_box_content_562x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,602},{562,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,58}}</string>
                <key>sourceSize</key>
                <string>{562,58}</string>
            </dict>
            <key>gacha_line_16x564_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,692},{16,562}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,562}}</string>
                <key>sourceSize</key>
                <string>{16,564}</string>
            </dict>
            <key>gacha_line_16x564_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,786},{16,560}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,560}}</string>
                <key>sourceSize</key>
                <string>{16,564}</string>
            </dict>
            <key>gacha_line_20x568_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,666},{20,562}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,562}}</string>
                <key>sourceSize</key>
                <string>{20,568}</string>
            </dict>
            <key>gacha_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,410},{36,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
            <key>gem_btn_down_196x68.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,192},{192,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,66}}</string>
                <key>sourceSize</key>
                <string>{196,68}</string>
            </dict>
            <key>gem_btn_up_196x68.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,264},{192,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,66}}</string>
                <key>sourceSize</key>
                <string>{196,68}</string>
            </dict>
            <key>goods_26x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,156},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>green_btn_down_148x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,158},{148,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,76}}</string>
                <key>sourceSize</key>
                <string>{148,76}</string>
            </dict>
            <key>green_btn_down_186x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,336},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>green_btn_down_252x77.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,4},{252,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,77}}</string>
                <key>sourceSize</key>
                <string>{252,77}</string>
            </dict>
            <key>green_btn_up_148x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,240},{148,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,76}}</string>
                <key>sourceSize</key>
                <string>{148,76}</string>
            </dict>
            <key>green_btn_up_186x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,408},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>green_btn_up_252x77.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,87},{252,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,77}}</string>
                <key>sourceSize</key>
                <string>{252,77}</string>
            </dict>
            <key>grey_btn_186x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,480},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>hide_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,990},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>i_btn_down_26x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,188},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>i_btn_up_26x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,220},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>icon_check_alliance_36x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,944},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>icon_star_22x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,998},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>mail_saved_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,834},{88,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,60}}</string>
                <key>sourceSize</key>
                <string>{88,60}</string>
            </dict>
            <key>march_hide_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,304},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>next_32x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,730},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>player_info_bg_120x120.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,900},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>purple_btn_up_148x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,388},{148,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,58}}</string>
                <key>sourceSize</key>
                <string>{148,58}</string>
            </dict>
            <key>redDragon_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,560},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>red_btn_down_148x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,694},{148,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,58}}</string>
                <key>sourceSize</key>
                <string>{148,58}</string>
            </dict>
            <key>red_btn_down_186x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,552},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>red_btn_up_148x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,758},{148,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,58}}</string>
                <key>sourceSize</key>
                <string>{148,58}</string>
            </dict>
            <key>server_item_568x130.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{568,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,130}}</string>
                <key>sourceSize</key>
                <string>{568,130}</string>
            </dict>
            <key>setting_account_red_btn_l_186x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,624},{186,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,64}}</string>
                <key>sourceSize</key>
                <string>{186,64}</string>
            </dict>
            <key>shrine_page_btn_normal_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,834},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>strong_vs_arrow_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,858},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>tmp_back_ground_vip_560x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,714},{560,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,66}}</string>
                <key>sourceSize</key>
                <string>{560,66}</string>
            </dict>
            <key>tmp_icon_share_24x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,370},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>tmp_icon_translate_26x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,252},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>tmp_label_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,170},{196,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,16}}</string>
                <key>sourceSize</key>
                <string>{196,16}</string>
            </dict>
            <key>vip_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,900},{120,125}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{120,125}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>vip_bg_110x124.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,900},{61,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,85}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>vip_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,900},{96,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,120}}</string>
                <key>sourceSize</key>
                <string>{96,120}</string>
            </dict>
            <key>vip_lv_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,649},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>vip_lv_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,690},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>vip_lv_bar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,991},{32,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{32,24}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>vip_lv_bar_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,694},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>vip_lv_bar_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,278},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>wrong_41x45.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,768},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>yellow_btn_down_148x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,822},{148,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,58}}</string>
                <key>sourceSize</key>
                <string>{148,58}</string>
            </dict>
            <key>yellow_btn_down_148x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,322},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>yellow_btn_up_134x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,886},{134,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,56}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afee8da81e83e99716ce83b35357e60e:8/10$</string>
            <key>textureFileName</key>
            <string>ui_png7.png</string>
        </dict>
    </dict>
</plist>
