<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_growUp_108x115.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,827},{108,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,115}}</string>
                <key>sourceSize</key>
                <string>{108,115}</string>
            </dict>
            <key>VIP_9_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,384},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>activity_day_bg_104x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,96},{104,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,34}}</string>
                <key>sourceSize</key>
                <string>{104,34}</string>
            </dict>
            <key>activity_title_552x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,282},{552,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,42}}</string>
                <key>sourceSize</key>
                <string>{552,42}</string>
            </dict>
            <key>alliance_apply_62x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,594},{54,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{54,54}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>alliance_button_n_132x98.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,280},{132,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,98}}</string>
                <key>sourceSize</key>
                <string>{132,98}</string>
            </dict>
            <key>alliance_evnets_title_548x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,572},{548,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,50}}</string>
                <key>sourceSize</key>
                <string>{548,50}</string>
            </dict>
            <key>alliance_group_mail_62x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,970},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>alliance_invitation_62x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,206},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>alliance_sign_out_62x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,469},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,54}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>back_ground_32x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,679},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>back_ground_548x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,628},{548,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,40}}</string>
                <key>sourceSize</key>
                <string>{548,40}</string>
            </dict>
            <key>back_ground_548x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,674},{548,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,40}}</string>
                <key>sourceSize</key>
                <string>{548,40}</string>
            </dict>
            <key>back_ground_568x118.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{568,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,118}}</string>
                <key>sourceSize</key>
                <string>{568,118}</string>
            </dict>
            <key>back_ground_568x16_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,198},{568,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,16}}</string>
                <key>sourceSize</key>
                <string>{568,16}</string>
            </dict>
            <key>back_ground_568x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,128},{568,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,64}}</string>
                <key>sourceSize</key>
                <string>{568,64}</string>
            </dict>
            <key>background1_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,330},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background2_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,412},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background3_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,469},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>battle_33x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,602},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>blue_btn_down_256x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,96},{256,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,40}}</string>
                <key>sourceSize</key>
                <string>{256,40}</string>
            </dict>
            <key>blue_btn_up_256x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,142},{256,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,40}}</string>
                <key>sourceSize</key>
                <string>{256,40}</string>
            </dict>
            <key>box_132x132_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,4},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>box_136x136_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,142},{132,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{132,132}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>box_light_70x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,717},{70,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,32}}</string>
                <key>sourceSize</key>
                <string>{70,32}</string>
            </dict>
            <key>brown_btn_down_132x98.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,832},{132,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,98}}</string>
                <key>sourceSize</key>
                <string>{132,98}</string>
            </dict>
            <key>brown_btn_up_132x98.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,832},{132,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,98}}</string>
                <key>sourceSize</key>
                <string>{132,98}</string>
            </dict>
            <key>chat_mail_62x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,758},{62,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>disbale_552x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,220},{552,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,56}}</string>
                <key>sourceSize</key>
                <string>{552,56}</string>
            </dict>
            <key>dragon_skill_lock_34x46.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,792},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>faq_item_box_548x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,494},{548,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,72}}</string>
                <key>sourceSize</key>
                <string>{548,72}</string>
            </dict>
            <key>gem_icon_62x61.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,533},{54,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{54,55}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>green_btn_down_186x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,469},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>green_btn_down_250x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,720},{250,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,66}}</string>
                <key>sourceSize</key>
                <string>{250,66}</string>
            </dict>
            <key>green_btn_down_252x77.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,356},{252,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,77}}</string>
                <key>sourceSize</key>
                <string>{252,77}</string>
            </dict>
            <key>green_btn_up_148x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,944},{148,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,76}}</string>
                <key>sourceSize</key>
                <string>{148,76}</string>
            </dict>
            <key>green_btn_up_186x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,541},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>green_btn_up_250x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,720},{250,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,66}}</string>
                <key>sourceSize</key>
                <string>{250,66}</string>
            </dict>
            <key>green_btn_up_252x77.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,720},{252,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,77}}</string>
                <key>sourceSize</key>
                <string>{252,77}</string>
            </dict>
            <key>grey_btn_148x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,943},{148,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,76}}</string>
                <key>sourceSize</key>
                <string>{148,76}</string>
            </dict>
            <key>grey_btn_186x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,613},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>grey_btn_252x77.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,720},{252,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,77}}</string>
                <key>sourceSize</key>
                <string>{252,77}</string>
            </dict>
            <key>grey_btn_252x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,188},{252,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,78}}</string>
                <key>sourceSize</key>
                <string>{252,78}</string>
            </dict>
            <key>hammer_33x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,556},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>hide_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,469},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>icon_be_stirked_42x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,710},{42,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,54}}</string>
                <key>sourceSize</key>
                <string>{42,54}</string>
            </dict>
            <key>icon_march_50x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,654},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>icon_world_88x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,934},{62,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{62,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>movingConstruction_101x101.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,827},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>player_VIP_bg_110x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,314},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>purple_btn_down_252x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,272},{252,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,78}}</string>
                <key>sourceSize</key>
                <string>{252,78}</string>
            </dict>
            <key>pve_tab_progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,469},{469,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,41}}</string>
                <key>sourceSize</key>
                <string>{469,41}</string>
            </dict>
            <key>redDragon_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,268},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>red_btn_down_186x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,685},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>retreat_yellow_button_h_52x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,720},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>retreat_yellow_button_n_52x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,776},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>setting_account_red_btn_n_186x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,757},{186,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,64}}</string>
                <key>sourceSize</key>
                <string>{186,64}</string>
            </dict>
            <key>setting_sound_64x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,970},{50,56}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>slider_bg_461x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,439},{461,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,24}}</string>
                <key>sourceSize</key>
                <string>{461,24}</string>
            </dict>
            <key>soldier_count_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,529},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>soldier_morale_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,641},{33,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{33,32}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>tab_btn_down_brown_110x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,827},{110,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{110,58}</string>
            </dict>
            <key>tab_button_down_142x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,978},{142,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,42}}</string>
                <key>sourceSize</key>
                <string>{142,42}</string>
            </dict>
            <key>tab_button_up_142x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,978},{142,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,42}}</string>
                <key>sourceSize</key>
                <string>{142,42}</string>
            </dict>
            <key>tab_progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,469},{469,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,41}}</string>
                <key>sourceSize</key>
                <string>{469,41}</string>
            </dict>
            <key>tmp_battle_btn_down_296x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,4},{296,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,40}}</string>
                <key>sourceSize</key>
                <string>{296,40}</string>
            </dict>
            <key>tmp_battle_btn_up_296x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,50},{296,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,40}}</string>
                <key>sourceSize</key>
                <string>{296,40}</string>
            </dict>
            <key>tmp_icon_share_24x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,792},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>upgrade_acc_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,792},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{108,104}</string>
            </dict>
            <key>vip_lv_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,792},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>vip_lv_bar_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,499},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>vip_unlock_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,900},{96,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,120}}</string>
                <key>sourceSize</key>
                <string>{96,120}</string>
            </dict>
            <key>world_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,793},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>yellow_btn_up_108x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,384},{108,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,48}}</string>
                <key>sourceSize</key>
                <string>{108,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac537ac0fdfe6b0a97b60481a3e403d5:f0bcf7720d86dba7f3865b178166948c:39442dfca8f6c7372ed050ea490c4ab9$</string>
            <key>textureFileName</key>
            <string>ui_png7.png</string>
        </dict>
    </dict>
</plist>
