<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,4},{298,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,423}}</string>
                <key>sourceSize</key>
                <string>{298,423}</string>
            </dict>
            <key>alliance_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,308},{148,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{148,22}}</string>
                <key>sourceSize</key>
                <string>{148,24}</string>
            </dict>
            <key>alliance_join_tips_title_571x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,336},{571,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,66}}</string>
                <key>sourceSize</key>
                <string>{571,66}</string>
            </dict>
            <key>alliance_notice_box_580x184.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{580,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,184}}</string>
                <key>sourceSize</key>
                <string>{580,184}</string>
            </dict>
            <key>back_ground_568X142.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,336},{568,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,142}}</string>
                <key>sourceSize</key>
                <string>{568,142}</string>
            </dict>
            <key>back_ground_568x110.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,910},{568,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,110}}</string>
                <key>sourceSize</key>
                <string>{568,110}</string>
            </dict>
            <key>back_ground_568x150.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,336},{568,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,150}}</string>
                <key>sourceSize</key>
                <string>{568,150}</string>
            </dict>
            <key>back_ground_568x28_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,336},{568,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,28}}</string>
                <key>sourceSize</key>
                <string>{568,28}</string>
            </dict>
            <key>back_ground_580x136.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,194},{580,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,136}}</string>
                <key>sourceSize</key>
                <string>{580,136}</string>
            </dict>
            <key>background_568x120.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,336},{568,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,120}}</string>
                <key>sourceSize</key>
                <string>{568,120}</string>
            </dict>
            <key>box_104x104_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,914},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>box_104x104_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,914},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>drop_down_box_bg_572x304.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,336},{572,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,304}}</string>
                <key>sourceSize</key>
                <string>{572,304}</string>
            </dict>
            <key>drop_down_box_bottom_572x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,336},{572,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,16}}</string>
                <key>sourceSize</key>
                <string>{572,16}</string>
            </dict>
            <key>green_tips_icon_22x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,308},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>icon_facebook_104x104.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,914},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_gameCenter_104x104.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,914},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_star_22x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,308},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>icon_warning_22x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,308},{22,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,42}}</string>
                <key>sourceSize</key>
                <string>{22,42}</string>
            </dict>
            <key>server_item_568x130.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,336},{568,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,130}}</string>
                <key>sourceSize</key>
                <string>{568,130}</string>
            </dict>
            <key>tmp_back_ground_102x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,308},{102,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,22}}</string>
                <key>sourceSize</key>
                <string>{102,22}</string>
            </dict>
            <key>vip_icon_22x22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,308},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>vip_icon_22x22_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,308},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac537ac0fdfe6b0a97b60481a3e403d5:f0bcf7720d86dba7f3865b178166948c:39442dfca8f6c7372ed050ea490c4ab9$</string>
            <key>textureFileName</key>
            <string>ui_png6.png</string>
        </dict>
    </dict>
</plist>
