··!.gitignore
.DS_Store
*.sublime-project
*.sublime-workspace
*.log
project.xcworkspace/
*/xcuserdata/*
xcuserdata/
Dragonfall/frameworks/runtime-src/proj.android/gen/
Dragonfall/frameworks/runtime-src/proj.android/obj/
Dragonfall/frameworks/runtime-src/proj.android/bin/
Dragonfall/frameworks/runtime-src/proj.android/bin_bak/*.zip
Dragonfall/frameworks/cocos2d-x/cocos/platform/android/java/bin/
Dragonfall/frameworks/cocos2d-x/cocos/platform/android/java/gen/

local.properties
external/Android/facebook_4_0_0/bin/
external/Android/facebook_4_0_0/gen/
external/Android/google-play-services_lib_8115000/google-play-services_lib/gen/
external/Android/google-play-services_lib_8115000/google-play-services_lib/bin/

#game data
#Dragonfall/update
#Dragonfall/update_android
Dragonfall/update_wp8

#########################VS2013#########################
Dragonfall/samples
Dragonfall/tools/samples_scripts
*.pyc
*.obj
*.sdf
*.user
*.suo
*.opensdf

Dragonfall/tmp
Dragonfall/frameworks/cocos2d-x/cocos/2d/libcocos2d_8_1/libcocos2d_8_1/libcocos2d_8_1.Windows/Debug
Dragonfall/frameworks/cocos2d-x/cocos/2d/libcocos2d_8_1/libcocos2d_8_1/libcocos2d_8_1.WindowsPhone/Debug
Dragonfall/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win8.1-universal/libSpine.Windows/Debug/
Dragonfall/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win8.1-universal/libSpine.WindowsPhone/Debug/
Dragonfall/frameworks/cocos2d-x/external/Box2D/proj.win8.1-universal/libbox2d.Windows/Debug
Dragonfall/frameworks/cocos2d-x/external/Box2D/proj.win8.1-universal/libbox2d.WindowsPhone/Debug
Dragonfall/frameworks/runtime-src/proj.win8.1-universal/App.Windows/Debug
Dragonfall/frameworks/runtime-src/proj.win8.1-universal/App.WindowsPhone/Debug
Dragonfall/frameworks/runtime-src/proj.win8.1-universal/Debug/
Dragonfall/frameworks/runtime-src/proj.win8.1-universal/ipch
Dragonfall/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.wp8.1/LibLua/Debug
Dragonfall/frameworks/cocos2d-x/cocos/quick_libs/proj.wp8.1/quick_libs/Debug
Dragonfall/frameworks/runtime-src/proj.win8.1-universal/App.Windows/Generated Files
Dragonfall/frameworks/runtime-src/proj.win8.1-universal/App.WindowsPhone/Generated Files
Dragonfall/frameworks/cocos2d-x/cocos/2d/libcocos2d_8_1/libcocos2d_8_1/libcocos2d_8_1.WindowsPhone/ARM
Dragonfall/frameworks/cocos2d-x/cocos/2d/libcocos2d_8_1/libcocos2d_8_1/libcocos2d_8_1.WindowsPhone/Release
Dragonfall/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win8.1-universal/libSpine.WindowsPhone/ARM
Dragonfall/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win8.1-universal/libSpine.WindowsPhone/Release
Dragonfall/frameworks/cocos2d-x/cocos/quick_libs/proj.wp8.1/quick_libs/ARM/Debug
Dragonfall/frameworks/cocos2d-x/cocos/quick_libs/proj.wp8.1/quick_libs/ARM/Release
Dragonfall/frameworks/cocos2d-x/cocos/quick_libs/proj.wp8.1/quick_libs/Release
Dragonfall/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.wp8.1/LibLua/ARM
Dragonfall/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.wp8.1/LibLua/Release
Dragonfall/frameworks/cocos2d-x/external/Box2D/proj.win8.1-universal/libbox2d.WindowsPhone/ARM
Dragonfall/frameworks/cocos2d-x/external/Box2D/proj.win8.1-universal/libbox2d.WindowsPhone/Release
Dragonfall/frameworks/runtime-src/proj.win8.1-universal/ARM/Debug
Dragonfall/frameworks/runtime-src/proj.win8.1-universal/ARM/Release
Dragonfall/frameworks/runtime-src/proj.win8.1-universal/App.WindowsPhone/ARM
Dragonfall/frameworks/runtime-src/proj.win8.1-universal/App.WindowsPhone/Release
Dragonfall/frameworks/runtime-src/proj.win8.1-universal/Release
Dragonfall/frameworks/runtime-src/proj.win8.1-universal/App.Windows/Release
Dragonfall/frameworks/runtime-src/proj.win8.1-universal/App.Windows/ARM
external/WindowsPhone/FBWinSDK/FBWinSDK/FBWinSDK.Windows/ARM
external/WindowsPhone/FBWinSDK/FBWinSDK/FBWinSDK.Windows/Generated Files
external/WindowsPhone/FBWinSDK/FBWinSDK/FBWinSDK.WindowsPhone/ARM
external/WindowsPhone/FBWinSDK/FBWinSDK/FBWinSDK.WindowsPhone/Generated Files
external/WindowsPhone/FBWinSDK/FBWinSDK/FBWinSDK.Windows/Debug
external/WindowsPhone/FBWinSDK/FBWinSDK/FBWinSDK.WindowsPhone/Debug
external/WindowsPhone/FBWinSDK/FBWinSDK/FBWinSDK.WindowsPhone/Release
external/WindowsPhone/FBWinSDK/FBWinSDK/FBWinSDK.Windows/Release