<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caodi/man/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,988},{27,34}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>caodi/man/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,802},{17,38}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{17,38}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>caodi/man/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,842},{17,38}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{17,38}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>caodi/man/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,930},{21,38}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>caodi/man/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,944},{29,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>caodi/man/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,930},{21,36}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{21,36}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>caodi/man/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,882},{17,38}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{17,38}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>caodi/man/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,970},{21,38}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{21,38}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>caodi/woman/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,158},{22,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>caodi/woman/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,198},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>caodi/woman/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,930},{20,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>caodi/woman/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,976},{20,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>caodi/woman/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1006},{16,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{16,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>caodi/woman/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,976},{20,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>root/bingying/qizi/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,802},{194,126}}</string>
                <key>offset</key>
                <string>{-24,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,86},{194,126}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/chuizi/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,224},{128,80}}</string>
                <key>offset</key>
                <string>{-38,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{128,80}}</string>
                <key>sourceSize</key>
                <string>{206,136}</string>
            </dict>
            <key>root/chuizi/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,842},{144,136}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,136}}</string>
                <key>sourceSize</key>
                <string>{206,136}</string>
            </dict>
            <key>root/chuizi/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,224},{192,114}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{192,114}}</string>
                <key>sourceSize</key>
                <string>{206,136}</string>
            </dict>
            <key>root/chuizi/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{78,114}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,0},{78,114}}</string>
                <key>sourceSize</key>
                <string>{206,136}</string>
            </dict>
            <key>root/gezi/100000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,944},{72,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{72,62}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>root/gezi/100000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,944},{58,60}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{58,60}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>root/gezi/100000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,944},{70,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{70,62}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>root/gezi/100000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,944},{66,70}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>root/liaowangta/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{222,312}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{222,312}}</string>
                <key>sourceSize</key>
                <string>{230,348}</string>
            </dict>
            <key>root/liaowangta/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{220,312}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{220,312}}</string>
                <key>sourceSize</key>
                <string>{230,348}</string>
            </dict>
            <key>root/liaowangta/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,316},{216,312}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{216,312}}</string>
                <key>sourceSize</key>
                <string>{230,348}</string>
            </dict>
            <key>root/liaowangta/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,316},{218,312}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{218,312}}</string>
                <key>sourceSize</key>
                <string>{230,348}</string>
            </dict>
            <key>root/liaowangta/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{220,312}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{220,312}}</string>
                <key>sourceSize</key>
                <string>{230,348}</string>
            </dict>
            <key>root/liaowangta/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,630},{222,312}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{222,312}}</string>
                <key>sourceSize</key>
                <string>{230,348}</string>
            </dict>
            <key>root/liaowangta/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,312}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{224,312}}</string>
                <key>sourceSize</key>
                <string>{230,348}</string>
            </dict>
            <key>root/liaowangta/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{224,312}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{224,312}}</string>
                <key>sourceSize</key>
                <string>{230,348}</string>
            </dict>
            <key>root/maoyihanghui/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,212},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,422},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,632},{208,230}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/yiyuan/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,418},{208,106}}</string>
                <key>offset</key>
                <string>{-25,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,120},{208,106}}</string>
                <key>sourceSize</key>
                <string>{258,230}</string>
            </dict>
            <key>root/yiyuan/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,628},{208,106}}</string>
                <key>offset</key>
                <string>{-25,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,120},{208,106}}</string>
                <key>sourceSize</key>
                <string>{258,230}</string>
            </dict>
            <key>root/ziyuancangku/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,842},{212,172}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{212,172}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>root/ziyuancangku/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,630},{214,170}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{214,170}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>shadi/man/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,944},{18,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,40}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>shadi/man/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,238},{22,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>shadi/man/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,930},{22,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>shadi/man/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,970},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>shadi/man/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,930},{22,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>shadi/man/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,930},{18,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,40}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>shadi/man/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,972},{18,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,40}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>shadi/man/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,930},{18,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,40}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>shadi/man/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1006},{16,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,40}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>shadi/man/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,970},{22,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>shadi/woman/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,122},{23,34}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>shadi/woman/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,418},{15,36}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{15,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>shadi/woman/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,494},{15,34}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{15,34}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>shadi/woman/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,988},{19,34}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{19,34}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>shadi/woman/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,988},{21,34}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>shadi/woman/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,530},{15,34}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{15,34}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>shadi/woman/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,566},{15,34}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{15,34}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>shadi/woman/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{25,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,38}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>shadi/woman/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,953},{21,36}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{21,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>shadi/woman/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,456},{15,36}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{15,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>shadi/woman/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,602},{15,34}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{15,34}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>shadi/woman/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,988},{17,34}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{17,34}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>xuedi/man/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,224},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>xuedi/man/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,224},{20,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>xuedi/man/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,930},{22,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>xuedi/man/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,986},{24,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>xuedi/man/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,986},{24,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>xuedi/man/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,246},{20,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>xuedi/man/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,264},{20,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>xuedi/man/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,42},{24,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>xuedi/man/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,82},{24,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>xuedi/man/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,268},{20,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>xuedi/man/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,944},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>xuedi/man/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,290},{20,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>xuedi/man/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,972},{18,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,40}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>xuedi/man/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,944},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>xuedi/man/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,970},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>xuedi/woman/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,988},{16,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{16,34}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>xuedi/woman/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,672},{14,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{14,30}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>xuedi/woman/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,638},{14,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{14,32}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>xuedi/woman/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,278},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>xuedi/woman/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,988},{20,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>xuedi/woman/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,988},{18,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>xuedi/woman/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,988},{20,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_animation0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16fcd6e23e5293b1e131b1862884c6ea:1/3$</string>
            <key>textureFileName</key>
            <string>building_animation0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
