<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/black_dragon/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,534},{196,194}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{196,194}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>root/black_dragon/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,166},{194,198}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{194,198}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>root/black_dragon/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,340},{192,198}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{192,198}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>root/black_dragon/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{190,198}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{190,198}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>root/black_dragon/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,358},{186,198}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{186,198}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>root/black_dragon/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,362},{184,198}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{184,198}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>root/black_dragon/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{186,200}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{186,200}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>root/black_dragon/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,166},{190,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{190,198}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>root/black_dragon/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,176},{194,198}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{194,198}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>root/black_dragon/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,372},{196,196}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{196,196}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>root/blue_dragon/Idle/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,172}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{203,172}}</string>
                <key>sourceSize</key>
                <string>{213,176}</string>
            </dict>
            <key>root/blue_dragon/Idle/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{201,172}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{201,172}}</string>
                <key>sourceSize</key>
                <string>{213,176}</string>
            </dict>
            <key>root/blue_dragon/Idle/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,166},{201,172}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{201,172}}</string>
                <key>sourceSize</key>
                <string>{213,176}</string>
            </dict>
            <key>root/red_dragon/Idle/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{202,162}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{202,162}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
            <key>root/red_dragon/Idle/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{200,162}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,162}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
            <key>root/red_dragon/Idle/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{200,162}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{200,162}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_breath_1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dc5f3804bf70f28886b67e3d95542d1:2/2$</string>
            <key>textureFileName</key>
            <string>dragon_breath_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
