<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/bubing_1/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,443},{72,102}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{72,102}}</string>
                <key>sourceSize</key>
                <string>{156,106}</string>
            </dict>
            <key>root/bubing_2/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{76,106}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,10},{76,106}}</string>
                <key>sourceSize</key>
                <string>{172,116}</string>
            </dict>
            <key>root/bubing_3/idle/90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,877},{76,104}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,17},{76,104}}</string>
                <key>sourceSize</key>
                <string>{198,130}</string>
            </dict>
            <key>root/bubing_3/idle/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,798},{76,106}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,16},{76,106}}</string>
                <key>sourceSize</key>
                <string>{198,130}</string>
            </dict>
            <key>root/bubing_3/idle/90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,767},{76,108}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,14},{76,108}}</string>
                <key>sourceSize</key>
                <string>{198,130}</string>
            </dict>
            <key>root/gongjianshou_1/move/90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,238},{46,84}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{46,84}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>root/gongjianshou_2/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,790},{84,96}}</string>
                <key>offset</key>
                <string>{-39,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{174,102}</string>
            </dict>
            <key>root/gongjianshou_3/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,790},{84,98}}</string>
                <key>offset</key>
                <string>{-40,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{174,102}</string>
            </dict>
            <key>root/jiaorouche/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,114}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,114}}</string>
                <key>sourceSize</key>
                <string>{172,114}</string>
            </dict>
            <key>root/kulouyongshi/hurt/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,970},{52,86}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{52,86}}</string>
                <key>sourceSize</key>
                <string>{154,94}</string>
            </dict>
            <key>root/nuche_1/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,652},{136,154}}</string>
                <key>offset</key>
                <string>{-190,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{136,154}}</string>
                <key>sourceSize</key>
                <string>{538,160}</string>
            </dict>
            <key>root/nuche_1/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,876},{132,146}}</string>
                <key>offset</key>
                <string>{-187,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{132,146}}</string>
                <key>sourceSize</key>
                <string>{538,160}</string>
            </dict>
            <key>root/nuche_1/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,876},{130,146}}</string>
                <key>offset</key>
                <string>{-187,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{130,146}}</string>
                <key>sourceSize</key>
                <string>{538,160}</string>
            </dict>
            <key>root/nuche_1/hurt/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{156,150}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,150}}</string>
                <key>sourceSize</key>
                <string>{164,154}</string>
            </dict>
            <key>root/nuche_1/hurt/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,562},{154,144}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{154,144}}</string>
                <key>sourceSize</key>
                <string>{164,154}</string>
            </dict>
            <key>root/nuche_1/hurt/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,124},{156,146}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{156,146}}</string>
                <key>sourceSize</key>
                <string>{164,154}</string>
            </dict>
            <key>root/nuche_1/move/90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,242},{156,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,146}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>root/nuche_1/move/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,272},{156,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,146}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>root/nuche_1/move/90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{152,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{152,144}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>root/nuche_1/move/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,605},{154,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,144}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>root/nuche_1/move/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{156,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,146}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>root/nugongshou_1/attack/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,547},{72,92}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,92}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>root/qibing_1/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,668},{154,124}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{154,124}}</string>
                <key>sourceSize</key>
                <string>{226,144}</string>
            </dict>
            <key>root/qibing_1/attack/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,360},{156,122}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{156,122}}</string>
                <key>sourceSize</key>
                <string>{226,144}</string>
            </dict>
            <key>root/qibing_1/hurt/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{160,124}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{160,124}}</string>
                <key>sourceSize</key>
                <string>{226,144}</string>
            </dict>
            <key>root/qibing_1/idle/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{154,124}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{154,124}}</string>
                <key>sourceSize</key>
                <string>{226,144}</string>
            </dict>
            <key>root/qibing_1/idle/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,562},{154,124}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{154,124}}</string>
                <key>sourceSize</key>
                <string>{226,144}</string>
            </dict>
            <key>root/qibing_1/idle/90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,688},{154,124}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{154,124}}</string>
                <key>sourceSize</key>
                <string>{226,144}</string>
            </dict>
            <key>root/qibing_2/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,86},{160,122}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{160,122}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>root/qibing_2/idle/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,876},{146,130}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{146,130}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>root/qibing_2/idle/90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,876},{146,130}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{146,130}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>root/qibing_2/move/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,128},{158,124}}</string>
                <key>offset</key>
                <string>{-23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{158,124}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>root/qibing_2/move/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,420},{156,124}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{156,124}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>root/qibing_2/move/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,814},{154,120}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{154,120}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>root/qibing_2/move/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,234},{158,124}}</string>
                <key>offset</key>
                <string>{-23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{158,124}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>root/qibing_2/move/90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{156,124}}</string>
                <key>offset</key>
                <string>{-23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{156,124}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>root/qibing_3/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,86},{158,146}}</string>
                <key>offset</key>
                <string>{-36,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{158,146}}</string>
                <key>sourceSize</key>
                <string>{294,172}</string>
            </dict>
            <key>root/qibing_3/hurt/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,376},{104,156}}</string>
                <key>offset</key>
                <string>{-64,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,16},{104,156}}</string>
                <key>sourceSize</key>
                <string>{294,172}</string>
            </dict>
            <key>root/qibing_3/hurt/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,390},{138,156}}</string>
                <key>offset</key>
                <string>{-78,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{138,156}}</string>
                <key>sourceSize</key>
                <string>{294,172}</string>
            </dict>
            <key>root/shaobing_1/idle/90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,324},{50,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,117}}</string>
                <key>sourceSize</key>
                <string>{52,117}</string>
            </dict>
            <key>root/shaobing_1/move/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,936},{132,86}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{132,86}}</string>
                <key>sourceSize</key>
                <string>{150,122}</string>
            </dict>
            <key>root/shaobing_1/move/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,794},{144,80}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{144,80}}</string>
                <key>sourceSize</key>
                <string>{150,122}</string>
            </dict>
            <key>root/shaobing_2/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,641},{124,76}}</string>
                <key>offset</key>
                <string>{-48,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{124,76}}</string>
                <key>sourceSize</key>
                <string>{220,116}</string>
            </dict>
            <key>root/shaobing_2/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,482},{156,78}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,22},{156,78}}</string>
                <key>sourceSize</key>
                <string>{220,116}</string>
            </dict>
            <key>root/shaobing_2/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,484},{156,76}}</string>
                <key>offset</key>
                <string>{31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,24},{156,76}}</string>
                <key>sourceSize</key>
                <string>{220,116}</string>
            </dict>
            <key>root/shaobing_2/attack/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,128},{46,108}}</string>
                <key>offset</key>
                <string>{-49,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{46,108}}</string>
                <key>sourceSize</key>
                <string>{220,116}</string>
            </dict>
            <key>root/shaobing_2/hurt/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,708},{102,130}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{102,130}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>root/shaobing_3/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{162,82}}</string>
                <key>offset</key>
                <string>{33,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,24},{162,82}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>root/shaobing_3/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{162,82}}</string>
                <key>offset</key>
                <string>{33,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,24},{162,82}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>root/siwangqishi/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,751},{122,122}}</string>
                <key>offset</key>
                <string>{-33,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{122,122}}</string>
                <key>sourceSize</key>
                <string>{222,138}</string>
            </dict>
            <key>root/toushiche_2/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,120}}</string>
                <key>offset</key>
                <string>{-180,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{162,120}}</string>
                <key>sourceSize</key>
                <string>{522,160}</string>
            </dict>
            <key>root/toushiche_2/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,118},{160,122}}</string>
                <key>offset</key>
                <string>{-180,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,37},{160,122}}</string>
                <key>sourceSize</key>
                <string>{522,160}</string>
            </dict>
            <key>root/toushiche_2/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,254},{158,120}}</string>
                <key>offset</key>
                <string>{-179,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,38},{158,120}}</string>
                <key>sourceSize</key>
                <string>{522,160}</string>
            </dict>
            <key>root/toushiche_2/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,483},{156,120}}</string>
                <key>offset</key>
                <string>{-178,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,38},{156,120}}</string>
                <key>sourceSize</key>
                <string>{522,160}</string>
            </dict>
            <key>root/toushiche_2/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,530},{156,120}}</string>
                <key>offset</key>
                <string>{-178,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,38},{156,120}}</string>
                <key>sourceSize</key>
                <string>{522,160}</string>
            </dict>
            <key>root/toushiche_2/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,546},{156,120}}</string>
                <key>offset</key>
                <string>{-178,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,38},{156,120}}</string>
                <key>sourceSize</key>
                <string>{522,160}</string>
            </dict>
            <key>root/toushiche_2/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{156,120}}</string>
                <key>offset</key>
                <string>{-178,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,38},{156,120}}</string>
                <key>sourceSize</key>
                <string>{522,160}</string>
            </dict>
            <key>root/toushiche_2/attack/10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,120}}</string>
                <key>offset</key>
                <string>{-180,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{162,120}}</string>
                <key>sourceSize</key>
                <string>{522,160}</string>
            </dict>
            <key>root/toushiche_2/hurt/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,210},{158,129}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,12},{158,129}}</string>
                <key>sourceSize</key>
                <string>{198,141}</string>
            </dict>
            <key>root/toushiche_3/hurt/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,341},{156,140}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{156,140}}</string>
                <key>sourceSize</key>
                <string>{172,152}</string>
            </dict>
            <key>root/youqibing_3/move/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,840},{128,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{128,102}}</string>
                <key>sourceSize</key>
                <string>{132,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldiers_animation_90_5.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f19c3a310e3486d1563cf8e9935ec4f4:6/11$</string>
            <key>textureFileName</key>
            <string>soldiers_animation_90_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
