<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caodi/man/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,864},{19,38}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{19,38}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>caodi/man/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,978},{19,36}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{19,36}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>caodi/man/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,885},{19,38}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{19,38}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>caodi/man/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,906},{19,38}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{19,38}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>caodi/man/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,927},{19,38}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{19,38}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>caodi/woman/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,948},{18,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>caodi/woman/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,980},{16,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>caodi/woman/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,968},{18,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>caodi/woman/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,842},{20,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>caodi/woman/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,882},{20,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>caodi/woman/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,842},{18,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>caodi/woman/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,842},{18,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>caodi/woman/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,842},{18,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>caodi/woman/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,862},{18,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>caodi/woman/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,940},{18,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,36}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>root/bingying/guang/000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,744},{172,96}}</string>
                <key>offset</key>
                <string>{-40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{172,96}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/guang/000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,842},{172,96}}</string>
                <key>offset</key>
                <string>{-40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{172,96}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/guang/000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,842},{172,96}}</string>
                <key>offset</key>
                <string>{-40,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,74},{172,96}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/maoyihanghui/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,212},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,422},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,512},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,512},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,632},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/mofang/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,260},{250,260}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{250,260}}</string>
                <key>sourceSize</key>
                <string>{288,260}</string>
            </dict>
            <key>root/mofang/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,756},{256,256}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{256,256}}</string>
                <key>sourceSize</key>
                <string>{288,260}</string>
            </dict>
            <key>root/mofang/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{258,252}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{258,252}}</string>
                <key>sourceSize</key>
                <string>{288,260}</string>
            </dict>
            <key>root/mofang/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{260,244}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{260,244}}</string>
                <key>sourceSize</key>
                <string>{288,260}</string>
            </dict>
            <key>root/mofang/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{258,246}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{258,246}}</string>
                <key>sourceSize</key>
                <string>{288,260}</string>
            </dict>
            <key>root/mofang/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{262,250}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{262,250}}</string>
                <key>sourceSize</key>
                <string>{288,260}</string>
            </dict>
            <key>root/mofang/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,252}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{262,252}}</string>
                <key>sourceSize</key>
                <string>{288,260}</string>
            </dict>
            <key>root/mofang/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{260,256}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{260,256}}</string>
                <key>sourceSize</key>
                <string>{288,260}</string>
            </dict>
            <key>root/mofang/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,254},{256,260}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{256,260}}</string>
                <key>sourceSize</key>
                <string>{288,260}</string>
            </dict>
            <key>root/xueyuan/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,722},{188,106}}</string>
                <key>offset</key>
                <string>{-13,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,118},{188,106}}</string>
                <key>sourceSize</key>
                <string>{214,224}</string>
            </dict>
            <key>root/xueyuan/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,912},{188,106}}</string>
                <key>offset</key>
                <string>{-13,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,118},{188,106}}</string>
                <key>sourceSize</key>
                <string>{214,224}</string>
            </dict>
            <key>root/yiyuan/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,512},{208,106}}</string>
                <key>offset</key>
                <string>{-25,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,120},{208,106}}</string>
                <key>sourceSize</key>
                <string>{258,230}</string>
            </dict>
            <key>shadi/man/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,882},{18,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>shadi/man/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,940},{18,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>shadi/man/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,980},{20,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>shadi/man/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,980},{18,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>shadi/man/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,940},{18,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>shadi/man/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,980},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{18,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>shadi/woman/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,974},{19,32}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>shadi/woman/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,988},{17,34}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{17,34}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>shadi/woman/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,940},{17,36}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{17,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>xuedi/man/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,940},{18,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>xuedi/woman/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,988},{20,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,32}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>xuedi/woman/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,940},{20,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,32}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>xuedi/woman/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,978},{18,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>xuedi/woman/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,940},{20,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>xuedi/woman/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,978},{20,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>xuedi/woman/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,940},{20,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_animation1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16fcd6e23e5293b1e131b1862884c6ea:2/3$</string>
            <key>textureFileName</key>
            <string>building_animation1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
