<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/blue_dragon/Idle/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,376},{211,170}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{211,170}}</string>
                <key>sourceSize</key>
                <string>{213,176}</string>
            </dict>
            <key>root/blue_dragon/Idle/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{211,172}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{211,172}}</string>
                <key>sourceSize</key>
                <string>{213,176}</string>
            </dict>
            <key>root/blue_dragon/Idle/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,732},{209,172}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{209,172}}</string>
                <key>sourceSize</key>
                <string>{213,176}</string>
            </dict>
            <key>root/blue_dragon/Idle/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,582},{207,172}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,172}}</string>
                <key>sourceSize</key>
                <string>{213,176}</string>
            </dict>
            <key>root/blue_dragon/Idle/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,791},{205,172}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{205,172}}</string>
                <key>sourceSize</key>
                <string>{213,176}</string>
            </dict>
            <key>root/blue_dragon/Idle/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,730},{209,172}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{209,172}}</string>
                <key>sourceSize</key>
                <string>{213,176}</string>
            </dict>
            <key>root/blue_dragon/Idle/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,548},{209,172}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{209,172}}</string>
                <key>sourceSize</key>
                <string>{213,176}</string>
            </dict>
            <key>root/green_dragon/Idle/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,184}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{223,184}}</string>
                <key>sourceSize</key>
                <string>{223,190}</string>
            </dict>
            <key>root/green_dragon/Idle/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{221,184}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{221,184}}</string>
                <key>sourceSize</key>
                <string>{223,190}</string>
            </dict>
            <key>root/green_dragon/Idle/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{219,184}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{219,184}}</string>
                <key>sourceSize</key>
                <string>{223,190}</string>
            </dict>
            <key>root/green_dragon/Idle/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,188},{217,186}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,186}}</string>
                <key>sourceSize</key>
                <string>{223,190}</string>
            </dict>
            <key>root/green_dragon/Idle/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,188},{213,186}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{213,186}}</string>
                <key>sourceSize</key>
                <string>{223,190}</string>
            </dict>
            <key>root/green_dragon/Idle/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,190},{211,186}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{211,186}}</string>
                <key>sourceSize</key>
                <string>{223,190}</string>
            </dict>
            <key>root/green_dragon/Idle/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,376},{211,186}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{211,186}}</string>
                <key>sourceSize</key>
                <string>{223,190}</string>
            </dict>
            <key>root/green_dragon/Idle/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{215,186}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{215,186}}</string>
                <key>sourceSize</key>
                <string>{223,190}</string>
            </dict>
            <key>root/green_dragon/Idle/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,2},{219,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{219,186}}</string>
                <key>sourceSize</key>
                <string>{223,190}</string>
            </dict>
            <key>root/green_dragon/Idle/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{221,184}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{221,184}}</string>
                <key>sourceSize</key>
                <string>{223,190}</string>
            </dict>
            <key>root/red_dragon/Idle/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{210,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,166}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
            <key>root/red_dragon/Idle/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,564},{208,166}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,166}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
            <key>root/red_dragon/Idle/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,564},{206,164}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,164}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
            <key>root/red_dragon/Idle/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,791},{204,162}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,162}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
            <key>root/red_dragon/Idle/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,378},{202,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{202,164}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
            <key>root/red_dragon/Idle/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,378},{206,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{206,164}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
            <key>root/red_dragon/Idle/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,736},{210,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,166}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_breath_0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dc5f3804bf70f28886b67e3d95542d1:1/2$</string>
            <key>textureFileName</key>
            <string>dragon_breath_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
