<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/bubing_1/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,846},{92,76}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,20},{92,76}}</string>
                <key>sourceSize</key>
                <string>{156,106}</string>
            </dict>
            <key>root/bubing_2/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,424},{124,78}}</string>
                <key>offset</key>
                <string>{23,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,28},{124,78}}</string>
                <key>sourceSize</key>
                <string>{172,116}</string>
            </dict>
            <key>root/bubing_3/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,830},{118,86}}</string>
                <key>offset</key>
                <string>{-40,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{118,86}}</string>
                <key>sourceSize</key>
                <string>{198,130}</string>
            </dict>
            <key>root/bubing_3/move/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,314},{110,90}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{110,90}}</string>
                <key>sourceSize</key>
                <string>{198,130}</string>
            </dict>
            <key>root/bubing_3/move/90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,932},{112,90}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,32},{112,90}}</string>
                <key>sourceSize</key>
                <string>{198,130}</string>
            </dict>
            <key>root/gongjianshou_3/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,774},{84,90}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{84,90}}</string>
                <key>sourceSize</key>
                <string>{174,102}</string>
            </dict>
            <key>root/gongjianshou_3/attack/20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,846},{78,92}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{78,92}}</string>
                <key>sourceSize</key>
                <string>{174,102}</string>
            </dict>
            <key>root/gongjianshou_3/idle/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,937},{66,88}}</string>
                <key>offset</key>
                <string>{-35,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{66,88}}</string>
                <key>sourceSize</key>
                <string>{174,102}</string>
            </dict>
            <key>root/gongjianshou_3/move/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,935},{86,90}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{86,90}}</string>
                <key>sourceSize</key>
                <string>{114,92}</string>
            </dict>
            <key>root/nugongshou_2/attack/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,846},{76,92}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,92}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>root/nugongshou_2/attack/10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,918},{60,94}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,94}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>root/shaobing_1/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,456},{106,120}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{106,120}}</string>
                <key>sourceSize</key>
                <string>{226,120}</string>
            </dict>
            <key>root/shaobing_1/idle/90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,708},{52,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,117}}</string>
                <key>sourceSize</key>
                <string>{52,117}</string>
            </dict>
            <key>root/shaobing_1/idle/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,212},{50,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,117}}</string>
                <key>sourceSize</key>
                <string>{52,117}</string>
            </dict>
            <key>root/shaobing_1/idle/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,762},{52,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,117}}</string>
                <key>sourceSize</key>
                <string>{52,117}</string>
            </dict>
            <key>root/shaobing_1/idle/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,818},{52,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,117}}</string>
                <key>sourceSize</key>
                <string>{52,117}</string>
            </dict>
            <key>root/shaobing_1/idle/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,816},{52,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,117}}</string>
                <key>sourceSize</key>
                <string>{52,117}</string>
            </dict>
            <key>root/shaobing_1/idle/90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,816},{52,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,117}}</string>
                <key>sourceSize</key>
                <string>{52,117}</string>
            </dict>
            <key>root/shaobing_1/move/90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,124},{114,116}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{150,122}</string>
            </dict>
            <key>root/shaobing_2/idle/90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,608},{48,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,111}}</string>
                <key>sourceSize</key>
                <string>{50,111}</string>
            </dict>
            <key>root/shaobing_2/move/90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,932},{114,90}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{114,90}}</string>
                <key>sourceSize</key>
                <string>{144,116}</string>
            </dict>
            <key>root/shaobing_3/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,914},{94,90}}</string>
                <key>offset</key>
                <string>{-40,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{94,90}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>root/shaobing_3/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,818},{94,102}}</string>
                <key>offset</key>
                <string>{32,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,35},{94,102}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>root/shaobing_3/move/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{118,118}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{118,118}}</string>
                <key>sourceSize</key>
                <string>{166,128}</string>
            </dict>
            <key>root/shaobing_3/move/90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{124,110}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{124,110}}</string>
                <key>sourceSize</key>
                <string>{166,128}</string>
            </dict>
            <key>root/youqibing_1/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{122,104}}</string>
                <key>offset</key>
                <string>{-39,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{122,104}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>root/youqibing_1/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,104},{120,106}}</string>
                <key>offset</key>
                <string>{-40,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{120,106}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>root/youqibing_1/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{120,120}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{120,120}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>root/youqibing_1/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,240},{122,106}}</string>
                <key>offset</key>
                <string>{-39,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{122,106}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>root/youqibing_1/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,670},{120,102}}</string>
                <key>offset</key>
                <string>{-39,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{120,102}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>root/youqibing_1/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,610},{120,102}}</string>
                <key>offset</key>
                <string>{-39,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{120,102}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>root/youqibing_1/attack/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,348},{120,106}}</string>
                <key>offset</key>
                <string>{-39,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{120,106}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>root/youqibing_1/attack/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,424},{120,106}}</string>
                <key>offset</key>
                <string>{-39,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{120,106}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>root/youqibing_1/attack/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,102},{120,108}}</string>
                <key>offset</key>
                <string>{-40,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{120,108}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>root/youqibing_1/attack/10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{122,110}}</string>
                <key>offset</key>
                <string>{-40,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{122,110}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>root/youqibing_1/attack/10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,638},{120,102}}</string>
                <key>offset</key>
                <string>{-40,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{120,102}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>root/youqibing_1/attack/10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,110},{122,102}}</string>
                <key>offset</key>
                <string>{-40,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{122,102}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>root/youqibing_1/attack/10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,860},{120,100}}</string>
                <key>offset</key>
                <string>{-39,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{120,100}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>root/youqibing_1/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,118}}</string>
                <key>sourceSize</key>
                <string>{126,118}</string>
            </dict>
            <key>root/youqibing_1/hurt/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,818},{116,112}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{126,118}</string>
            </dict>
            <key>root/youqibing_1/hurt/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,212},{120,100}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{126,118}</string>
            </dict>
            <key>root/youqibing_1/idle/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,924},{118,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{118,98}}</string>
                <key>sourceSize</key>
                <string>{118,100}</string>
            </dict>
            <key>root/youqibing_1/idle/90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,924},{118,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{118,98}}</string>
                <key>sourceSize</key>
                <string>{118,100}</string>
            </dict>
            <key>root/youqibing_1/idle/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,508},{118,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{118,98}}</string>
                <key>sourceSize</key>
                <string>{118,100}</string>
            </dict>
            <key>root/youqibing_1/idle/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,518},{118,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{118,98}}</string>
                <key>sourceSize</key>
                <string>{118,100}</string>
            </dict>
            <key>root/youqibing_1/idle/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,530},{118,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{118,98}}</string>
                <key>sourceSize</key>
                <string>{118,100}</string>
            </dict>
            <key>root/youqibing_1/move/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,742},{118,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{118,102}}</string>
                <key>sourceSize</key>
                <string>{122,104}</string>
            </dict>
            <key>root/youqibing_1/move/90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{122,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,104}}</string>
                <key>sourceSize</key>
                <string>{122,104}</string>
            </dict>
            <key>root/youqibing_1/move/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,714},{120,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,102}}</string>
                <key>sourceSize</key>
                <string>{122,104}</string>
            </dict>
            <key>root/youqibing_1/move/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,428},{118,100}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{118,100}}</string>
                <key>sourceSize</key>
                <string>{122,104}</string>
            </dict>
            <key>root/youqibing_1/move/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,638},{118,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{118,102}}</string>
                <key>sourceSize</key>
                <string>{122,104}</string>
            </dict>
            <key>root/youqibing_1/move/90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,504},{120,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{120,104}}</string>
                <key>sourceSize</key>
                <string>{122,104}</string>
            </dict>
            <key>root/youqibing_1/move/90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,426},{118,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{118,102}}</string>
                <key>sourceSize</key>
                <string>{122,104}</string>
            </dict>
            <key>root/youqibing_2/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{122,106}}</string>
                <key>offset</key>
                <string>{-47,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{122,106}}</string>
                <key>sourceSize</key>
                <string>{216,124}</string>
            </dict>
            <key>root/youqibing_2/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{122,106}}</string>
                <key>offset</key>
                <string>{-47,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{122,106}}</string>
                <key>sourceSize</key>
                <string>{216,124}</string>
            </dict>
            <key>root/youqibing_2/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,532},{120,104}}</string>
                <key>offset</key>
                <string>{-46,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{120,104}}</string>
                <key>sourceSize</key>
                <string>{216,124}</string>
            </dict>
            <key>root/youqibing_2/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,564},{120,104}}</string>
                <key>offset</key>
                <string>{-46,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{120,104}}</string>
                <key>sourceSize</key>
                <string>{216,124}</string>
            </dict>
            <key>root/youqibing_2/attack/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,214},{120,108}}</string>
                <key>offset</key>
                <string>{-46,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{120,108}}</string>
                <key>sourceSize</key>
                <string>{216,124}</string>
            </dict>
            <key>root/youqibing_2/attack/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,214},{120,108}}</string>
                <key>offset</key>
                <string>{-46,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{120,108}}</string>
                <key>sourceSize</key>
                <string>{216,124}</string>
            </dict>
            <key>root/youqibing_2/attack/10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{122,104}}</string>
                <key>offset</key>
                <string>{-47,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{122,104}}</string>
                <key>sourceSize</key>
                <string>{216,124}</string>
            </dict>
            <key>root/youqibing_2/attack/10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,108},{122,102}}</string>
                <key>offset</key>
                <string>{-47,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{122,102}}</string>
                <key>sourceSize</key>
                <string>{216,124}</string>
            </dict>
            <key>root/youqibing_2/attack/10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,108},{122,102}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{122,102}}</string>
                <key>sourceSize</key>
                <string>{216,124}</string>
            </dict>
            <key>root/youqibing_2/hurt/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,214},{118,108}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{118,108}}</string>
                <key>sourceSize</key>
                <string>{126,116}</string>
            </dict>
            <key>root/youqibing_2/hurt/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,530},{118,98}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{118,98}}</string>
                <key>sourceSize</key>
                <string>{126,116}</string>
            </dict>
            <key>root/youqibing_2/idle/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,630},{118,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,98}}</string>
                <key>sourceSize</key>
                <string>{118,100}</string>
            </dict>
            <key>root/youqibing_2/idle/90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,618},{118,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,98}}</string>
                <key>sourceSize</key>
                <string>{118,100}</string>
            </dict>
            <key>root/youqibing_2/idle/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,608},{118,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,98}}</string>
                <key>sourceSize</key>
                <string>{118,100}</string>
            </dict>
            <key>root/youqibing_2/idle/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,730},{118,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,98}}</string>
                <key>sourceSize</key>
                <string>{118,100}</string>
            </dict>
            <key>root/youqibing_2/idle/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,718},{118,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,98}}</string>
                <key>sourceSize</key>
                <string>{118,100}</string>
            </dict>
            <key>root/youqibing_2/move/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,212},{120,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,100}}</string>
                <key>sourceSize</key>
                <string>{122,102}</string>
            </dict>
            <key>root/youqibing_2/move/90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,742},{120,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{120,102}}</string>
                <key>sourceSize</key>
                <string>{122,102}</string>
            </dict>
            <key>root/youqibing_2/move/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,324},{120,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,100}}</string>
                <key>sourceSize</key>
                <string>{122,102}</string>
            </dict>
            <key>root/youqibing_2/move/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,314},{118,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{118,100}}</string>
                <key>sourceSize</key>
                <string>{122,102}</string>
            </dict>
            <key>root/youqibing_2/move/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,416},{118,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,100}}</string>
                <key>sourceSize</key>
                <string>{122,102}</string>
            </dict>
            <key>root/youqibing_2/move/90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,324},{118,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{118,102}}</string>
                <key>sourceSize</key>
                <string>{122,102}</string>
            </dict>
            <key>root/youqibing_2/move/90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,406},{118,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{118,100}}</string>
                <key>sourceSize</key>
                <string>{122,102}</string>
            </dict>
            <key>root/youqibing_3/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{124,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{124,116}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>root/youqibing_3/hurt/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,212},{110,116}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,116}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>root/youqibing_3/idle/90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{124,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{126,100}</string>
            </dict>
            <key>root/youqibing_3/idle/90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{126,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,98}}</string>
                <key>sourceSize</key>
                <string>{126,100}</string>
            </dict>
            <key>root/youqibing_3/idle/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{126,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,98}}</string>
                <key>sourceSize</key>
                <string>{126,100}</string>
            </dict>
            <key>root/youqibing_3/idle/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,114},{124,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,98}}</string>
                <key>sourceSize</key>
                <string>{126,100}</string>
            </dict>
            <key>root/youqibing_3/idle/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,324},{124,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,98}}</string>
                <key>sourceSize</key>
                <string>{126,100}</string>
            </dict>
            <key>root/youqibing_3/idle/90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,324},{124,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,98}}</string>
                <key>sourceSize</key>
                <string>{126,100}</string>
            </dict>
            <key>root/youqibing_3/idle/90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{124,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{126,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldiers_animation_90_8.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4484a14489364d59d3df10bc8c59bf3d:9/11$</string>
            <key>textureFileName</key>
            <string>soldiers_animation_90_8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
