<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/bubing_1/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,396},{102,72}}</string>
                <key>offset</key>
                <string>{23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,22},{102,72}}</string>
                <key>sourceSize</key>
                <string>{156,106}</string>
            </dict>
            <key>root/jiaorouche/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,620},{520,110}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,40},{520,110}}</string>
                <key>sourceSize</key>
                <string>{522,150}</string>
            </dict>
            <key>root/kulousheshou/attack/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,396},{176,76}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,76}}</string>
                <key>sourceSize</key>
                <string>{176,82}</string>
            </dict>
            <key>root/nuche_1/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{538,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,160}}</string>
                <key>sourceSize</key>
                <string>{538,160}</string>
            </dict>
            <key>root/nuche_2/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{556,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,188}}</string>
                <key>sourceSize</key>
                <string>{556,188}</string>
            </dict>
            <key>root/nuche_2/hurt/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,842},{178,164}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{178,164}}</string>
                <key>sourceSize</key>
                <string>{178,168}</string>
            </dict>
            <key>root/nuche_3/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,152},{530,206}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{530,206}}</string>
                <key>sourceSize</key>
                <string>{538,206}</string>
            </dict>
            <key>root/nuche_3/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,220},{242,174}}</string>
                <key>offset</key>
                <string>{-148,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{242,174}}</string>
                <key>sourceSize</key>
                <string>{538,206}</string>
            </dict>
            <key>root/nuche_3/hurt/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,842},{166,170}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{166,170}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>root/nugongshou_1/attack/jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,192},{50,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,4}}</string>
                <key>sourceSize</key>
                <string>{50,4}</string>
            </dict>
            <key>root/nugongshou_2/attack/jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,192},{50,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,4}}</string>
                <key>sourceSize</key>
                <string>{50,4}</string>
            </dict>
            <key>root/nugongshou_3/attack/jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,192},{50,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,4}}</string>
                <key>sourceSize</key>
                <string>{50,4}</string>
            </dict>
            <key>root/qibing_2/hurt/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,842},{128,180}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{128,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>root/qibing_2/hurt/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,842},{142,180}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>root/qibing_3/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{192,148}}</string>
                <key>offset</key>
                <string>{-25,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{192,148}}</string>
                <key>sourceSize</key>
                <string>{294,172}</string>
            </dict>
            <key>root/qibing_3/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,842},{178,148}}</string>
                <key>offset</key>
                <string>{-37,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{178,148}}</string>
                <key>sourceSize</key>
                <string>{294,172}</string>
            </dict>
            <key>root/qibing_3/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,108},{254,110}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{254,110}}</string>
                <key>sourceSize</key>
                <string>{294,172}</string>
            </dict>
            <key>root/qibing_3/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{268,104}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{268,104}}</string>
                <key>sourceSize</key>
                <string>{294,172}</string>
            </dict>
            <key>root/shaobing_1/move/90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,732},{108,104}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,17},{108,104}}</string>
                <key>sourceSize</key>
                <string>{150,122}</string>
            </dict>
            <key>root/shaobing_3/hurt/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,732},{108,136}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{108,136}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>root/siwangqishi/hurt/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,732},{108,138}}</string>
                <key>offset</key>
                <string>{-45,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{108,138}}</string>
                <key>sourceSize</key>
                <string>{222,138}</string>
            </dict>
            <key>root/toushiche_1/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,684},{230,156}}</string>
                <key>offset</key>
                <string>{-148,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{230,156}}</string>
                <key>sourceSize</key>
                <string>{530,156}</string>
            </dict>
            <key>root/toushiche_1/attack/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{530,118}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{530,118}}</string>
                <key>sourceSize</key>
                <string>{530,156}</string>
            </dict>
            <key>root/toushiche_1/attack/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,474},{522,116}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,39},{522,116}}</string>
                <key>sourceSize</key>
                <string>{530,156}</string>
            </dict>
            <key>root/toushiche_3/attack/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,474},{520,144}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{520,144}}</string>
                <key>sourceSize</key>
                <string>{534,166}</string>
            </dict>
            <key>root/toushiche_3/attack/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{522,144}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{522,144}}</string>
                <key>sourceSize</key>
                <string>{534,166}</string>
            </dict>
            <key>root/youqibing_3/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,732},{128,108}}</string>
                <key>offset</key>
                <string>{-45,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{128,108}}</string>
                <key>sourceSize</key>
                <string>{220,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldiers_animation_90_0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f19c3a310e3486d1563cf8e9935ec4f4:1/11$</string>
            <key>textureFileName</key>
            <string>soldiers_animation_90_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
