<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_23x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1381},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>3_35x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,518},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>5_23x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1409},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>Icon_empireRise_91x117.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,233},{91,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,117}}</string>
                <key>sourceSize</key>
                <string>{91,117}</string>
            </dict>
            <key>activity_bg_612x198.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,567},{612,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,198}}</string>
                <key>sourceSize</key>
                <string>{612,198}</string>
            </dict>
            <key>alliance_flag_body_106x126_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2003,1403},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,42},{104,42}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>alliance_flag_body_106x126_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1963},{104,82}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,44},{104,82}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>alliance_flag_body_106x126_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1861},{98,112}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{98,112}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>alliance_flag_shadow_113x79.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1381},{113,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,79}}</string>
                <key>sourceSize</key>
                <string>{113,79}</string>
            </dict>
            <key>alliance_join_tips_79x83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1963},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>alliance_panel_bg_544x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,1765},{544,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,32}}</string>
                <key>sourceSize</key>
                <string>{544,32}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,967},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_sieve_51x45.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,511},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>back_ground_121x122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,1837},{121,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,122}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>back_ground_42x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,1791},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>back_ground_619x270.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,374},{619,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,270}}</string>
                <key>sourceSize</key>
                <string>{619,270}</string>
            </dict>
            <key>back_ground_619x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,511},{619,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,52}}</string>
                <key>sourceSize</key>
                <string>{619,52}</string>
            </dict>
            <key>back_ground_96x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,199},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>back_ground_red_254x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2003,1145},{254,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,42}}</string>
                <key>sourceSize</key>
                <string>{254,42}</string>
            </dict>
            <key>back_ground_replay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,3},{634,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{634,474}}</string>
                <key>sourceSize</key>
                <string>{638,474}</string>
            </dict>
            <key>background2_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1567},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background3_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,1647},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background_330x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1963},{330,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,78}}</string>
                <key>sourceSize</key>
                <string>{330,78}</string>
            </dict>
            <key>background_768x152.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{768,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,152}}</string>
                <key>sourceSize</key>
                <string>{768,152}</string>
            </dict>
            <key>battle_bg_desert_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,769},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>battle_bg_grass_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1048},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>battle_bg_iceField_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,648},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>bottom_bg_768x136.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,3},{768,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,136}}</string>
                <key>sourceSize</key>
                <string>{768,136}</string>
            </dict>
            <key>box_62X98.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1861},{62,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,98}}</string>
                <key>sourceSize</key>
                <string>{62,98}</string>
            </dict>
            <key>box_gacha_112x112_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1381},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>box_gacha_112x112_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1381},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>box_soldier_128x128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,263},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>chat_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,263},{640,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,56}}</string>
                <key>sourceSize</key>
                <string>{640,56}</string>
            </dict>
            <key>dragon_tab_buttons_light_172x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,1991},{172,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,54}}</string>
                <key>sourceSize</key>
                <string>{172,54}</string>
            </dict>
            <key>dragon_tab_buttons_normal_172x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1991},{172,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,54}}</string>
                <key>sourceSize</key>
                <string>{172,54}</string>
            </dict>
            <key>draon_garrison_btn_d_82x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1963},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>drop_down_box_bottom_572x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,3},{572,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,16}}</string>
                <key>sourceSize</key>
                <string>{572,16}</string>
            </dict>
            <key>exclamation.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,354},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>eyrie_584x547.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1498},{580,547}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{580,547}}</string>
                <key>sourceSize</key>
                <string>{584,547}</string>
            </dict>
            <key>fte_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,159},{668,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{668,348}}</string>
                <key>sourceSize</key>
                <string>{672,348}</string>
            </dict>
            <key>gacha_line_16x564_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,579},{16,562}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,562}}</string>
                <key>sourceSize</key>
                <string>{16,564}</string>
            </dict>
            <key>gacha_line_16x564_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,374},{16,560}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,560}}</string>
                <key>sourceSize</key>
                <string>{16,564}</string>
            </dict>
            <key>gem_logo_592x139_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,566},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>goods_26x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,1498},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>grass_80x80_.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1963},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>greenDragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1381},{113,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{113,116}}</string>
                <key>sourceSize</key>
                <string>{113,128}</string>
            </dict>
            <key>grey_btn_112x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,1720},{112,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,58}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>grey_btn_148x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1162},{148,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,76}}</string>
                <key>sourceSize</key>
                <string>{148,76}</string>
            </dict>
            <key>make_eq_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,641},{474,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,436}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>make_eq_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1081},{452,436}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{452,436}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>map_alliance_icon_81x98.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1963},{81,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,98}}</string>
                <key>sourceSize</key>
                <string>{81,98}</string>
            </dict>
            <key>map_city_81x102.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1963},{81,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,102}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>online_time_bg_96x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,159},{96,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,36}}</string>
                <key>sourceSize</key>
                <string>{96,36}</string>
            </dict>
            <key>player_VIP_bg_110x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,1528},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>player_node_title_546x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,1727},{546,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,34}}</string>
                <key>sourceSize</key>
                <string>{546,34}</string>
            </dict>
            <key>progress_bar_364x40_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,1915},{360,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{360,34}}</string>
                <key>sourceSize</key>
                <string>{364,40}</string>
            </dict>
            <key>progress_bar_540x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1837},{536,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{536,36}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>progress_bar_540x40_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1877},{536,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{536,34}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>progress_bar_yellow_364x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,1953},{360,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{360,34}}</string>
                <key>sourceSize</key>
                <string>{364,40}</string>
            </dict>
            <key>pve_btn_up_60x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,1727},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>rectangle_grassLand_178x263.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1327},{178,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,263}}</string>
                <key>sourceSize</key>
                <string>{178,263}</string>
            </dict>
            <key>rectangle_iceField_178x263.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1594},{178,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,263}}</string>
                <key>sourceSize</key>
                <string>{178,263}</string>
            </dict>
            <key>redDragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1381},{113,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,122}}</string>
                <key>sourceSize</key>
                <string>{113,128}</string>
            </dict>
            <key>rhombus_iceField_83x61.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1240},{83,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,61}}</string>
                <key>sourceSize</key>
                <string>{83,61}</string>
            </dict>
            <key>server_item_568x130.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,395},{568,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,130}}</string>
                <key>sourceSize</key>
                <string>{568,130}</string>
            </dict>
            <key>setting_account_546x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,1525},{546,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,38}}</string>
                <key>sourceSize</key>
                <string>{546,38}</string>
            </dict>
            <key>shrine_page_btn_normal_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,518},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>silverKill_icon_76x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1162},{74,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{74,66}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>soldier_title_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,938},{276,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,26}}</string>
                <key>sourceSize</key>
                <string>{276,26}</string>
            </dict>
            <key>soldier_title_defence.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,1218},{276,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,26}}</string>
                <key>sourceSize</key>
                <string>{276,26}</string>
            </dict>
            <key>store_item_black_610x514.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,927},{610,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,514}}</string>
                <key>sourceSize</key>
                <string>{610,514}</string>
            </dict>
            <key>store_item_red_610x514.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1445},{610,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,514}}</string>
                <key>sourceSize</key>
                <string>{610,514}</string>
            </dict>
            <key>store_npc_1_109x130.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,1586},{109,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,130}}</string>
                <key>sourceSize</key>
                <string>{109,130}</string>
            </dict>
            <key>store_npc_2_171x130.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1915},{171,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,130}}</string>
                <key>sourceSize</key>
                <string>{171,130}</string>
            </dict>
            <key>tab_background_578x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1327},{578,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,50}}</string>
                <key>sourceSize</key>
                <string>{578,50}</string>
            </dict>
            <key>tab_event_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,323},{638,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,47}}</string>
                <key>sourceSize</key>
                <string>{638,47}</string>
            </dict>
            <key>title_blue_544x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,1801},{544,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,32}}</string>
                <key>sourceSize</key>
                <string>{544,32}</string>
            </dict>
            <key>tmp_btn_shrine_74x90.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,440},{74,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>top_bg_768x116.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,143},{768,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,116}}</string>
                <key>sourceSize</key>
                <string>{768,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_pvr1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed31959d646b92aedb7510e6fc8cbd93:2/3$</string>
            <key>textureFileName</key>
            <string>ui_pvr1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
