<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_bg_612x198.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,592},{612,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,198}}</string>
                <key>sourceSize</key>
                <string>{612,198}</string>
            </dict>
            <key>alliance_flag_base_84x89.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1957},{84,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>alliance_flag_body_106x126_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,1935},{106,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,126}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>alliance_flag_body_106x126_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1957},{104,82}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,44},{104,82}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>alliance_flag_setting_panel_370x264.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1664},{370,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,264}}</string>
                <key>sourceSize</key>
                <string>{370,264}</string>
            </dict>
            <key>alliance_flag_type_48x46_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,536},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_flag_type_48x46_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,536},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_flag_type_48x46_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,536},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_flag_type_48x46_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,536},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>back_ground_114x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,986},{114,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,36}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>back_ground_134x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,1519},{134,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,30}}</string>
                <key>sourceSize</key>
                <string>{134,30}</string>
            </dict>
            <key>back_ground_366x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1664},{366,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,66}}</string>
                <key>sourceSize</key>
                <string>{366,66}</string>
            </dict>
            <key>back_ground_43x43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1028},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>back_ground_520x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,4},{520,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,48}}</string>
                <key>sourceSize</key>
                <string>{520,48}</string>
            </dict>
            <key>back_ground_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,991},{960,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,334}}</string>
                <key>sourceSize</key>
                <string>{960,334}</string>
            </dict>
            <key>back_ground_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,991},{960,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,334}}</string>
                <key>sourceSize</key>
                <string>{960,334}</string>
            </dict>
            <key>back_ground_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,4},{960,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,334}}</string>
                <key>sourceSize</key>
                <string>{960,334}</string>
            </dict>
            <key>battle_bg_iceField_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,796},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>btn_138x110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,1519},{138,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,110}}</string>
                <key>sourceSize</key>
                <string>{138,110}</string>
            </dict>
            <key>btn_pressed_138x110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,1519},{138,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,110}}</string>
                <key>sourceSize</key>
                <string>{138,110}</string>
            </dict>
            <key>chat_btn_down_60x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,536},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>chat_btn_up_60x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,536},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>chat_page_index_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,970},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>chat_page_index_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,970},{20,6}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{20,6}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>chat_send_43x35.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,4},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>common_bg_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{647,981}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,981}}</string>
                <key>sourceSize</key>
                <string>{647,981}</string>
            </dict>
            <key>draon_garrison_btn_d_82x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1957},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>draon_garrison_btn_n_82x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1957},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>emoji_bg_536x478.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,50},{536,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,478}}</string>
                <key>sourceSize</key>
                <string>{536,478}</string>
            </dict>
            <key>emoji_page_8x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,970},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>exclamation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,986},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>eyrie_584x547.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1077},{580,547}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{580,547}}</string>
                <key>sourceSize</key>
                <string>{584,547}</string>
            </dict>
            <key>fte_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,990},{668,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{668,348}}</string>
                <key>sourceSize</key>
                <string>{672,348}</string>
            </dict>
            <key>gacha_disk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,592},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>home_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,536},{39,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>icon_wall_83x103.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1957},{83,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,103}}</string>
                <key>sourceSize</key>
                <string>{83,103}</string>
            </dict>
            <key>make_eq_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,94},{474,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,436}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>make_eq_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,1077},{452,436}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{452,436}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>material_42x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,58},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{30,32}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>mission_i_38x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1028},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>player_levelup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1664},{532,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,364}}</string>
                <key>sourceSize</key>
                <string>{532,364}</string>
            </dict>
            <key>process_color_village_collect_326x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,645},{322,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{322,34}}</string>
                <key>sourceSize</key>
                <string>{326,40}</string>
            </dict>
            <key>progress_bar_364x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,1705},{364,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,40}}</string>
                <key>sourceSize</key>
                <string>{364,40}</string>
            </dict>
            <key>progress_bar_458x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,4},{458,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,40}}</string>
                <key>sourceSize</key>
                <string>{458,40}</string>
            </dict>
            <key>progress_bar_458x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1663},{454,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{454,36}}</string>
                <key>sourceSize</key>
                <string>{458,40}</string>
            </dict>
            <key>rectangle_iceField_178x263.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,1751},{178,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,263}}</string>
                <key>sourceSize</key>
                <string>{178,263}</string>
            </dict>
            <key>res_stone_88x82.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,986},{88,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,82}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>res_wood_82x73.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,986},{82,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,73}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>rhombus_desert_83x61.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1957},{83,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,61}}</string>
                <key>sourceSize</key>
                <string>{83,61}</string>
            </dict>
            <key>rhombus_grassLand_83x61.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1957},{83,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,61}}</string>
                <key>sourceSize</key>
                <string>{83,61}</string>
            </dict>
            <key>rhombus_iceField_83x61.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1957},{83,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,61}}</string>
                <key>sourceSize</key>
                <string>{83,61}</string>
            </dict>
            <key>soldier_title_defence.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,1751},{276,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,26}}</string>
                <key>sourceSize</key>
                <string>{276,26}</string>
            </dict>
            <key>store_desc_black_335x92.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1705},{335,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,92}}</string>
                <key>sourceSize</key>
                <string>{335,92}</string>
            </dict>
            <key>store_npc_1_109x130.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,1935},{109,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,130}}</string>
                <key>sourceSize</key>
                <string>{109,130}</string>
            </dict>
            <key>store_npc_2_171x130.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1519},{171,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,130}}</string>
                <key>sourceSize</key>
                <string>{171,130}</string>
            </dict>
            <key>tab_background_40x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,1028},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>tab_event_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,970},{137,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,5}}</string>
                <key>sourceSize</key>
                <string>{137,5}</string>
            </dict>
            <key>teach_upgrade_icon_15x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,970},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>tech_42x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,536},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>title_blue_482x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,58},{482,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,30}}</string>
                <key>sourceSize</key>
                <string>{482,30}</string>
            </dict>
            <key>title_green_292X32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,1751},{292,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,32}}</string>
                <key>sourceSize</key>
                <string>{292,32}</string>
            </dict>
            <key>title_grey_482x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,94},{482,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,30}}</string>
                <key>sourceSize</key>
                <string>{482,30}</string>
            </dict>
            <key>title_purple_586x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,53},{586,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,34}}</string>
                <key>sourceSize</key>
                <string>{586,34}</string>
            </dict>
            <key>title_red_292X32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,1751},{292,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,32}}</string>
                <key>sourceSize</key>
                <string>{292,32}</string>
            </dict>
            <key>world_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,562},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>write_mail_58X46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,536},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_pvr0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5c41bbbaa3fd6adea796127c788ddab:1/3$</string>
            <key>textureFileName</key>
            <string>ui_pvr0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
