<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_brotherClub_122x124.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,895},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{122,124}</string>
            </dict>
            <key>activity_collectHeroBlood_134x134.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,1047},{122,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{122,122}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>activity_collectResource_134x134.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,895},{128,126}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{128,126}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>activity_gacha_134x134.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,849},{130,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{130,122}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>activity_pveFight_134x134.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1047},{122,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{122,122}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>activity_recruitSoldiers_134x134.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,1173},{122,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{122,122}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>add_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,765},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>alliance_flag_body_106x126_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,565},{104,100}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{104,100}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>alliance_flag_color_62x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,791},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{46,46}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>alliance_flag_type_48x46_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,841},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_flag_type_48x46_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,895},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_flag_type_48x46_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,945},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_flag_type_48x46_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,995},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_flag_type_48x46_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,1045},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_flag_type_48x46_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,1095},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_flag_type_48x46_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,1145},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_flag_type_48x46_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,1047},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_flag_type_48x46_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,1047},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_flag_type_48x46_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,1097},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_member_title_548x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,627},{548,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,38}}</string>
                <key>sourceSize</key>
                <string>{548,38}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,141},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,175},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,275},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,309},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>back_ground_121x122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1173},{121,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,122}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>back_ground_42x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,713},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>background1_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,311},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background2_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,391},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background3_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,471},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>bar_color_540x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,409},{536,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{536,34}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>box_soldier_128x128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,891},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>buff_active_123x125.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,1021},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,125}</string>
            </dict>
            <key>dragon_lv_bg_270x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,575},{270,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,30}}</string>
                <key>sourceSize</key>
                <string>{270,30}</string>
            </dict>
            <key>dragon_tab_buttons_light_172x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,527},{172,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,54}}</string>
                <key>sourceSize</key>
                <string>{172,54}</string>
            </dict>
            <key>dragon_tab_buttons_normal_172x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,791},{172,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,54}}</string>
                <key>sourceSize</key>
                <string>{172,54}</string>
            </dict>
            <key>dragon_title_bg_534x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,481},{534,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,46}}</string>
                <key>sourceSize</key>
                <string>{534,46}</string>
            </dict>
            <key>drop_down_box_bg_572x304.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{572,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,304}}</string>
                <key>sourceSize</key>
                <string>{572,304}</string>
            </dict>
            <key>drop_down_box_content_562x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,3},{562,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,58}}</string>
                <key>sourceSize</key>
                <string>{562,58}</string>
            </dict>
            <key>emoji_bg_536x478.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,669},{536,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,478}}</string>
                <key>sourceSize</key>
                <string>{536,478}</string>
            </dict>
            <key>faq_item_box_548x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,551},{548,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,72}}</string>
                <key>sourceSize</key>
                <string>{548,72}</string>
            </dict>
            <key>gacha_disk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,41},{302,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{302,300}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>gacha_disk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,703},{340,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,340}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>gacha_line_16x564_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,3},{16,560}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,560}}</string>
                <key>sourceSize</key>
                <string>{16,564}</string>
            </dict>
            <key>player_levelup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,485},{532,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,364}}</string>
                <key>sourceSize</key>
                <string>{532,364}</string>
            </dict>
            <key>process_color_village_collect_326x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,3},{322,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{322,34}}</string>
                <key>sourceSize</key>
                <string>{326,40}</string>
            </dict>
            <key>progress_bar_272x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,531},{272,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,40}}</string>
                <key>sourceSize</key>
                <string>{272,40}</string>
            </dict>
            <key>progress_bar_272x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,443},{266,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{266,34}}</string>
                <key>sourceSize</key>
                <string>{272,40}</string>
            </dict>
            <key>progress_bar_540x40_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,443},{536,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{536,34}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>progress_bar_540x40_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,447},{536,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{536,34}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>rectangle_desert_178x263.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,531},{178,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,263}}</string>
                <key>sourceSize</key>
                <string>{178,263}</string>
            </dict>
            <key>rectangle_grassLand_178x263.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,609},{178,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,263}}</string>
                <key>sourceSize</key>
                <string>{178,263}</string>
            </dict>
            <key>rectangle_iceField_178x263.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,713},{178,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,263}}</string>
                <key>sourceSize</key>
                <string>{178,263}</string>
            </dict>
            <key>rectangle_terrain_box_216x282.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,345},{216,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,282}}</string>
                <key>sourceSize</key>
                <string>{216,282}</string>
            </dict>
            <key>slider_progress_538x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,311},{538,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,14}}</string>
                <key>sourceSize</key>
                <string>{538,14}</string>
            </dict>
            <key>store_npc_2_171x130.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,565},{171,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,130}}</string>
                <key>sourceSize</key>
                <string>{171,130}</string>
            </dict>
            <key>title_blue_482x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2013,41},{482,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,30}}</string>
                <key>sourceSize</key>
                <string>{482,30}</string>
            </dict>
            <key>title_blue_554x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,103},{556,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,34}}</string>
                <key>sourceSize</key>
                <string>{556,34}</string>
            </dict>
            <key>title_blue_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,23},{558,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,34}}</string>
                <key>sourceSize</key>
                <string>{558,34}</string>
            </dict>
            <key>title_green_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,61},{558,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,34}}</string>
                <key>sourceSize</key>
                <string>{558,34}</string>
            </dict>
            <key>title_grey_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,65},{558,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,34}}</string>
                <key>sourceSize</key>
                <string>{558,34}</string>
            </dict>
            <key>title_purple_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,99},{558,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,34}}</string>
                <key>sourceSize</key>
                <string>{558,34}</string>
            </dict>
            <key>title_red_556x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,137},{556,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,34}}</string>
                <key>sourceSize</key>
                <string>{556,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_pvr2.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cc7532d211e2a409bf30a4b40669563:3/3$</string>
            <key>textureFileName</key>
            <string>ui_pvr2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
