<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fairground.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1634},{386,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,297}}</string>
                <key>sourceSize</key>
                <string>{386,297}</string>
            </dict>
            <key>armyCamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1751},{294,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,264}}</string>
                <key>sourceSize</key>
                <string>{294,264}</string>
            </dict>
            <key>barracks.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,1380},{252,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,240}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>blackSmith.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,1744},{208,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,244}}</string>
                <key>sourceSize</key>
                <string>{208,244}</string>
            </dict>
            <key>dragon_lv_bg_270x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,358},{270,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,30}}</string>
                <key>sourceSize</key>
                <string>{270,30}</string>
            </dict>
            <key>draon_garrison_btn_d_82x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,2},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>dwelling_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1106},{132,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,150}}</string>
                <key>sourceSize</key>
                <string>{132,150}</string>
            </dict>
            <key>gacha_disk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>gacha_disk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1135},{262,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{262,260}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>gacha_disk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1135},{340,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,340}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>keep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,744},{420,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,389}}</string>
                <key>sourceSize</key>
                <string>{420,389}</string>
            </dict>
            <key>keep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,388},{436,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,436}}</string>
                <key>sourceSize</key>
                <string>{436,436}</string>
            </dict>
            <key>lock_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,1954},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>lumbermill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{270,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,232}}</string>
                <key>sourceSize</key>
                <string>{270,232}</string>
            </dict>
            <key>make_eq_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{474,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,436}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>make_eq_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,356},{452,436}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{452,436}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>make_eq_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,826},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{414,414}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>miner_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,1648},{130,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>quarrier_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1396},{150,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,158}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>quest_btn_down_386x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1477},{382,56}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{382,56}}</string>
                <key>sourceSize</key>
                <string>{386,62}</string>
            </dict>
            <key>quest_btn_up_386x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1400},{382,56}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{382,56}}</string>
                <key>sourceSize</key>
                <string>{386,62}</string>
            </dict>
            <key>ruin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1231},{132,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,90}}</string>
                <key>sourceSize</key>
                <string>{132,90}</string>
            </dict>
            <key>single_tree_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,90},{79,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,124}}</string>
                <key>sourceSize</key>
                <string>{79,124}</string>
            </dict>
            <key>single_tree_3_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1658},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>single_tree_4_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1556},{76,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,119}}</string>
                <key>sourceSize</key>
                <string>{76,119}</string>
            </dict>
            <key>toolShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1400},{228,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,232}}</string>
                <key>sourceSize</key>
                <string>{228,232}</string>
            </dict>
            <key>tower_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,791},{96,194}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,194}}</string>
                <key>sourceSize</key>
                <string>{110,194}</string>
            </dict>
            <key>tower_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,595},{98,194}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,194}}</string>
                <key>sourceSize</key>
                <string>{110,194}</string>
            </dict>
            <key>tower_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,940},{94,193}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{94,193}}</string>
                <key>sourceSize</key>
                <string>{94,211}</string>
            </dict>
            <key>tower_left_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1751},{298,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,283}}</string>
                <key>sourceSize</key>
                <string>{298,283}</string>
            </dict>
            <key>tower_none_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1556},{74,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,179}}</string>
                <key>sourceSize</key>
                <string>{74,179}</string>
            </dict>
            <key>tower_none_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,216},{76,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,179}}</string>
                <key>sourceSize</key>
                <string>{76,181}</string>
            </dict>
            <key>tower_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,744},{96,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,194}}</string>
                <key>sourceSize</key>
                <string>{96,194}</string>
            </dict>
            <key>tower_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,397},{100,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,196}}</string>
                <key>sourceSize</key>
                <string>{100,196}</string>
            </dict>
            <key>tower_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1135},{94,191}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{94,191}}</string>
                <key>sourceSize</key>
                <string>{94,209}</string>
            </dict>
            <key>tower_right_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1242},{192,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,204}}</string>
                <key>sourceSize</key>
                <string>{192,204}</string>
            </dict>
            <key>tower_right_x_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1436},{210,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,200}}</string>
                <key>sourceSize</key>
                <string>{210,200}</string>
            </dict>
            <key>tower_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1658},{89,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,193}}</string>
                <key>sourceSize</key>
                <string>{89,193}</string>
            </dict>
            <key>tower_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,1648},{94,182}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{94,182}}</string>
                <key>sourceSize</key>
                <string>{94,200}</string>
            </dict>
            <key>trees_down_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1094},{389,304}}</string>
                <key>offset</key>
                <string>{-51,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{389,304}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_down_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,794},{426,298}}</string>
                <key>offset</key>
                <string>{-32,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,56},{426,298}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_down_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{484,384}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{484,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>trees_left_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,1230},{241,148}}</string>
                <key>offset</key>
                <string>{-125,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,112},{241,148}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_left_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,987},{241,178}}</string>
                <key>offset</key>
                <string>{-115,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,109},{241,178}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_left_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1477},{179,161}}</string>
                <key>offset</key>
                <string>{-124,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,84},{179,161}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_left_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{494,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{494,354}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_left_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{484,384}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{484,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>trees_right_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{197,156}}</string>
                <key>offset</key>
                <string>{113,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,119},{197,156}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_right_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1749},{267,281}}</string>
                <key>offset</key>
                <string>{100,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,13},{267,281}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_up_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1242},{233,208}}</string>
                <key>offset</key>
                <string>{-39,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,0},{233,208}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_up_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1458},{243,188}}</string>
                <key>offset</key>
                <string>{-34,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,1},{243,188}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_up_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,1780},{271,266}}</string>
                <key>offset</key>
                <string>{-43,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{271,266}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_up_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,2},{474,352}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{474,352}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_up_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,358},{480,384}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{480,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>unlock_road_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,278}}</string>
                <key>sourceSize</key>
                <string>{502,278}</string>
            </dict>
            <key>wall_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,1954},{88,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,136}}</string>
                <key>sourceSize</key>
                <string>{88,136}</string>
            </dict>
            <key>wall_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,1634},{88,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,136}}</string>
                <key>sourceSize</key>
                <string>{88,136}</string>
            </dict>
            <key>wall_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1242},{94,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,152}}</string>
                <key>sourceSize</key>
                <string>{94,152}</string>
            </dict>
            <key>warehouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1535},{232,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,214}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>woodcutter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,1606},{146,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,136}}</string>
                <key>sourceSize</key>
                <string>{146,136}</string>
            </dict>
            <key>woodcutter_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,1458},{148,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,146}}</string>
                <key>sourceSize</key>
                <string>{148,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_prv_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bca875db9a67625dff53c8792921c73a:2/3$</string>
            <key>textureFileName</key>
            <string>city_prv_1.png</string>
        </dict>
    </dict>
</plist>
