<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alliance_enter_city_56x68.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,346},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>alliance_home_top_bg_768x116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,116}}</string>
                <key>sourceSize</key>
                <string>{768,116}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_soldier_shadow_128x107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,226},{128,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,107}}</string>
                <key>sourceSize</key>
                <string>{128,107}</string>
            </dict>
            <key>alliance_stage_lock_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,134},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>arrow_blue-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,328},{14,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{14,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>arrow_red-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,328},{14,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{14,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>back_ground_28x14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,424},{20,6}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{20,6}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>back_ground_28x14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,424},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>back_ground_42x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,400},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>back_ground_640x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{640,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{640,60}}</string>
                <key>sourceSize</key>
                <string>{640,62}</string>
            </dict>
            <key>background_52x112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,292},{52,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,112}}</string>
                <key>sourceSize</key>
                <string>{52,112}</string>
            </dict>
            <key>background_98x70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,220},{98,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,70}}</string>
                <key>sourceSize</key>
                <string>{98,70}</string>
            </dict>
            <key>background_flag_enemy_100x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,356},{100,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>background_flag_mine_100x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,164},{100,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>bronzeKill_icon_76x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,444},{66,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{66,64}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>button_blue_normal_240X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,164},{240,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,86}}</string>
                <key>sourceSize</key>
                <string>{240,86}</string>
            </dict>
            <key>button_blue_normal_314X88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,134},{314,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,88}</string>
            </dict>
            <key>button_blue_normal_388X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,310},{388,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,86}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>button_blue_pressed_240X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,182},{240,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,86}}</string>
                <key>sourceSize</key>
                <string>{240,86}</string>
            </dict>
            <key>button_blue_pressed_314X88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,134},{314,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,88}</string>
            </dict>
            <key>button_blue_pressed_388X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,222},{388,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,86}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>button_red_normal_314X88.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,398},{314,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,88}</string>
            </dict>
            <key>button_red_normal_388X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,134},{388,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,86}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>button_red_pressed_314X88.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,120},{314,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,88}</string>
            </dict>
            <key>button_red_pressed_388X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,76},{388,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,86}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>capture_38x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,460},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>city_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,446},{232,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,62}}</string>
                <key>sourceSize</key>
                <string>{232,62}</string>
            </dict>
            <key>city_helped_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,252},{224,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{224,56}}</string>
                <key>sourceSize</key>
                <string>{226,58}</string>
            </dict>
            <key>city_terrain_desert_142x142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,76},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>city_terrain_grassLand_142x142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,252},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>city_terrain_iceField_142x142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,252},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>destory_48x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,450},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>enemy_city_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,446},{230,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,62}}</string>
                <key>sourceSize</key>
                <string>{232,62}</string>
            </dict>
            <key>enemy_city_helped_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,430},{226,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,56}}</string>
                <key>sourceSize</key>
                <string>{226,58}</string>
            </dict>
            <key>goldKill_icon_76x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,78},{74,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>help_defense_44x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,20},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>icon_alliance_crisis.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,406},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>icon_award_52x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,290},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>icon_buy_goods_72x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,164},{72,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>icon_king_city_70x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,450},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>icon_move_alliance_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,274},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>icon_move_player_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,346},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>icon_proficiency_78x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,430},{78,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,56}}</string>
                <key>sourceSize</key>
                <string>{78,56}</string>
            </dict>
            <key>icon_stock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,164},{74,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,50}}</string>
                <key>sourceSize</key>
                <string>{74,50}</string>
            </dict>
            <key>icon_upgrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,216},{56,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_war_48x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,2},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>mail_56x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,450},{56,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>none_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{232,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,62}}</string>
                <key>sourceSize</key>
                <string>{232,62}</string>
            </dict>
            <key>shire_stage_title_564x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,20},{560,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{560,54}}</string>
                <key>sourceSize</key>
                <string>{568,62}</string>
            </dict>
            <key>shrie_state_item_line_606_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{606,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,16}}</string>
                <key>sourceSize</key>
                <string>{606,16}</string>
            </dict>
            <key>silverKill_icon_76x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,398},{74,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{74,66}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>strike_66x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,444},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>title_red_266x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,396},{266,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,32}}</string>
                <key>sourceSize</key>
                <string>{266,32}</string>
            </dict>
            <key>village_flag_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,220},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>village_flag_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,406},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>village_flag_mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,346},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>village_icon_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,460},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>village_icon_mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,460},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>region_png.png</string>
            <key>size</key>
            <string>{1986,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:452274f71075eded6bc250b7eecdd1fe:1/1$</string>
            <key>textureFileName</key>
            <string>region_png.png</string>
        </dict>
    </dict>
</plist>
