<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>X_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,590},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>X_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,652},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>add_btn_down_50x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,654},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>add_btn_up_50x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,705},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>alliance_invitation_62x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,490},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>alliance_shire_star_60x58_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,522},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>alliance_shire_star_60x58_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,588},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>background_57x57.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,590},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>background_86x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,427},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>bottom_icon_mission_62x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,576},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>bottom_icon_package_77x67.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,4},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>box_104x104_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>box_104x104_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,4},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>box_104x104_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,4},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>box_104x104_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,4},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>box_gacha_92x92.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,424},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>chat_btn_down_60x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,641},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>chat_btn_up_60x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,651},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>chat_check_out_62x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,710},{50,50}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>chat_mail_62x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,587},{62,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>checkbox_selectd.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,644},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>dragon_eq_lock_87x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,422},{87,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>green_btn_down_58x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,695},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>green_btn_up_58x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,682},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_ALL.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,222},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_AUS.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,224},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_CAN.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,222},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_CHN.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,322},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_DEU.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,324},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_ESP.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,322},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_FIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,327},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_FRA.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,346},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_GBR.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,422},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_box_open_66x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,512},{66,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>icon_facebook_104x104.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,114},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_goto_38x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,552},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>icon_info_56x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,653},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_prestige_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,446},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon_world_88x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,515},{62,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{62,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>mail_icon_62x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,614},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>map_bg_100X100.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,221},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>movingConstruction_101x101.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,114},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>player_title_icon_bg_102x102.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,114},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>red_btn_down_58x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,709},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>red_btn_up_58x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,746},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>setting_music_close_66x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,446},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>setting_sound_close_64x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,76},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>setting_user_voice_62x63.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,519},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>slider_btn_66x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,274},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tmp_pve_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,522},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tmp_pve_star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,522},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>upgrade_acc_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,114},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{108,104}</string>
            </dict>
            <key>upgrade_experience_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,583},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>vip_level_tip_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,138},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>vip_level_tip_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,206},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c763a77de07e3c73dd39c15f3a712889:3/3$</string>
            <key>textureFileName</key>
            <string>ui_png2.png</string>
        </dict>
    </dict>
</plist>
