<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CheckBoxButtonOff_100x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{96,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,56}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>X_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1788},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>X_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1788},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>activity_day_bg_104x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,464},{104,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,34}}</string>
                <key>sourceSize</key>
                <string>{104,34}</string>
            </dict>
            <key>add_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,668},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>add_btn_down_50x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1994},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>add_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,710},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>add_btn_up_50x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1994},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>alliance_apply_62x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1896},{54,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{54,54}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>alliance_button_h_132x98.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{132,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,98}}</string>
                <key>sourceSize</key>
                <string>{132,98}</string>
            </dict>
            <key>alliance_button_n_132x98.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{132,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,98}}</string>
                <key>sourceSize</key>
                <string>{132,98}</string>
            </dict>
            <key>alliance_group_mail_62x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1424},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>alliance_invitation_62x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,610},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>alliance_item_leader_39x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,916},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>alliance_shire_star_60x58_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1476},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>alliance_sign_out_62x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1728},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,54}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>attack_58x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1757},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>back_ground_43x43.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1994},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>back_ground_43x43_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1969},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>background_86x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>blueDragon_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,836},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>blue_btn_down_112x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,228},{112,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,58}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>blue_btn_up_112x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,288},{112,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,58}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>bottom_icon_mission_62x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1175},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>box_104x104_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,634},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>box_104x104_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>box_104x104_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,740},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>box_104x104_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>box_132x132_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>box_86x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1640},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>box_gacha_112x112_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,116},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>cancel_39x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,1952},{37,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>chat_check_out_62x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1994},{50,50}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>chat_shield_62x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,957},{44,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{44,54}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>checkbox_selectd.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1636},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>dragon_load_eq_37x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1952},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>dragon_skill_bg_110x110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>drgon_process_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1994},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>drop_down_box_button_light_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1013},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>drop_down_box_button_normal_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1067},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>gem_icon_62x61.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1867},{54,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{54,55}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>global_channel_39x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1923},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>greenDragon_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,752},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>green_btn_down_58x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1697},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>green_btn_up_58x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1722},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hide_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1846},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>hide_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1846},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>icon_ALL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_AUS.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1160},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_CAN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_CHN.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1256},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_DEU.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_ESP.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1352},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_FIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1442},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_FRA.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1448},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_GBR.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1538},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_ITA.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1544},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_facebook_104x104.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,846},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_gameCenter_104x104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_info_56x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1842},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_language_selected_112x112.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_march_50x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1900},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>mail_icon_62x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1239},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>no_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,794},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>player_VIP_bg_110x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,408},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>player_title_icon_bg_102x102.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,952},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>pve_btn_down_60x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1536},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>pve_btn_up_60x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1586},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>redDragon_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,876},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>red_btn_down_58x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1728},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>red_btn_up_58x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1782},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>retreat_red_button_h_52x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1896},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>setting_server_55x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1367},{55,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,62}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>setting_sound_64x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1815},{50,56}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>shrine_page_btn_disable_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1121},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>shrine_page_btn_light_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1923},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>shrine_page_btn_normal_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1948},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>tab_btn_down_brown_106x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,514},{106,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,58}}</string>
                <key>sourceSize</key>
                <string>{106,58}</string>
            </dict>
            <key>tab_btn_down_brown_106x58_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{106,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,58}}</string>
                <key>sourceSize</key>
                <string>{106,58}</string>
            </dict>
            <key>tab_btn_down_brown_110x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,348},{110,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{110,58}</string>
            </dict>
            <key>tab_btn_up_106x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,574},{106,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,58}}</string>
                <key>sourceSize</key>
                <string>{106,58}</string>
            </dict>
            <key>tab_btn_up_106x58_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{106,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,58}}</string>
                <key>sourceSize</key>
                <string>{106,58}</string>
            </dict>
            <key>tmp_pve_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1303},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>upgrade_acc_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{108,104}</string>
            </dict>
            <key>upgrade_acc_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1056},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{108,104}</string>
            </dict>
            <key>upgrade_props_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{108,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{108,104}</string>
            </dict>
            <key>vip_lv_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,570},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>yellow_btn_down_108x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,464},{108,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,48}}</string>
                <key>sourceSize</key>
                <string>{108,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png2.png</string>
            <key>size</key>
            <string>{258,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcf54eb80cad72032e87007b43e7d2a4:3/3$</string>
            <key>textureFileName</key>
            <string>ui_png2.png</string>
        </dict>
    </dict>
</plist>
