<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_logo_589x138.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1389},{589,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,138}}</string>
                <key>sourceSize</key>
                <string>{589,138}</string>
            </dict>
            <key>alliance_flag_base_84x89.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,626},{84,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>alliance_flag_body_106x126_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,1943},{104,100}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{104,100}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>alliance_flag_setting_panel_370x264.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,1569},{370,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,264}}</string>
                <key>sourceSize</key>
                <string>{370,264}</string>
            </dict>
            <key>alliance_flag_type_48x46_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1342},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_flag_type_48x46_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1342},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_member_title_548x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,830},{548,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,38}}</string>
                <key>sourceSize</key>
                <string>{548,38}</string>
            </dict>
            <key>back_ground_102x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,1943},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>back_ground_520x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1457},{520,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,48}}</string>
                <key>sourceSize</key>
                <string>{520,48}</string>
            </dict>
            <key>back_ground_540x70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,845},{540,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,70}}</string>
                <key>sourceSize</key>
                <string>{540,70}</string>
            </dict>
            <key>back_ground_619x270.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,3},{619,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,270}}</string>
                <key>sourceSize</key>
                <string>{619,270}</string>
            </dict>
            <key>back_ground_619x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,719},{619,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,52}}</string>
                <key>sourceSize</key>
                <string>{619,52}</string>
            </dict>
            <key>back_ground_replay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1393},{634,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{634,474}}</string>
                <key>sourceSize</key>
                <string>{638,474}</string>
            </dict>
            <key>background_330x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,751},{330,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,78}}</string>
                <key>sourceSize</key>
                <string>{330,78}</string>
            </dict>
            <key>background_500x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,617},{500,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,84}}</string>
                <key>sourceSize</key>
                <string>{500,84}</string>
            </dict>
            <key>battle_bg_desert_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,3},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>battle_bg_grass_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,719},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>blueDragon_egg_176x192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,419},{176,190}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,190}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>box_62X98.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1324},{62,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,98}}</string>
                <key>sourceSize</key>
                <string>{62,98}</string>
            </dict>
            <key>box_gacha_senior_136x136_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,705},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>brown_btn_down_552x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1988},{552,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,56}}</string>
                <key>sourceSize</key>
                <string>{552,56}</string>
            </dict>
            <key>brown_btn_up_552x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,833},{552,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,56}}</string>
                <key>sourceSize</key>
                <string>{552,56}</string>
            </dict>
            <key>chat_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1393},{640,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,56}}</string>
                <key>sourceSize</key>
                <string>{640,56}</string>
            </dict>
            <key>citizen_num_bg_170x714.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{170,714}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,714}}</string>
                <key>sourceSize</key>
                <string>{170,714}</string>
            </dict>
            <key>disbale_552x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,833},{552,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,56}}</string>
                <key>sourceSize</key>
                <string>{552,56}</string>
            </dict>
            <key>draon_garrison_btn_d_82x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,617},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>draon_garrison_btn_n_82x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,617},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>drop_down_box_bg_572x304.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,3},{572,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,304}}</string>
                <key>sourceSize</key>
                <string>{572,304}</string>
            </dict>
            <key>drop_down_box_content_562x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1986},{562,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,58}}</string>
                <key>sourceSize</key>
                <string>{562,58}</string>
            </dict>
            <key>exclamation.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,626},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>fte_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,721},{668,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{668,348}}</string>
                <key>sourceSize</key>
                <string>{672,348}</string>
            </dict>
            <key>gacha_disk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,311},{302,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{302,300}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>gem_logo_592x139_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1392},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>gem_logo_592x139_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1392},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>gem_logo_592x139_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1392},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>gem_logo_592x139_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1392},{590,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>greenDragon_egg_176x192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,1389},{176,180}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{176,180}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>icon_attack_76x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,618},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>icon_desert_132x132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,705},{118,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_wall_83x103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,479},{83,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,103}}</string>
                <key>sourceSize</key>
                <string>{83,103}</string>
            </dict>
            <key>make_eq_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,911},{452,436}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{452,436}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>map_alliance_icon_81x98.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,1457},{81,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,98}}</string>
                <key>sourceSize</key>
                <string>{81,98}</string>
            </dict>
            <key>map_back_99x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,618},{99,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{99,88}</string>
            </dict>
            <key>map_city_81x102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,1351},{81,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,102}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>march_return_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,751},{75,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>march_speedup_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,751},{75,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>march_speedup_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,751},{75,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>online_time_bg_96x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,618},{96,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,36}}</string>
                <key>sourceSize</key>
                <string>{96,36}</string>
            </dict>
            <key>player_VIP_bg_110x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,751},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>process_bar_540x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,845},{540,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,40}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>progress_bar_272x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,345},{266,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{266,34}}</string>
                <key>sourceSize</key>
                <string>{272,40}</string>
            </dict>
            <key>progress_bar_410x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1351},{404,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{404,34}}</string>
                <key>sourceSize</key>
                <string>{410,40}</string>
            </dict>
            <key>progress_bar_458x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,833},{458,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,40}}</string>
                <key>sourceSize</key>
                <string>{458,40}</string>
            </dict>
            <key>progress_bar_458x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,345},{454,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{454,36}}</string>
                <key>sourceSize</key>
                <string>{458,40}</string>
            </dict>
            <key>progress_bar_540x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,845},{540,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,40}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>progress_bg_116x89.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,626},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>pve_btn_up_60x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1389},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>rectangle_terrain_box_216x282.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,3},{216,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,282}}</string>
                <key>sourceSize</key>
                <string>{216,282}</string>
            </dict>
            <key>redDragon_egg_176x192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,419},{176,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,192}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>report_collect_590x137.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1389},{590,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,137}}</string>
                <key>sourceSize</key>
                <string>{590,137}</string>
            </dict>
            <key>report_failure_590x137.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1389},{590,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,136}}</string>
                <key>sourceSize</key>
                <string>{590,136}</string>
            </dict>
            <key>report_victory_590x137.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,1389},{590,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,137}}</string>
                <key>sourceSize</key>
                <string>{590,137}</string>
            </dict>
            <key>rhombus_desert_83x61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1324},{83,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,61}}</string>
                <key>sourceSize</key>
                <string>{83,61}</string>
            </dict>
            <key>rhombus_grassLand_83x61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,1982},{83,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,61}}</string>
                <key>sourceSize</key>
                <string>{83,61}</string>
            </dict>
            <key>server_item_568x130.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,617},{568,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,130}}</string>
                <key>sourceSize</key>
                <string>{568,130}</string>
            </dict>
            <key>store_item_black_610x514.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,710},{610,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,514}}</string>
                <key>sourceSize</key>
                <string>{610,514}</string>
            </dict>
            <key>store_item_red_610x514.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,3},{610,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,514}}</string>
                <key>sourceSize</key>
                <string>{610,514}</string>
            </dict>
            <key>tab_event_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1393},{638,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,47}}</string>
                <key>sourceSize</key>
                <string>{638,47}</string>
            </dict>
            <key>title_552x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,833},{552,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,16}}</string>
                <key>sourceSize</key>
                <string>{552,16}</string>
            </dict>
            <key>title_blue_430x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,385},{430,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,30}}</string>
                <key>sourceSize</key>
                <string>{430,30}</string>
            </dict>
            <key>title_blue_482x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,311},{482,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,30}}</string>
                <key>sourceSize</key>
                <string>{482,30}</string>
            </dict>
            <key>title_grey_482x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,877},{482,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,30}}</string>
                <key>sourceSize</key>
                <string>{482,30}</string>
            </dict>
            <key>title_red_564x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1334},{564,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,54}}</string>
                <key>sourceSize</key>
                <string>{564,54}</string>
            </dict>
            <key>tmp_monster_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,419},{84,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,56}}</string>
                <key>sourceSize</key>
                <string>{84,56}</string>
            </dict>
            <key>tmp_shrine_open_icon_96x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,618},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>torch_101x101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,1943},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_pvr1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8172f4cc7b30676fd854623c6a9f1f28:2/3$</string>
            <key>textureFileName</key>
            <string>ui_pvr1.png</string>
        </dict>
    </dict>
</plist>
