<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,330},{54,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,3}}</string>
                <key>sourceSize</key>
                <string>{54,3}</string>
            </dict>
            <key>Background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,548},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>Background_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,548},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>Background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,947},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>Background_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1610},{55,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,19}}</string>
                <key>sourceSize</key>
                <string>{55,19}</string>
            </dict>
            <key>Background_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1610},{55,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,19}}</string>
                <key>sourceSize</key>
                <string>{55,19}</string>
            </dict>
            <key>Background_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,904},{72,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>Background_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,904},{72,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,706},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,335},{1,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,138}}</string>
                <key>sourceSize</key>
                <string>{1,138}</string>
            </dict>
            <key>Line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,330},{1,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,138}}</string>
                <key>sourceSize</key>
                <string>{1,138}</string>
            </dict>
            <key>Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,860},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>black_dragon/Flying_90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1022},{194,170}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,92},{194,170}}</string>
                <key>sourceSize</key>
                <string>{200,314}</string>
            </dict>
            <key>black_dragon/Flying_90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1732},{196,202}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,80},{196,202}}</string>
                <key>sourceSize</key>
                <string>{200,314}</string>
            </dict>
            <key>black_dragon/Flying_90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1294},{196,226}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,67},{196,226}}</string>
                <key>sourceSize</key>
                <string>{200,314}</string>
            </dict>
            <key>black_dragon/Flying_90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,606},{194,268}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,37},{194,268}}</string>
                <key>sourceSize</key>
                <string>{200,314}</string>
            </dict>
            <key>black_dragon/Flying_90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,338},{192,284}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{192,284}}</string>
                <key>sourceSize</key>
                <string>{200,314}</string>
            </dict>
            <key>black_dragon/Flying_90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,998},{190,304}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{190,304}}</string>
                <key>sourceSize</key>
                <string>{200,314}</string>
            </dict>
            <key>black_dragon/Flying_90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{190,314}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{190,314}}</string>
                <key>sourceSize</key>
                <string>{200,314}</string>
            </dict>
            <key>black_dragon/Flying_90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{190,242}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,55},{190,242}}</string>
                <key>sourceSize</key>
                <string>{200,314}</string>
            </dict>
            <key>blue_dragon/Flying_90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1364},{192,156}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,118},{192,156}}</string>
                <key>sourceSize</key>
                <string>{200,334}</string>
            </dict>
            <key>blue_dragon/Flying_90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1022},{190,192}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,101},{190,192}}</string>
                <key>sourceSize</key>
                <string>{200,334}</string>
            </dict>
            <key>blue_dragon/Flying_90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,316},{192,230}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,78},{192,230}}</string>
                <key>sourceSize</key>
                <string>{200,334}</string>
            </dict>
            <key>blue_dragon/Flying_90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1632},{190,288}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,43},{190,288}}</string>
                <key>sourceSize</key>
                <string>{200,334}</string>
            </dict>
            <key>blue_dragon/Flying_90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{186,326}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{186,326}}</string>
                <key>sourceSize</key>
                <string>{200,334}</string>
            </dict>
            <key>blue_dragon/Flying_90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,334}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{184,334}}</string>
                <key>sourceSize</key>
                <string>{200,334}</string>
            </dict>
            <key>blue_dragon/Flying_90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{182,320}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{182,320}}</string>
                <key>sourceSize</key>
                <string>{200,334}</string>
            </dict>
            <key>blue_dragon/Flying_90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,602},{182,220}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,96},{182,220}}</string>
                <key>sourceSize</key>
                <string>{200,334}</string>
            </dict>
            <key>chengqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1930},{33,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,113}}</string>
                <key>sourceSize</key>
                <string>{33,113}</string>
            </dict>
            <key>chengqiang3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1220},{35,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,72}}</string>
                <key>sourceSize</key>
                <string>{35,72}</string>
            </dict>
            <key>chengqiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1930},{33,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,113}}</string>
                <key>sourceSize</key>
                <string>{33,113}</string>
            </dict>
            <key>chengqiang_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1930},{33,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,113}}</string>
                <key>sourceSize</key>
                <string>{33,113}</string>
            </dict>
            <key>chengqiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,246},{48,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,145}}</string>
                <key>sourceSize</key>
                <string>{48,145}</string>
            </dict>
            <key>chengqiang_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1220},{48,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,145}}</string>
                <key>sourceSize</key>
                <string>{48,145}</string>
            </dict>
            <key>chengqiang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,876},{35,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,72}}</string>
                <key>sourceSize</key>
                <string>{35,72}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{201,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,227}}</string>
                <key>sourceSize</key>
                <string>{201,227}</string>
            </dict>
            <key>green_dragon/Flying_90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1554},{188,171}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,122},{188,171}}</string>
                <key>sourceSize</key>
                <string>{200,343}</string>
            </dict>
            <key>green_dragon/Flying_90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,977},{194,223}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,92},{194,223}}</string>
                <key>sourceSize</key>
                <string>{200,343}</string>
            </dict>
            <key>green_dragon/Flying_90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{196,257}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,68},{196,257}}</string>
                <key>sourceSize</key>
                <string>{200,343}</string>
            </dict>
            <key>green_dragon/Flying_90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{196,323}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{196,323}}</string>
                <key>sourceSize</key>
                <string>{200,343}</string>
            </dict>
            <key>green_dragon/Flying_90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{190,323}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{190,323}}</string>
                <key>sourceSize</key>
                <string>{200,343}</string>
            </dict>
            <key>green_dragon/Flying_90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{190,333}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{190,333}}</string>
                <key>sourceSize</key>
                <string>{200,343}</string>
            </dict>
            <key>green_dragon/Flying_90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,327},{188,277}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,66},{188,277}}</string>
                <key>sourceSize</key>
                <string>{200,343}</string>
            </dict>
            <key>green_dragon/Flying_90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,955},{188,203}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,119},{188,203}}</string>
                <key>sourceSize</key>
                <string>{200,343}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,605},{226,236}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{238,236}</string>
            </dict>
            <key>hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1304},{13,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,144}}</string>
                <key>sourceSize</key>
                <string>{13,144}</string>
            </dict>
            <key>images/1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,246},{50,48}}</string>
                <key>offset</key>
                <string>{-22,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,94},{50,48}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,824},{178,196}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{178,196}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1160},{184,202}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{184,202}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1267},{188,204}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{188,204}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1522},{192,208}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,208}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1522},{192,210}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{192,210}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,296},{184,212}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{184,212}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,2},{186,194}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{186,194}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1728},{188,198}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{188,198}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1730},{190,200}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{190,200}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1364},{192,200}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{192,200}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1922},{118,118}}</string>
                <key>offset</key>
                <string>{-22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,59},{118,118}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1218},{144,194}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,19},{144,194}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1734},{186,206}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{186,206}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,843},{108,110}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,53},{108,110}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1922},{124,132}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,38},{124,132}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1216},{138,150}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,27},{138,150}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1356},{152,166}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{152,166}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1566},{162,178}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{162,178}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>images/1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1364},{172,188}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{172,188}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>lOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1304},{41,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,14}}</string>
                <key>sourceSize</key>
                <string>{41,14}</string>
            </dict>
            <key>men_lv2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,876},{52,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,141}}</string>
                <key>sourceSize</key>
                <string>{52,141}</string>
            </dict>
            <key>men_lv2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,548},{52,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,141}}</string>
                <key>sourceSize</key>
                <string>{52,141}</string>
            </dict>
            <key>men_lv3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,261},{53,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,147}}</string>
                <key>sourceSize</key>
                <string>{53,147}</string>
            </dict>
            <key>men_lv3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,261},{53,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,147}}</string>
                <key>sourceSize</key>
                <string>{53,147}</string>
            </dict>
            <key>red_dragon/Flying_90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1566},{192,160}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,95},{192,160}}</string>
                <key>sourceSize</key>
                <string>{200,292}</string>
            </dict>
            <key>red_dragon/Flying_90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,231},{194,192}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,85},{194,192}}</string>
                <key>sourceSize</key>
                <string>{200,292}</string>
            </dict>
            <key>red_dragon/Flying_90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,978},{196,240}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,52},{196,240}}</string>
                <key>sourceSize</key>
                <string>{200,292}</string>
            </dict>
            <key>red_dragon/Flying_90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,624},{194,278}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{194,278}}</string>
                <key>sourceSize</key>
                <string>{200,292}</string>
            </dict>
            <key>red_dragon/Flying_90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1636},{192,292}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{192,292}}</string>
                <key>sourceSize</key>
                <string>{200,292}</string>
            </dict>
            <key>red_dragon/Flying_90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1320},{192,288}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{192,288}}</string>
                <key>sourceSize</key>
                <string>{200,292}</string>
            </dict>
            <key>red_dragon/Flying_90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,316},{192,248}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{192,248}}</string>
                <key>sourceSize</key>
                <string>{200,292}</string>
            </dict>
            <key>red_dragon/Flying_90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,510},{192,194}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,93},{192,194}}</string>
                <key>sourceSize</key>
                <string>{200,292}</string>
            </dict>
            <key>ta_lv2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1930},{41,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,111}}</string>
                <key>sourceSize</key>
                <string>{41,111}</string>
            </dict>
            <key>ta_lv2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1930},{41,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,111}}</string>
                <key>sourceSize</key>
                <string>{41,111}</string>
            </dict>
            <key>ta_lv2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1930},{41,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,111}}</string>
                <key>sourceSize</key>
                <string>{41,111}</string>
            </dict>
            <key>ta_lv3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,930},{45,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,118}}</string>
                <key>sourceSize</key>
                <string>{45,118}</string>
            </dict>
            <key>ta_lv3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1220},{45,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,118}}</string>
                <key>sourceSize</key>
                <string>{45,118}</string>
            </dict>
            <key>ta_lv3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,930},{45,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,118}}</string>
                <key>sourceSize</key>
                <string>{45,118}</string>
            </dict>
            <key>wall_lv2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,566},{37,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,69}}</string>
                <key>sourceSize</key>
                <string>{37,69}</string>
            </dict>
            <key>wall_lv2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,876},{37,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,69}}</string>
                <key>sourceSize</key>
                <string>{37,69}</string>
            </dict>
            <key>wall_lv3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,904},{38,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,73}}</string>
                <key>sourceSize</key>
                <string>{38,73}</string>
            </dict>
            <key>wall_lv3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,904},{38,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,73}}</string>
                <key>sourceSize</key>
                <string>{38,73}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1610},{43,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,20}}</string>
                <key>sourceSize</key>
                <string>{43,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight0-sd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b1118dbc62d32a3f33d5e850efdbf64:1/1$</string>
            <key>textureFileName</key>
            <string>fight0-sd.png</string>
        </dict>
    </dict>
</plist>
