<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/feiting/b0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{225,183}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,64},{225,183}}</string>
                <key>sourceSize</key>
                <string>{251,275}</string>
            </dict>
            <key>root/feiting/b0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,187},{223,185}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,64},{223,185}}</string>
                <key>sourceSize</key>
                <string>{251,275}</string>
            </dict>
            <key>root/feiting/b0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{225,179}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,68},{225,179}}</string>
                <key>sourceSize</key>
                <string>{251,275}</string>
            </dict>
            <key>root/feiting/b0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,167}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,68},{227,167}}</string>
                <key>sourceSize</key>
                <string>{251,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>airship1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2ea7268d8e20c88d7481d06871406ec:2/2$</string>
            <key>textureFileName</key>
            <string>airship1.png</string>
        </dict>
    </dict>
</plist>
