<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caodi/man/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,210},{17,36}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{17,36}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>caodi/man/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,210},{17,36}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{17,36}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>caodi/man/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,210},{17,36}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{17,36}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>root/bingying/qizi/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{190,126}}</string>
                <key>offset</key>
                <string>{-24,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,86},{190,126}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/qizi/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,408},{188,126}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,87},{188,126}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/qizi/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,864},{188,128}}</string>
                <key>offset</key>
                <string>{-23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,86},{188,128}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/qizi/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,876},{190,128}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,87},{190,128}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/qizi/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,876},{190,128}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,87},{190,128}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/qizi/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{192,128}}</string>
                <key>offset</key>
                <string>{-23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{192,128}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/qizi/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,210},{196,126}}</string>
                <key>offset</key>
                <string>{-23,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,86},{196,126}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/maoyihanghui/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/shizhenting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,448},{206,192}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,67},{206,192}}</string>
                <key>sourceSize</key>
                <string>{280,294}</string>
            </dict>
            <key>root/shizhenting/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,656},{206,192}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,67},{206,192}}</string>
                <key>sourceSize</key>
                <string>{280,294}</string>
            </dict>
            <key>root/shizhenting/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{206,192}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,67},{206,192}}</string>
                <key>sourceSize</key>
                <string>{280,294}</string>
            </dict>
            <key>root/xueyuan/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,194},{188,106}}</string>
                <key>offset</key>
                <string>{-13,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,118},{188,106}}</string>
                <key>sourceSize</key>
                <string>{214,224}</string>
            </dict>
            <key>root/ziyuancangku/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{212,170}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{212,170}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>root/ziyuancangku/000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{212,168}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{212,168}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>root/ziyuancangku/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,448},{212,166}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,25},{212,166}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>root/ziyuancangku/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,662},{212,164}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{212,164}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>root/ziyuancangku/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,234},{212,166}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{212,166}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>root/ziyuancangku/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,229},{206,164}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,23},{206,164}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>root/ziyuancangku/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{206,164}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{206,164}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>root/ziyuancangku/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,662},{212,164}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{212,164}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>root/ziyuancangku/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{212,168}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{212,168}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>shadi/woman/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,210},{17,36}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{17,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>xuedi/woman/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{16,32}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>xuedi/woman/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,210},{18,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{18,32}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>xuedi/woman/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1006},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{16,32}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_animation2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:958e77ffd60b420ca75dedf7d51f377c:3/3$</string>
            <key>textureFileName</key>
            <string>building_animation2.png</string>
        </dict>
    </dict>
</plist>
