<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/blue_dragon/Idle/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,746},{424,340}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{424,340}}</string>
                <key>sourceSize</key>
                <string>{426,352}</string>
            </dict>
            <key>root/blue_dragon/Idle/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,748},{422,342}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{422,342}}</string>
                <key>sourceSize</key>
                <string>{426,352}</string>
            </dict>
            <key>root/blue_dragon/Idle/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{418,342}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{418,342}}</string>
                <key>sourceSize</key>
                <string>{426,352}</string>
            </dict>
            <key>root/blue_dragon/Idle/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1426},{414,342}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{414,342}}</string>
                <key>sourceSize</key>
                <string>{426,352}</string>
            </dict>
            <key>root/blue_dragon/Idle/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1448},{408,344}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{408,344}}</string>
                <key>sourceSize</key>
                <string>{426,352}</string>
            </dict>
            <key>root/blue_dragon/Idle/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1448},{416,342}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{416,342}}</string>
                <key>sourceSize</key>
                <string>{426,352}</string>
            </dict>
            <key>root/blue_dragon/Idle/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1088},{422,342}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{422,342}}</string>
                <key>sourceSize</key>
                <string>{426,352}</string>
            </dict>
            <key>root/green_dragon/Idle/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,368}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{446,368}}</string>
                <key>sourceSize</key>
                <string>{446,380}</string>
            </dict>
            <key>root/green_dragon/Idle/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{442,368}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{442,368}}</string>
                <key>sourceSize</key>
                <string>{446,380}</string>
            </dict>
            <key>root/green_dragon/Idle/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,2},{438,368}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{438,368}}</string>
                <key>sourceSize</key>
                <string>{446,380}</string>
            </dict>
            <key>root/green_dragon/Idle/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,372},{434,370}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{434,370}}</string>
                <key>sourceSize</key>
                <string>{446,380}</string>
            </dict>
            <key>root/green_dragon/Idle/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{430,370}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{430,370}}</string>
                <key>sourceSize</key>
                <string>{446,380}</string>
            </dict>
            <key>root/green_dragon/Idle/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,744},{422,370}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{422,370}}</string>
                <key>sourceSize</key>
                <string>{446,380}</string>
            </dict>
            <key>root/green_dragon/Idle/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,374},{424,372}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{424,372}}</string>
                <key>sourceSize</key>
                <string>{446,380}</string>
            </dict>
            <key>root/green_dragon/Idle/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,374},{432,370}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{432,370}}</string>
                <key>sourceSize</key>
                <string>{446,380}</string>
            </dict>
            <key>root/green_dragon/Idle/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{438,370}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{438,370}}</string>
                <key>sourceSize</key>
                <string>{446,380}</string>
            </dict>
            <key>root/green_dragon/Idle/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{444,370}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{444,370}}</string>
                <key>sourceSize</key>
                <string>{446,380}</string>
            </dict>
            <key>root/red_dragon/Idle/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{420,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,332}}</string>
                <key>sourceSize</key>
                <string>{420,332}</string>
            </dict>
            <key>root/red_dragon/Idle/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1432},{416,330}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,330}}</string>
                <key>sourceSize</key>
                <string>{420,332}</string>
            </dict>
            <key>root/red_dragon/Idle/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1448},{412,326}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,326}}</string>
                <key>sourceSize</key>
                <string>{420,332}</string>
            </dict>
            <key>root/red_dragon/Idle/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1116},{414,330}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{414,330}}</string>
                <key>sourceSize</key>
                <string>{420,332}</string>
            </dict>
            <key>root/red_dragon/Idle/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1092},{420,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,332}}</string>
                <key>sourceSize</key>
                <string>{420,332}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_breath_0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bd08abe6077487ac0ec71ce944780e7:1/2$</string>
            <key>textureFileName</key>
            <string>dragon_breath_0.png</string>
        </dict>
    </dict>
</plist>
