<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_dragon/Flying/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,264},{118,129}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{118,129}}</string>
                <key>sourceSize</key>
                <string>{160,135}</string>
            </dict>
            <key>black_dragon/Flying/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,465},{134,133}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{134,133}}</string>
                <key>sourceSize</key>
                <string>{160,135}</string>
            </dict>
            <key>black_dragon/Flying/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{140,129}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{140,129}}</string>
                <key>sourceSize</key>
                <string>{160,135}</string>
            </dict>
            <key>black_dragon/Flying/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{120,143}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{120,143}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>black_dragon/Flying/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,865},{126,155}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{126,155}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>black_dragon/Flying/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,746},{130,163}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{130,163}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>black_dragon/Flying/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,772},{124,133}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{124,133}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>blue_dragon/Flying/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,832},{112,114}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{112,114}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>blue_dragon/Flying/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,384},{128,120}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{128,120}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>blue_dragon/Flying/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,662},{140,148}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{140,148}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>blue_dragon/Flying/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,373},{138,166}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{138,166}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>blue_dragon/Flying/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{146,168}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{146,168}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>blue_dragon/Flying/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,169},{148,160}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{148,160}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>blue_dragon/Flying/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,912},{90,110}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,58},{90,110}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>blue_dragon/Flying/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,317},{136,146}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{136,146}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>blue_dragon/Flying/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{140,164}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{140,164}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>blue_dragon/Flying/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{144,172}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{144,172}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>blue_dragon/Flying/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,343},{146,162}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{146,162}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>green_dragon/Flying/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,435},{92,109}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{92,109}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>green_dragon/Flying/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,812},{136,125}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,33},{136,125}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>green_dragon/Flying/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,507},{136,153}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{136,153}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>green_dragon/Flying/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,865},{116,157}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{116,157}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>green_dragon/Flying/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,331},{136,153}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{136,153}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>green_dragon/Flying/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,154},{144,123}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,31},{144,123}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>green_dragon/Flying/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,907},{122,115}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{122,115}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>green_dragon/Flying/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,300},{126,133}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,38},{126,133}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>green_dragon/Flying/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,176},{146,165}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{146,165}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>green_dragon/Flying/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,198},{124,173}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{124,173}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>green_dragon/Flying/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{136,165}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{136,165}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>green_dragon/Flying/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,635},{134,135}}</string>
                <key>offset</key>
                <string>{-13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{134,135}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>green_dragon/Flying/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{110,111}}</string>
                <key>offset</key>
                <string>{-16,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,68},{110,111}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>red_dragon/Flying/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,133},{136,129}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{136,129}}</string>
                <key>sourceSize</key>
                <string>{160,155}</string>
            </dict>
            <key>red_dragon/Flying/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,486},{140,147}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{140,147}}</string>
                <key>sourceSize</key>
                <string>{160,155}</string>
            </dict>
            <key>red_dragon/Flying/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,164},{120,151}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{120,151}}</string>
                <key>sourceSize</key>
                <string>{160,155}</string>
            </dict>
            <key>red_dragon/Flying/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,705},{158,149}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{158,149}}</string>
                <key>sourceSize</key>
                <string>{160,155}</string>
            </dict>
            <key>red_dragon/Flying/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{150,135}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{150,135}}</string>
                <key>sourceSize</key>
                <string>{160,155}</string>
            </dict>
            <key>red_dragon/Flying/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,630},{112,128}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,49},{112,128}}</string>
                <key>sourceSize</key>
                <string>{160,194}</string>
            </dict>
            <key>red_dragon/Flying/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{144,160}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{144,160}}</string>
                <key>sourceSize</key>
                <string>{160,194}</string>
            </dict>
            <key>red_dragon/Flying/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{142,186}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{142,186}}</string>
                <key>sourceSize</key>
                <string>{160,194}</string>
            </dict>
            <key>red_dragon/Flying/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{132,188}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{132,188}}</string>
                <key>sourceSize</key>
                <string>{160,194}</string>
            </dict>
            <key>red_dragon/Flying/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,194}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{148,194}}</string>
                <key>sourceSize</key>
                <string>{160,194}</string>
            </dict>
            <key>red_dragon/Flying/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,541},{158,162}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{158,162}}</string>
                <key>sourceSize</key>
                <string>{160,194}</string>
            </dict>
            <key>red_dragon/Flying/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,506},{122,130}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,53},{122,130}}</string>
                <key>sourceSize</key>
                <string>{160,194}</string>
            </dict>
            <key>root/blue_dragon/Flying/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,435},{78,70}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,42},{78,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,950},{110,72}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{110,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,515},{78,70}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,42},{78,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,911},{110,90}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,25},{110,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,950},{110,72}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{110,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,832},{72,110}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,5},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,728},{102,92}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,654},{116,74}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{116,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,948},{114,74}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{114,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,744},{108,86}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{108,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,546},{106,92}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,28},{106,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,654},{110,72}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{110,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_fly_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f370cd1a4abfd019da762d2132045f66:1/2$</string>
            <key>textureFileName</key>
            <string>dragon_fly_0.png</string>
        </dict>
    </dict>
</plist>
