<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_dragon/Flying_90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,813},{392,340}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,185},{392,340}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>black_dragon/Flying_90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,404}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,161},{394,404}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>blue_dragon/Flying_90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1615},{384,380}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,205},{384,380}}</string>
                <key>sourceSize</key>
                <string>{400,668}</string>
            </dict>
            <key>images/1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{368,403}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{368,403}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{378,395}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,34},{378,395}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{384,403}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,32},{384,403}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1582},{234,233}}</string>
                <key>offset</key>
                <string>{-44,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,119},{234,233}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{288,389}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,36},{288,389}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,392},{246,263}}</string>
                <key>offset</key>
                <string>{-28,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,77},{246,263}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,800},{278,297}}</string>
                <key>offset</key>
                <string>{-26,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,56},{278,297}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1207},{342,373}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{342,373}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>red_dragon/Flying_90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1615},{386,320}}</string>
                <key>offset</key>
                <string>{-3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,190},{386,320}}</string>
                <key>sourceSize</key>
                <string>{400,584}</string>
            </dict>
            <key>red_dragon/Flying_90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,408},{390,382}}</string>
                <key>offset</key>
                <string>{-2,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,172},{390,382}}</string>
                <key>sourceSize</key>
                <string>{400,584}</string>
            </dict>
            <key>red_dragon/Flying_90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{384,388}}</string>
                <key>offset</key>
                <string>{-4,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,187},{384,388}}</string>
                <key>sourceSize</key>
                <string>{400,584}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:956afaa9454eda8805e75d1ff97aae19:3/3$</string>
            <key>textureFileName</key>
            <string>fight2.png</string>
        </dict>
    </dict>
</plist>
