<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,480},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>Background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1592},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>black_dragon/Flying_90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,386},{394,404}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,161},{394,404}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>black_dragon/Flying_90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,556},{400,452}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{400,452}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>black_dragon/Flying_90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{396,534}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,77},{396,534}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>black_dragon/Flying_90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,560},{386,484}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,110},{386,484}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>blue_dragon/Flying_90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{386,458}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,158},{386,458}}</string>
                <key>sourceSize</key>
                <string>{400,668}</string>
            </dict>
            <key>blue_dragon/Flying_90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,938},{364,438}}</string>
                <key>offset</key>
                <string>{5,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,194},{364,438}}</string>
                <key>sourceSize</key>
                <string>{400,668}</string>
            </dict>
            <key>chengqiang3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1499},{69,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,143}}</string>
                <key>sourceSize</key>
                <string>{69,143}</string>
            </dict>
            <key>chengqiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1010},{96,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,289}}</string>
                <key>sourceSize</key>
                <string>{96,289}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1592},{401,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,454}}</string>
                <key>sourceSize</key>
                <string>{401,454}</string>
            </dict>
            <key>fire_GIF/h_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1046},{64,80}}</string>
                <key>offset</key>
                <string>{-2,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,7},{64,80}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,1550},{120,176}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,8},{120,176}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,546},{190,190}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{190,190}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,738},{188,198}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{188,198}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,1550},{156,124}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,66},{156,124}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,1010},{102,74}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,124},{102,74}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>green_dragon/Flying_90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,2},{388,446}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,184},{388,446}}</string>
                <key>sourceSize</key>
                <string>{400,686}</string>
            </dict>
            <key>green_dragon/Flying_90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1652},{394,516}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,135},{394,516}}</string>
                <key>sourceSize</key>
                <string>{400,686}</string>
            </dict>
            <key>green_dragon/Flying_90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{376,554}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,132},{376,554}}</string>
                <key>sourceSize</key>
                <string>{400,686}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{476,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,471}}</string>
                <key>sourceSize</key>
                <string>{476,471}</string>
            </dict>
            <key>images/1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1676},{356,391}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{356,391}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1676},{368,403}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{368,403}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1162},{386,417}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{386,417}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,792},{368,421}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{368,421}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1108},{374,389}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,37},{374,389}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,2},{382,399}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,33},{382,399}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1304},{370,411}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{370,411}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,450},{278,297}}</string>
                <key>offset</key>
                <string>{-26,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,56},{278,297}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,1676},{324,353}}</string>
                <key>offset</key>
                <string>{-20,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{324,353}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>poisin_1_GIF/du_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,749},{171,256}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{171,256}}</string>
                <key>sourceSize</key>
                <string>{243,256}</string>
            </dict>
            <key>poisin_1_GIF/du_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1499},{229,132}}</string>
                <key>offset</key>
                <string>{7,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,124},{229,132}}</string>
                <key>sourceSize</key>
                <string>{243,256}</string>
            </dict>
            <key>red_dragon/Flying_90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1112},{392,478}}</string>
                <key>offset</key>
                <string>{1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,106},{392,478}}</string>
                <key>sourceSize</key>
                <string>{400,584}</string>
            </dict>
            <key>red_dragon/Flying_90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,556}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{390,556}}</string>
                <key>sourceSize</key>
                <string>{400,584}</string>
            </dict>
            <key>ta_lv2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,462},{82,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,222}}</string>
                <key>sourceSize</key>
                <string>{82,222}</string>
            </dict>
            <key>ta_lv3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,462},{90,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,236}}</string>
                <key>sourceSize</key>
                <string>{90,236}</string>
            </dict>
            <key>wall_lv2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,480},{74,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,138}}</string>
                <key>sourceSize</key>
                <string>{74,138}</string>
            </dict>
            <key>wall_lv2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,480},{74,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,138}}</string>
                <key>sourceSize</key>
                <string>{74,138}</string>
            </dict>
            <key>wall_lv3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,480},{76,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,146}}</string>
                <key>sourceSize</key>
                <string>{76,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:861d0543b5f0cac22e045b6e45126c2c:2/3$</string>
            <key>textureFileName</key>
            <string>fight1.png</string>
        </dict>
    </dict>
</plist>
