<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/heihua_bubing_2/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,494},{96,80}}</string>
                <key>offset</key>
                <string>{-33,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{96,80}}</string>
                <key>sourceSize</key>
                <string>{162,110}</string>
            </dict>
            <key>root/heihua_bubing_2/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,924},{98,74}}</string>
                <key>offset</key>
                <string>{17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,27},{98,74}}</string>
                <key>sourceSize</key>
                <string>{162,110}</string>
            </dict>
            <key>root/heihua_bubing_2/move/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,924},{74,98}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,98}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>root/heihua_bubing_3/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,714},{79,96}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,34},{79,96}}</string>
                <key>sourceSize</key>
                <string>{199,130}</string>
            </dict>
            <key>root/heihua_bubing_3/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,836},{119,86}}</string>
                <key>offset</key>
                <string>{-40,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{119,86}}</string>
                <key>sourceSize</key>
                <string>{199,130}</string>
            </dict>
            <key>root/heihua_bubing_3/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,714},{143,86}}</string>
                <key>offset</key>
                <string>{28,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,33},{143,86}}</string>
                <key>sourceSize</key>
                <string>{199,130}</string>
            </dict>
            <key>root/heihua_bubing_3/move/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,122},{96,98}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{96,98}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>root/heihua_gongjianshou_2/attack/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,496},{142,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{142,78}}</string>
                <key>sourceSize</key>
                <string>{142,82}</string>
            </dict>
            <key>root/heihua_gongjianshou_2/hurt/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,452},{50,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,74}}</string>
                <key>sourceSize</key>
                <string>{54,76}</string>
            </dict>
            <key>root/heihua_gongjianshou_2/move/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,556},{72,66}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,66}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>root/heihua_nuche_2/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,876},{144,142}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{144,142}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>root/heihua_nugongshou_2/idle/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,795},{62,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,96}}</string>
                <key>sourceSize</key>
                <string>{62,98}</string>
            </dict>
            <key>root/heihua_nugongshou_2/idle/90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,924},{62,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,96}}</string>
                <key>sourceSize</key>
                <string>{62,98}</string>
            </dict>
            <key>root/heihua_qibing_2/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,122},{148,126}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{148,126}}</string>
                <key>sourceSize</key>
                <string>{224,138}</string>
            </dict>
            <key>root/heihua_qibing_2/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,744},{146,116}}</string>
                <key>offset</key>
                <string>{-29,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{146,116}}</string>
                <key>sourceSize</key>
                <string>{224,138}</string>
            </dict>
            <key>root/heihua_qibing_2/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,764},{148,128}}</string>
                <key>offset</key>
                <string>{-38,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,128}}</string>
                <key>sourceSize</key>
                <string>{224,138}</string>
            </dict>
            <key>root/heihua_qibing_2/attack/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,594},{148,126}}</string>
                <key>offset</key>
                <string>{-28,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{148,126}}</string>
                <key>sourceSize</key>
                <string>{224,138}</string>
            </dict>
            <key>root/heihua_qibing_2/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,284},{158,140}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{158,140}}</string>
                <key>sourceSize</key>
                <string>{170,174}</string>
            </dict>
            <key>root/heihua_qibing_2/idle/90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,252},{142,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{142,126}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>root/heihua_qibing_2/idle/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,859},{142,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{142,128}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>root/heihua_qibing_2/idle/90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,432},{146,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,128}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>root/heihua_qibing_2/idle/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,444},{148,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,128}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>root/heihua_qibing_2/idle/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,272},{146,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,128}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>root/heihua_qibing_2/idle/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,282},{148,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,128}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>root/heihua_qibing_2/idle/90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,728},{144,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{144,128}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>root/heihua_qibing_2/idle/90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,122},{142,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{142,128}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>root/heihua_qibing_2/move/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,380},{142,114}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{142,114}}</string>
                <key>sourceSize</key>
                <string>{148,118}</string>
            </dict>
            <key>root/heihua_qibing_2/move/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,580},{146,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,116}}</string>
                <key>sourceSize</key>
                <string>{148,118}</string>
            </dict>
            <key>root/heihua_qibing_2/move/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,874},{144,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{144,116}}</string>
                <key>sourceSize</key>
                <string>{148,118}</string>
            </dict>
            <key>root/heihua_qibing_2/move/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,568},{144,112}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{144,112}}</string>
                <key>sourceSize</key>
                <string>{148,118}</string>
            </dict>
            <key>root/heihua_qibing_2/move/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,420},{146,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,116}}</string>
                <key>sourceSize</key>
                <string>{148,118}</string>
            </dict>
            <key>root/heihua_qibing_2/move/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,122},{146,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,118}}</string>
                <key>sourceSize</key>
                <string>{148,118}</string>
            </dict>
            <key>root/heihua_qibing_3/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{158,158}}</string>
                <key>offset</key>
                <string>{-56,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{270,158}</string>
            </dict>
            <key>root/heihua_shaobing_2/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,314},{96,88}}</string>
                <key>offset</key>
                <string>{-42,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{96,88}}</string>
                <key>sourceSize</key>
                <string>{232,120}</string>
            </dict>
            <key>root/heihua_shaobing_2/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,338},{130,80}}</string>
                <key>offset</key>
                <string>{-51,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{130,80}}</string>
                <key>sourceSize</key>
                <string>{232,120}</string>
            </dict>
            <key>root/heihua_shaobing_2/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,670},{140,84}}</string>
                <key>offset</key>
                <string>{-32,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{140,84}}</string>
                <key>sourceSize</key>
                <string>{232,120}</string>
            </dict>
            <key>root/heihua_shaobing_2/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,576},{140,92}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,28},{140,92}}</string>
                <key>sourceSize</key>
                <string>{232,120}</string>
            </dict>
            <key>root/heihua_shaobing_2/attack/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,338},{50,112}}</string>
                <key>offset</key>
                <string>{-52,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{50,112}}</string>
                <key>sourceSize</key>
                <string>{232,120}</string>
            </dict>
            <key>root/heihua_shaobing_2/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,222},{90,96}}</string>
                <key>offset</key>
                <string>{29,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,31},{90,96}}</string>
                <key>sourceSize</key>
                <string>{148,132}</string>
            </dict>
            <key>root/heihua_shaobing_2/move/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,756},{140,78}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{140,78}}</string>
                <key>sourceSize</key>
                <string>{148,118}</string>
            </dict>
            <key>root/heihua_shaobing_2/move/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,420},{134,82}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,31},{134,82}}</string>
                <key>sourceSize</key>
                <string>{148,118}</string>
            </dict>
            <key>root/heihua_shaobing_3/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,624},{140,88}}</string>
                <key>offset</key>
                <string>{-31,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{140,88}}</string>
                <key>sourceSize</key>
                <string>{232,122}</string>
            </dict>
            <key>root/heihua_shaobing_3/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,404},{88,96}}</string>
                <key>offset</key>
                <string>{30,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,31},{88,96}}</string>
                <key>sourceSize</key>
                <string>{148,132}</string>
            </dict>
            <key>root/heihua_shaobing_3/move/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{160,86}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,35},{160,86}}</string>
                <key>sourceSize</key>
                <string>{168,128}</string>
            </dict>
            <key>root/heihua_shaobing_3/move/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,728},{146,86}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,36},{146,86}}</string>
                <key>sourceSize</key>
                <string>{168,128}</string>
            </dict>
            <key>root/heihua_toushiche_2/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,118}}</string>
                <key>offset</key>
                <string>{-185,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{162,118}}</string>
                <key>sourceSize</key>
                <string>{532,194}</string>
            </dict>
            <key>root/heihua_toushiche_2/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{160,118}}</string>
                <key>offset</key>
                <string>{-185,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,74},{160,118}}</string>
                <key>sourceSize</key>
                <string>{532,194}</string>
            </dict>
            <key>root/heihua_toushiche_2/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,122},{158,120}}</string>
                <key>offset</key>
                <string>{-184,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,73},{158,120}}</string>
                <key>sourceSize</key>
                <string>{532,194}</string>
            </dict>
            <key>root/heihua_toushiche_2/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{156,118}}</string>
                <key>offset</key>
                <string>{-182,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,74},{156,118}}</string>
                <key>sourceSize</key>
                <string>{532,194}</string>
            </dict>
            <key>root/heihua_toushiche_2/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{156,118}}</string>
                <key>offset</key>
                <string>{-182,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,74},{156,118}}</string>
                <key>sourceSize</key>
                <string>{532,194}</string>
            </dict>
            <key>root/heihua_toushiche_2/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,606},{156,118}}</string>
                <key>offset</key>
                <string>{-182,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,74},{156,118}}</string>
                <key>sourceSize</key>
                <string>{532,194}</string>
            </dict>
            <key>root/heihua_toushiche_2/move/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,120}</string>
            </dict>
            <key>root/heihua_toushiche_2/move/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,120}</string>
            </dict>
            <key>root/heihua_toushiche_2/move/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,120}</string>
            </dict>
            <key>root/heihua_toushiche_2/move/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,120}</string>
            </dict>
            <key>root/heihua_toushiche_2/move/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,120}</string>
            </dict>
            <key>root/heihua_youqibing_2/hurt/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{122,100}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{122,100}}</string>
                <key>sourceSize</key>
                <string>{130,118}</string>
            </dict>
            <key>root/heihua_youqibing_3/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,122},{132,104}}</string>
                <key>offset</key>
                <string>{-40,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{132,104}}</string>
                <key>sourceSize</key>
                <string>{212,134}</string>
            </dict>
            <key>root/heihua_youqibing_3/attack/10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,892},{130,120}}</string>
                <key>offset</key>
                <string>{-40,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{130,120}}</string>
                <key>sourceSize</key>
                <string>{212,134}</string>
            </dict>
            <key>root/heihua_youqibing_3/attack/10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,656},{132,106}}</string>
                <key>offset</key>
                <string>{-40,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{132,106}}</string>
                <key>sourceSize</key>
                <string>{212,134}</string>
            </dict>
            <key>root/heihua_youqibing_3/attack/10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,256},{132,104}}</string>
                <key>offset</key>
                <string>{-40,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{132,104}}</string>
                <key>sourceSize</key>
                <string>{212,134}</string>
            </dict>
            <key>root/heihua_youqibing_3/attack/10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,390},{132,104}}</string>
                <key>offset</key>
                <string>{-40,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{132,104}}</string>
                <key>sourceSize</key>
                <string>{212,134}</string>
            </dict>
            <key>root/heihua_youqibing_3/hurt/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,524},{130,104}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{130,104}}</string>
                <key>sourceSize</key>
                <string>{136,124}</string>
            </dict>
            <key>root/heihua_youqibing_3/move/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,122},{134,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{134,106}}</string>
                <key>sourceSize</key>
                <string>{136,108}</string>
            </dict>
            <key>root/heihua_youqibing_3/move/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,230},{134,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{134,106}}</string>
                <key>sourceSize</key>
                <string>{136,108}</string>
            </dict>
            <key>root/heihua_youqibing_3/move/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,914},{132,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{132,108}}</string>
                <key>sourceSize</key>
                <string>{136,108}</string>
            </dict>
            <key>root/heihua_youqibing_3/move/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,790},{132,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{132,106}}</string>
                <key>sourceSize</key>
                <string>{136,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heihua_animation_90_4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc4286ab6aff5063e654548955bbe347:5/7$</string>
            <key>textureFileName</key>
            <string>heihua_animation_90_4.png</string>
        </dict>
    </dict>
</plist>
