<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/heihua_bubing_3/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,492},{133,80}}</string>
                <key>offset</key>
                <string>{29,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,37},{133,80}}</string>
                <key>sourceSize</key>
                <string>{199,130}</string>
            </dict>
            <key>root/heihua_gongjianshou_3/attack/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,933},{158,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{158,86}}</string>
                <key>sourceSize</key>
                <string>{160,94}</string>
            </dict>
            <key>root/heihua_nuche_2/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{156,154}}</string>
                <key>offset</key>
                <string>{-107,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{156,154}}</string>
                <key>sourceSize</key>
                <string>{404,174}</string>
            </dict>
            <key>root/heihua_nuche_2/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,622},{158,154}}</string>
                <key>offset</key>
                <string>{-107,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{158,154}}</string>
                <key>sourceSize</key>
                <string>{404,174}</string>
            </dict>
            <key>root/heihua_nuche_2/hurt/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,627},{152,142}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{152,142}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>root/heihua_nuche_2/hurt/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,172},{180,156}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>root/heihua_nuche_2/hurt/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,330},{174,148}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{174,148}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>root/heihua_nuche_2/move/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{170,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,148}}</string>
                <key>sourceSize</key>
                <string>{172,150}</string>
            </dict>
            <key>root/heihua_nuche_2/move/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,587},{170,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,148}}</string>
                <key>sourceSize</key>
                <string>{172,150}</string>
            </dict>
            <key>root/heihua_nuche_3/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,172},{156,180}}</string>
                <key>offset</key>
                <string>{-136,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{156,180}}</string>
                <key>sourceSize</key>
                <string>{428,206}</string>
            </dict>
            <key>root/heihua_nuche_3/move/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,174},{178,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{178,168}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>root/heihua_nuche_3/move/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{180,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{180,168}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>root/heihua_nuche_3/move/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>root/heihua_nuche_3/move/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>root/heihua_nuche_3/move/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>root/heihua_nuche_3/move/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{180,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{180,168}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>root/heihua_qibing_2/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,174},{180,102}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{180,102}}</string>
                <key>sourceSize</key>
                <string>{224,138}</string>
            </dict>
            <key>root/heihua_qibing_2/hurt/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,710},{154,130}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{154,130}}</string>
                <key>sourceSize</key>
                <string>{170,174}</string>
            </dict>
            <key>root/heihua_qibing_3/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{176,134}}</string>
                <key>offset</key>
                <string>{-25,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{176,134}}</string>
                <key>sourceSize</key>
                <string>{270,158}</string>
            </dict>
            <key>root/heihua_qibing_3/hurt/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,278},{152,178}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{152,178}}</string>
                <key>sourceSize</key>
                <string>{214,190}</string>
            </dict>
            <key>root/heihua_qibing_3/idle/90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,432},{174,141}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{174,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>root/heihua_qibing_3/idle/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{174,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{174,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>root/heihua_qibing_3/idle/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,330},{174,141}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>root/heihua_qibing_3/idle/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,473},{174,141}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>root/heihua_qibing_3/idle/90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,480},{174,141}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>root/heihua_qibing_3/idle/90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,616},{174,141}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{174,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>root/heihua_shaobing_2/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,128},{110,120}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{232,120}</string>
            </dict>
            <key>root/heihua_shaobing_2/hurt/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,492},{100,128}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,128}}</string>
                <key>sourceSize</key>
                <string>{148,132}</string>
            </dict>
            <key>root/heihua_shaobing_3/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,782},{164,82}}</string>
                <key>offset</key>
                <string>{33,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,25},{164,82}}</string>
                <key>sourceSize</key>
                <string>{232,122}</string>
            </dict>
            <key>root/heihua_shaobing_3/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,782},{162,82}}</string>
                <key>offset</key>
                <string>{33,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,25},{162,82}}</string>
                <key>sourceSize</key>
                <string>{232,122}</string>
            </dict>
            <key>root/heihua_shaobing_3/move/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,372},{124,120}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{168,128}</string>
            </dict>
            <key>root/heihua_shaobing_3/move/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{124,110}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,18},{124,110}}</string>
                <key>sourceSize</key>
                <string>{168,128}</string>
            </dict>
            <key>root/heihua_toushiche_2/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,866},{156,120}}</string>
                <key>offset</key>
                <string>{-182,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,73},{156,120}}</string>
                <key>sourceSize</key>
                <string>{532,194}</string>
            </dict>
            <key>root/heihua_toushiche_2/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{180,132}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,132}}</string>
                <key>sourceSize</key>
                <string>{194,140}</string>
            </dict>
            <key>root/heihua_toushiche_2/hurt/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,866},{156,126}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,13},{156,126}}</string>
                <key>sourceSize</key>
                <string>{194,140}</string>
            </dict>
            <key>root/heihua_toushiche_3/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,344},{174,146}}</string>
                <key>offset</key>
                <string>{-183,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{174,146}}</string>
                <key>sourceSize</key>
                <string>{542,204}</string>
            </dict>
            <key>root/heihua_toushiche_3/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,759},{172,158}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,158}}</string>
                <key>sourceSize</key>
                <string>{176,158}</string>
            </dict>
            <key>root/heihua_toushiche_3/hurt/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,866},{156,152}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{156,152}}</string>
                <key>sourceSize</key>
                <string>{176,158}</string>
            </dict>
            <key>root/heihua_toushiche_3/hurt/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,866},{156,144}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{156,144}}</string>
                <key>sourceSize</key>
                <string>{176,158}</string>
            </dict>
            <key>root/heihua_toushiche_3/hurt/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,866},{156,144}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{156,144}}</string>
                <key>sourceSize</key>
                <string>{176,158}</string>
            </dict>
            <key>root/heihua_youqibing_2/attack/10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,250},{120,110}}</string>
                <key>offset</key>
                <string>{-40,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{120,110}}</string>
                <key>sourceSize</key>
                <string>{200,124}</string>
            </dict>
            <key>root/heihua_youqibing_2/move/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,494},{124,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{124,106}}</string>
                <key>sourceSize</key>
                <string>{128,108}</string>
            </dict>
            <key>root/heihua_youqibing_2/move/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,602},{124,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,106}}</string>
                <key>sourceSize</key>
                <string>{128,108}</string>
            </dict>
            <key>root/heihua_youqibing_3/idle/90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,759},{128,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,101}}</string>
                <key>sourceSize</key>
                <string>{130,101}</string>
            </dict>
            <key>root/heihua_youqibing_3/move/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,759},{132,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{132,104}}</string>
                <key>sourceSize</key>
                <string>{136,108}</string>
            </dict>
            <key>root/heihua_youqibing_3/move/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,623},{134,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,108}}</string>
                <key>sourceSize</key>
                <string>{136,108}</string>
            </dict>
            <key>root/heihua_youqibing_3/move/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{134,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{134,104}}</string>
                <key>sourceSize</key>
                <string>{136,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heihua_animation_90_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc4286ab6aff5063e654548955bbe347:3/7$</string>
            <key>textureFileName</key>
            <string>heihua_animation_90_2.png</string>
        </dict>
    </dict>
</plist>
