<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/bubing_2/idle/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,960},{62,98}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,11},{62,98}}</string>
                <key>sourceSize</key>
                <string>{172,116}</string>
            </dict>
            <key>root/bubing_2/move/90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,936},{86,84}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,23},{86,84}}</string>
                <key>sourceSize</key>
                <string>{172,116}</string>
            </dict>
            <key>root/bubing_3/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,936},{142,86}}</string>
                <key>offset</key>
                <string>{28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,32},{142,86}}</string>
                <key>sourceSize</key>
                <string>{198,130}</string>
            </dict>
            <key>root/jiaorouche/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{174,110}}</string>
                <key>offset</key>
                <string>{-174,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{174,110}}</string>
                <key>sourceSize</key>
                <string>{522,150}</string>
            </dict>
            <key>root/jiaorouche/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{172,110}}</string>
                <key>offset</key>
                <string>{-173,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{172,110}}</string>
                <key>sourceSize</key>
                <string>{522,150}</string>
            </dict>
            <key>root/jiaorouche/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,544},{170,110}}</string>
                <key>offset</key>
                <string>{-171,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,40},{170,110}}</string>
                <key>sourceSize</key>
                <string>{522,150}</string>
            </dict>
            <key>root/jiaorouche/hurt/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,114},{172,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{172,110}}</string>
                <key>sourceSize</key>
                <string>{172,114}</string>
            </dict>
            <key>root/jiaorouche/hurt/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,133},{172,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{172,110}}</string>
                <key>sourceSize</key>
                <string>{172,114}</string>
            </dict>
            <key>root/jiaorouche/move/90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,563},{170,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,110}}</string>
                <key>sourceSize</key>
                <string>{172,110}</string>
            </dict>
            <key>root/jiaorouche/move/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,654},{170,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,110}}</string>
                <key>sourceSize</key>
                <string>{172,110}</string>
            </dict>
            <key>root/jiaorouche/move/90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,730},{170,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{170,110}}</string>
                <key>sourceSize</key>
                <string>{172,110}</string>
            </dict>
            <key>root/jiaorouche/move/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{170,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{170,110}}</string>
                <key>sourceSize</key>
                <string>{172,110}</string>
            </dict>
            <key>root/jiaorouche/move/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,656},{170,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{170,110}}</string>
                <key>sourceSize</key>
                <string>{172,110}</string>
            </dict>
            <key>root/jiaorouche/move/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,675},{170,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,110}}</string>
                <key>sourceSize</key>
                <string>{172,110}</string>
            </dict>
            <key>root/kulouyongshi/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,960},{56,62}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,8},{56,62}}</string>
                <key>sourceSize</key>
                <string>{154,94}</string>
            </dict>
            <key>root/nuche_2/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,766},{164,168}}</string>
                <key>offset</key>
                <string>{-179,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{164,168}}</string>
                <key>sourceSize</key>
                <string>{556,188}</string>
            </dict>
            <key>root/nuche_2/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,768},{166,168}}</string>
                <key>offset</key>
                <string>{-179,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{166,168}}</string>
                <key>sourceSize</key>
                <string>{556,188}</string>
            </dict>
            <key>root/nuche_2/move/90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{176,160}</string>
            </dict>
            <key>root/nuche_3/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,344},{148,170}}</string>
                <key>offset</key>
                <string>{-195,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{148,170}}</string>
                <key>sourceSize</key>
                <string>{538,206}</string>
            </dict>
            <key>root/nuche_3/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{146,170}}</string>
                <key>offset</key>
                <string>{-196,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{146,170}}</string>
                <key>sourceSize</key>
                <string>{538,206}</string>
            </dict>
            <key>root/nuche_3/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,432},{156,170}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,170}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>root/nuche_3/hurt/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,346},{170,166}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{170,166}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>root/nuche_3/move/90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,226},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>root/nuche_3/move/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,174},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>root/nuche_3/move/90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,260},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>root/nuche_3/move/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{170,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,172}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>root/nuche_3/move/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>root/nuche_3/move/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,245},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>root/qibing_2/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,174},{168,146}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{168,146}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>root/qibing_3/idle/90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,514},{170,138}}</string>
                <key>offset</key>
                <string>{-36,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{170,138}}</string>
                <key>sourceSize</key>
                <string>{294,172}</string>
            </dict>
            <key>root/qibing_3/idle/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{168,138}}</string>
                <key>offset</key>
                <string>{-38,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{168,138}}</string>
                <key>sourceSize</key>
                <string>{294,172}</string>
            </dict>
            <key>root/qibing_3/idle/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,590},{170,138}}</string>
                <key>offset</key>
                <string>{-38,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{170,138}}</string>
                <key>sourceSize</key>
                <string>{294,172}</string>
            </dict>
            <key>root/qibing_3/idle/90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{170,138}}</string>
                <key>offset</key>
                <string>{-38,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{170,138}}</string>
                <key>sourceSize</key>
                <string>{294,172}</string>
            </dict>
            <key>root/qibing_3/idle/90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,884},{168,138}}</string>
                <key>offset</key>
                <string>{-36,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{168,138}}</string>
                <key>sourceSize</key>
                <string>{294,172}</string>
            </dict>
            <key>root/shaobing_3/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,936},{140,86}}</string>
                <key>offset</key>
                <string>{-32,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,31},{140,86}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>root/shaobing_3/move/90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,936},{144,86}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,35},{144,86}}</string>
                <key>sourceSize</key>
                <string>{166,128}</string>
            </dict>
            <key>root/toushiche_2/hurt/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{172,129}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{172,129}}</string>
                <key>sourceSize</key>
                <string>{198,141}</string>
            </dict>
            <key>root/toushiche_3/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,398},{170,144}}</string>
                <key>offset</key>
                <string>{-180,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{170,144}}</string>
                <key>sourceSize</key>
                <string>{534,166}</string>
            </dict>
            <key>root/toushiche_3/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,114},{172,144}}</string>
                <key>offset</key>
                <string>{-181,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{172,144}}</string>
                <key>sourceSize</key>
                <string>{534,166}</string>
            </dict>
            <key>root/toushiche_3/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,417},{170,144}}</string>
                <key>offset</key>
                <string>{-182,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{170,144}}</string>
                <key>sourceSize</key>
                <string>{534,166}</string>
            </dict>
            <key>root/toushiche_3/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{172,144}}</string>
                <key>offset</key>
                <string>{-181,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{172,144}}</string>
                <key>sourceSize</key>
                <string>{534,166}</string>
            </dict>
            <key>root/toushiche_3/attack/10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,812},{162,146}}</string>
                <key>offset</key>
                <string>{-177,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{162,146}}</string>
                <key>sourceSize</key>
                <string>{534,166}</string>
            </dict>
            <key>root/toushiche_3/hurt/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,516},{154,148}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{154,148}}</string>
                <key>sourceSize</key>
                <string>{172,152}</string>
            </dict>
            <key>root/toushiche_3/hurt/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,666},{160,144}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{160,144}}</string>
                <key>sourceSize</key>
                <string>{172,152}</string>
            </dict>
            <key>root/toushiche_3/move/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{170,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,148}}</string>
                <key>sourceSize</key>
                <string>{170,148}</string>
            </dict>
            <key>root/toushiche_3/move/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,787},{166,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{166,146}}</string>
                <key>sourceSize</key>
                <string>{170,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldiers_animation_90_3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51133ea61cd6212055dfb1b4d55ed180:4/11$</string>
            <key>textureFileName</key>
            <string>soldiers_animation_90_3.png</string>
        </dict>
    </dict>
</plist>
