<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/bubing_3/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,802},{92,122}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,8},{92,122}}</string>
                <key>sourceSize</key>
                <string>{198,130}</string>
            </dict>
            <key>root/bubing_3/move/90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,802},{92,120}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,1},{92,120}}</string>
                <key>sourceSize</key>
                <string>{198,130}</string>
            </dict>
            <key>root/bubing_3/move/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,802},{104,92}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,30},{104,92}}</string>
                <key>sourceSize</key>
                <string>{198,130}</string>
            </dict>
            <key>root/bubing_3/move/90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,802},{108,92}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,30},{108,92}}</string>
                <key>sourceSize</key>
                <string>{198,130}</string>
            </dict>
            <key>root/gongjianshou_3/attack/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,802},{90,92}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{90,92}}</string>
                <key>sourceSize</key>
                <string>{174,102}</string>
            </dict>
            <key>root/jiaorouche/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,190},{194,150}}</string>
                <key>offset</key>
                <string>{-146,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{194,150}}</string>
                <key>sourceSize</key>
                <string>{522,150}</string>
            </dict>
            <key>root/nuche_1/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{194,148}}</string>
                <key>offset</key>
                <string>{-156,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{194,148}}</string>
                <key>sourceSize</key>
                <string>{538,160}</string>
            </dict>
            <key>root/nuche_1/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{176,152}}</string>
                <key>offset</key>
                <string>{-169,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{176,152}}</string>
                <key>sourceSize</key>
                <string>{538,160}</string>
            </dict>
            <key>root/nuche_1/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,731},{166,158}}</string>
                <key>offset</key>
                <string>{-177,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{166,158}}</string>
                <key>sourceSize</key>
                <string>{538,160}</string>
            </dict>
            <key>root/nuche_2/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,96},{200,168}}</string>
                <key>offset</key>
                <string>{-162,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{200,168}}</string>
                <key>sourceSize</key>
                <string>{556,188}</string>
            </dict>
            <key>root/nuche_2/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,350},{170,176}}</string>
                <key>offset</key>
                <string>{-181,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{170,176}}</string>
                <key>sourceSize</key>
                <string>{556,188}</string>
            </dict>
            <key>root/nuche_2/hurt/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,522},{174,164}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,164}}</string>
                <key>sourceSize</key>
                <string>{178,168}</string>
            </dict>
            <key>root/nuche_2/hurt/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,557},{172,158}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{172,158}}</string>
                <key>sourceSize</key>
                <string>{178,168}</string>
            </dict>
            <key>root/nuche_2/move/90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,374},{176,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,160}}</string>
                <key>sourceSize</key>
                <string>{176,160}</string>
            </dict>
            <key>root/nuche_2/move/90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,536},{174,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{176,160}</string>
            </dict>
            <key>root/nuche_2/move/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,640},{174,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{176,160}</string>
            </dict>
            <key>root/nuche_2/move/90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{174,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{176,160}</string>
            </dict>
            <key>root/nuche_2/move/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,478},{176,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,160}}</string>
                <key>sourceSize</key>
                <string>{176,160}</string>
            </dict>
            <key>root/nuche_3/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{208,170}}</string>
                <key>offset</key>
                <string>{-161,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{208,170}}</string>
                <key>sourceSize</key>
                <string>{538,206}</string>
            </dict>
            <key>root/nuche_3/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,174},{190,174}}</string>
                <key>offset</key>
                <string>{-174,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{190,174}}</string>
                <key>sourceSize</key>
                <string>{538,206}</string>
            </dict>
            <key>root/nuche_3/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{176,176}}</string>
                <key>offset</key>
                <string>{-181,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{176,176}}</string>
                <key>sourceSize</key>
                <string>{538,206}</string>
            </dict>
            <key>root/qibing_1/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,96},{204,92}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{204,92}}</string>
                <key>sourceSize</key>
                <string>{226,144}</string>
            </dict>
            <key>root/qibing_1/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{210,92}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{210,92}}</string>
                <key>sourceSize</key>
                <string>{226,144}</string>
            </dict>
            <key>root/qibing_1/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,178},{190,104}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{190,104}}</string>
                <key>sourceSize</key>
                <string>{226,144}</string>
            </dict>
            <key>root/qibing_2/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{210,92}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{210,92}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>root/qibing_2/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,266},{184,106}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{184,106}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>root/qibing_2/hurt/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,421},{134,176}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{134,176}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>root/qibing_2/move/90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{158,126}}</string>
                <key>offset</key>
                <string>{-22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{158,126}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>root/qibing_3/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{174,172}}</string>
                <key>offset</key>
                <string>{-60,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,172}}</string>
                <key>sourceSize</key>
                <string>{294,172}</string>
            </dict>
            <key>root/qibing_3/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,128}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{212,128}}</string>
                <key>sourceSize</key>
                <string>{294,172}</string>
            </dict>
            <key>root/qibing_3/attack/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,342},{182,134}}</string>
                <key>offset</key>
                <string>{-45,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{182,134}}</string>
                <key>sourceSize</key>
                <string>{294,172}</string>
            </dict>
            <key>root/shaobing_1/attack/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,350},{48,112}}</string>
                <key>offset</key>
                <string>{-50,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{48,112}}</string>
                <key>sourceSize</key>
                <string>{226,120}</string>
            </dict>
            <key>root/shaobing_2/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,802},{92,86}}</string>
                <key>offset</key>
                <string>{-39,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,19},{92,86}}</string>
                <key>sourceSize</key>
                <string>{220,116}</string>
            </dict>
            <key>root/shaobing_2/idle/90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,464},{48,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,111}}</string>
                <key>sourceSize</key>
                <string>{50,111}</string>
            </dict>
            <key>root/siwangqishi/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,896},{124,126}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{124,126}}</string>
                <key>sourceSize</key>
                <string>{222,138}</string>
            </dict>
            <key>root/siwangqishi/hurt/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,896},{126,132}}</string>
                <key>offset</key>
                <string>{-36,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{126,132}}</string>
                <key>sourceSize</key>
                <string>{222,138}</string>
            </dict>
            <key>root/toushiche_1/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,896},{146,126}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,126}}</string>
                <key>sourceSize</key>
                <string>{156,126}</string>
            </dict>
            <key>root/toushiche_2/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,284},{184,135}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,135}}</string>
                <key>sourceSize</key>
                <string>{198,141}</string>
            </dict>
            <key>root/toushiche_2/hurt/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,899},{166,123}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{166,123}}</string>
                <key>sourceSize</key>
                <string>{198,141}</string>
            </dict>
            <key>root/youqibing_1/attack/10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{202,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{202,118}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>root/youqibing_2/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,896},{126,124}}</string>
                <key>offset</key>
                <string>{-45,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,124}}</string>
                <key>sourceSize</key>
                <string>{216,124}</string>
            </dict>
            <key>root/youqibing_2/hurt/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,687},{110,112}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{110,112}}</string>
                <key>sourceSize</key>
                <string>{126,116}</string>
            </dict>
            <key>root/youqibing_3/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,896},{128,126}}</string>
                <key>offset</key>
                <string>{-45,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{128,126}}</string>
                <key>sourceSize</key>
                <string>{220,132}</string>
            </dict>
            <key>root/youqibing_3/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,577},{126,108}}</string>
                <key>offset</key>
                <string>{-44,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{126,108}}</string>
                <key>sourceSize</key>
                <string>{220,132}</string>
            </dict>
            <key>root/youqibing_3/attack/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,688},{128,112}}</string>
                <key>offset</key>
                <string>{-45,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{128,112}}</string>
                <key>sourceSize</key>
                <string>{220,132}</string>
            </dict>
            <key>root/youqibing_3/attack/10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,698},{130,102}}</string>
                <key>offset</key>
                <string>{-44,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{130,102}}</string>
                <key>sourceSize</key>
                <string>{220,132}</string>
            </dict>
            <key>root/youqibing_3/move/90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,698},{130,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,102}}</string>
                <key>sourceSize</key>
                <string>{132,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldiers_animation_90_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51133ea61cd6212055dfb1b4d55ed180:3/11$</string>
            <key>textureFileName</key>
            <string>soldiers_animation_90_2.png</string>
        </dict>
    </dict>
</plist>
