<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{377,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,377}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>root/lanse/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,364}}</string>
                <key>offset</key>
                <string>{55,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,49},{390,364}}</string>
                <key>sourceSize</key>
                <string>{500,414}</string>
            </dict>
            <key>root/lvse/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,366},{386,360}}</string>
                <key>offset</key>
                <string>{56,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,47},{386,360}}</string>
                <key>sourceSize</key>
                <string>{498,408}</string>
            </dict>
            <key>root/zise/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{388,362}}</string>
                <key>offset</key>
                <string>{55,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,48},{388,362}}</string>
                <key>sourceSize</key>
                <string>{498,412}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_animation_5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0abcb75599e7ecf69df6c1330e04052:6/7$</string>
            <key>textureFileName</key>
            <string>ui_animation_5.png</string>
        </dict>
    </dict>
</plist>
