<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,790},{229,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,231}}</string>
                <key>sourceSize</key>
                <string>{229,231}</string>
            </dict>
            <key>jinji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{531,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,148}}</string>
                <key>sourceSize</key>
                <string>{531,148}</string>
            </dict>
            <key>root/guang/guang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{238,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,102}}</string>
                <key>sourceSize</key>
                <string>{238,102}</string>
            </dict>
            <key>root/jin/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,790},{244,199}}</string>
                <key>offset</key>
                <string>{37,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,62},{244,199}}</string>
                <key>sourceSize</key>
                <string>{318,261}</string>
            </dict>
            <key>root/jin/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,472},{316,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{316,261}}</string>
                <key>sourceSize</key>
                <string>{318,261}</string>
            </dict>
            <key>root/lanse/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{325,267}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{325,267}}</string>
                <key>sourceSize</key>
                <string>{325,269}</string>
            </dict>
            <key>root/mu/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,516},{274,248}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,12},{274,248}}</string>
                <key>sourceSize</key>
                <string>{316,260}</string>
            </dict>
            <key>root/npc_nan/npc_nan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{446,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,512}}</string>
                <key>sourceSize</key>
                <string>{446,512}</string>
            </dict>
            <key>root/tong/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,516},{244,199}}</string>
                <key>offset</key>
                <string>{37,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,62},{244,199}}</string>
                <key>sourceSize</key>
                <string>{318,261}</string>
            </dict>
            <key>root/tong/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,152},{318,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,261}}</string>
                <key>sourceSize</key>
                <string>{318,261}</string>
            </dict>
            <key>root/yin/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,766},{274,248}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,12},{274,248}}</string>
                <key>sourceSize</key>
                <string>{316,260}</string>
            </dict>
            <key>root/zise/a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{322,266}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,266}}</string>
                <key>sourceSize</key>
                <string>{324,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_animation_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cb0da60067423a6c39d41fd2c4aea0b:2/3$</string>
            <key>textureFileName</key>
            <string>ui_animation_1.png</string>
        </dict>
    </dict>
</plist>
